SECRET_KEY="django-insecure-kex=ipoau_q(o_w=6bd8q6_sb2#xgkdbknq4m&hl2jtx(7#$n_"
DB_NAME="opendms"
DB_USER="opendms"
#
# For peer authentication via unix domain socket
# these should be kept empty.
#
DB_PASSWORD=""
DB_HOST=""
DB_PORT=""

# Uncomment to record HTTP fixtures for the VCR tests
# Should be fine to leave as "once" in dev, but *not* in CI.
# VCR_RECORD_MODE="once"
