interactions:
- request:
    body: '{"uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"https://www.williamson.com/","identificatie":"59cc5153-aa05-4c85-a520-d5a1cf5a2b61","bronorganisatie":"Gilmore-Powell","creatiedatum":"2026-02-19","titel":"Kitchen
      appear stage news military.","auteur":"Madison Perez","taal":"es","begin_registratie":"2026-03-16T21:15:55.872715","informatieobjecttype":"thought","vertrouwelijkheidaanduiding":"more","status":"film","formaat":"pptx","bestandsnaam":"coach.mp4","link":"https://hansen.com/","beschrijving":"Need
      city meeting wide. Not citizen child adult. Create power man particularly civil.
      Day attention generation interest arrive break wife wind.","verschijningsvorm":"lawyer"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-03-16T21:15:55.872715","beschrijving":"Need
        city meeting wide. Not citizen child adult. Create power man particularly
        civil. Day attention generation interest arrive break wife wind.","verschijningsvorm":"lawyer","identificatie":"59cc5153-aa05-4c85-a520-d5a1cf5a2b61","bronorganisatie":"Gilmore-Powell","link":"https://hansen.com/","uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"https://www.williamson.com/","taal":"es","auteur":"Madison
        Perez","formaat":"pptx","titel":"Kitchen appear stage news military.","vertrouwelijkheidaanduiding":"more","informatieobjecttype":"thought","bestandsnaam":"coach.mp4","creatiedatum":"2026-02-19","status":"film"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?if_primary_term=1&if_seq_no=0
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
