interactions:
- request:
    body: '{"uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"http://www.wilson-martin.com/","identificatie":"8703c5b7-9941-48b9-b0a9-c4f22fb33482","bronorganisatie":"Herring-Combs","creatiedatum":"2026-02-23","titel":"Force
      music Democrat amount.","auteur":"John Galloway","taal":"bo","begin_registratie":"2026-02-05T06:12:17.800220","informatieobjecttype":"reach","vertrouwelijkheidaanduiding":"draw","status":"indeed","formaat":"css","bestandsnaam":"southern.avi","link":"https://blackburn.com/","beschrijving":"Yes
      it finish voice organization. Arrive accept land will unit every.","ontvangstdatum":"2026-02-23","verzenddatum":"2026-02-11","verschijningsvorm":"address"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-02-05T06:12:17.800220","beschrijving":"Yes
        it finish voice organization. Arrive accept land will unit every.","verschijningsvorm":"address","identificatie":"8703c5b7-9941-48b9-b0a9-c4f22fb33482","bronorganisatie":"Herring-Combs","link":"https://blackburn.com/","uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"http://www.wilson-martin.com/","taal":"bo","verzenddatum":"2026-02-11","auteur":"John
        Galloway","formaat":"css","titel":"Force music Democrat amount.","vertrouwelijkheidaanduiding":"draw","informatieobjecttype":"reach","bestandsnaam":"southern.avi","ontvangstdatum":"2026-02-23","creatiedatum":"2026-02-23","status":"indeed"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?if_primary_term=1&if_seq_no=0
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
