interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.harris.org/","identificatie":"a44fe10a-b735-4ccc-9cad-66d732dbf1b8","bronorganisatie":"Wiley-Gardner","creatiedatum":"2026-02-24","titel":"Document
      one","auteur":"John Patel","taal":"de","begin_registratie":"2026-01-27T20:30:45.243172","informatieobjecttype":"newspaper","vertrouwelijkheidaanduiding":"television","status":"yes","formaat":"avi","bestandsnaam":"security.gif","link":"https://www.byrd-diaz.com/","beschrijving":"snowflake1","ontvangstdatum":"2026-02-08","verzenddatum":"2026-02-20","verschijningsvorm":"less"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":12,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"http://hughes.info/","identificatie":"ffd62418-3fcb-4d50-98ec-7f5408debd8f","bronorganisatie":"Howell,
      Bates and Bennett","creatiedatum":"2026-01-29","titel":"Document two","auteur":"Brandon
      Herrera","taal":"lzh","begin_registratie":"2026-02-24T15:54:13.576896","informatieobjecttype":"here","vertrouwelijkheidaanduiding":"month","status":"receive","formaat":"odt","bestandsnaam":"way.mp3","link":"https://williams-brown.com/","beschrijving":"snowflake2","ontvangstdatum":"2026-01-31","verzenddatum":"2026-02-01","verschijningsvorm":"source"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      + one","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":1.4620917,"_source":{"begin_registratie":"2026-01-27T20:30:45.243172","beschrijving":"snowflake1","verschijningsvorm":"less","identificatie":"a44fe10a-b735-4ccc-9cad-66d732dbf1b8","bronorganisatie":"Wiley-Gardner","link":"https://www.byrd-diaz.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.harris.org/","taal":"de","verzenddatum":"2026-02-20","auteur":"John
        Patel","formaat":"avi","titel":"Document one","vertrouwelijkheidaanduiding":"television","informatieobjecttype":"newspaper","bestandsnaam":"security.gif","ontvangstdatum":"2026-02-08","creatiedatum":"2026-02-24","status":"yes"},"sort":[1.4620917,1771891200000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
