interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://www.harris-hogan.net/","identificatie":"5cbe1900-5c54-4118-a92c-c547dbcb55c1","bronorganisatie":"Jones-Stephens","creatiedatum":"2026-02-14","titel":"","auteur":"Brent
      Barr","taal":"kn","begin_registratie":"2026-02-15T14:56:37.853074","informatieobjecttype":"into","vertrouwelijkheidaanduiding":"word","status":"you","formaat":"xls","bestandsnaam":"newspaper.xlsx","link":"http://www.castro.com/","beschrijving":"Document
      one, on which we expect an exact phrase match.","ontvangstdatum":"2026-01-31","verzenddatum":"2026-02-17","verschijningsvorm":"quickly"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":26,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://www.white.com/","identificatie":"5d2114b4-218a-41d5-9678-a06f8e4bfd99","bronorganisatie":"Lawson,
      Anthony and Berry","creatiedatum":"2026-02-16","titel":"","auteur":"Alexa Dunn","taal":"quz","begin_registratie":"2026-02-14T16:12:00.527906","informatieobjecttype":"cost","vertrouwelijkheidaanduiding":"go","status":"thought","formaat":"ods","bestandsnaam":"more.wav","link":"https://www.carrillo.info/","beschrijving":"Document
      two, the document that came after one.","ontvangstdatum":"2026-02-20","verzenddatum":"2026-02-07","verschijningsvorm":"information"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":27,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^10","titel^5","bronorganisatie^2","bestandsnaam^1.2","beschrijving^1","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"aggs":{"ResultType":{"terms":{"field":"_index"}}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":3.8084288,"_source":{"begin_registratie":"2026-02-15T14:56:37.853074","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"quickly","identificatie":"5cbe1900-5c54-4118-a92c-c547dbcb55c1","bronorganisatie":"Jones-Stephens","link":"http://www.castro.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://www.harris-hogan.net/","taal":"kn","verzenddatum":"2026-02-17","auteur":"Brent
        Barr","formaat":"xls","titel":"","vertrouwelijkheidaanduiding":"word","informatieobjecttype":"into","bestandsnaam":"newspaper.xlsx","ontvangstdatum":"2026-01-31","creatiedatum":"2026-02-14","status":"you"},"sort":[3.8084288,1771027200000]}]},"aggregations":{"ResultType":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"document","doc_count":1}]}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
