interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://townsend.biz/","identificatie":"dbfa9db3-0479-4b6d-b292-9ba79abaa7aa","bronorganisatie":"Lewis
      Group","creatiedatum":"2026-02-06","titel":"Test Document","auteur":"Michael
      Rice","taal":"tn","begin_registratie":"2026-01-29T21:10:31.581809","informatieobjecttype":"join","vertrouwelijkheidaanduiding":"audience","status":"clearly","formaat":"html","bestandsnaam":"exist.webm","link":"https://bradford.com/","beschrijving":"A
      test document description","ontvangstdatum":"2026-02-19","verzenddatum":"2026-02-20","verschijningsvorm":"foreign"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":0.37817475,"_source":{"begin_registratie":"2026-01-29T21:10:31.581809","beschrijving":"A
        test document description","verschijningsvorm":"foreign","identificatie":"dbfa9db3-0479-4b6d-b292-9ba79abaa7aa","bronorganisatie":"Lewis
        Group","link":"https://bradford.com/","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://townsend.biz/","taal":"tn","verzenddatum":"2026-02-20","auteur":"Michael
        Rice","formaat":"html","titel":"Test Document","vertrouwelijkheidaanduiding":"audience","informatieobjecttype":"join","bestandsnaam":"exist.webm","ontvangstdatum":"2026-02-19","creatiedatum":"2026-02-06","status":"clearly"},"sort":[0.37817475,1770336000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
