interactions:
- request:
    body: '{"uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"http://davis.com/","identificatie":"5ffb22c6-896a-481f-9dfb-4e095018b5cd","bronorganisatie":"Campbell
      Ltd","creatiedatum":"2026-02-06","titel":"Read significant marriage reason enter.","auteur":"Kyle
      Johnson","taal":"mk","begin_registratie":"2026-02-05T05:48:17.574480","informatieobjecttype":"half","vertrouwelijkheidaanduiding":"culture","status":"customer","formaat":"bmp","bestandsnaam":"poor.mp3","link":"http://www.berger.com/","beschrijving":"Available
      true everything instead mention address campaign. Blue today whose city go.","ontvangstdatum":"2026-02-10","verzenddatum":"2026-02-12","verschijningsvorm":"must"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"http://marshall.com/","identificatie":"b57448cf-d8f3-4ddf-9013-4f0426737bec","bronorganisatie":"Simmons,
      Boyd and Shelton","creatiedatum":"2026-02-12","titel":"Individual much series
      fine return message same land.","auteur":"Robert Frazier","taal":"ms","begin_registratie":"2026-02-11T11:04:17.551986","informatieobjecttype":"TV","vertrouwelijkheidaanduiding":"agree","status":"physical","formaat":"jpeg","bestan[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"48981334-b480-4e7d-8c8d-925bbc67a969","_score":0.8220509,"_source":{"begin_registratie":"2026-02-11T11:04:17.551986","beschrijving":"She
        opportunity begin word door contain four. Answer relate report Democrat well.","verschijningsvorm":"minute","identificatie":"b57448cf-d8f3-4ddf-9013-4f0426737bec","bronorganisatie":"Simmons,
        Boyd and Shelton","link":"http://www.jennings-morris.com/","uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"http://marshall.com/","taal":"ms","verzenddatum":"2026-01-27","auteur":"Robert
        Frazier","formaat":"jpeg","titel":"Individual much series fine return message
        same land.","vertrouwelijkheidaanduiding":"agree","informatieobjecttype":"TV","bestandsnaam":"shake.tiff","ontvangstdatum":"2026-01-31","creatiedatum":"2026-02-12","status":"physical"},"sort":[0.8220509,1770854400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
