interactions:
- request:
    body: '{"uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"https://white.com/","identificatie":"document1","bronorganisatie":"Chandler-Sanchez","creatiedatum":"2026-01-26","titel":"Unique
      Document","auteur":"Robert Santos","taal":"mi","begin_registratie":"2026-02-11T05:32:47.147943","informatieobjecttype":"information","vertrouwelijkheidaanduiding":"physical","status":"yes","formaat":"wav","bestandsnaam":"force.png","link":"http://castillo.com/","beschrijving":"Remain
      safe poor each meeting. Senior future but figure development whole case. Resource
      American day long case character fine.","ontvangstdatum":"2026-02-05","verzenddatum":"2026-01-29","verschijningsvorm":"may"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_score":4.2217984,"_source":{"begin_registratie":"2026-02-11T05:32:47.147943","beschrijving":"Remain
        safe poor each meeting. Senior future but figure development whole case. Resource
        American day long case character fine.","verschijningsvorm":"may","identificatie":"document1","bronorganisatie":"Chandler-Sanchez","link":"http://castillo.com/","uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"https://white.com/","taal":"mi","verzenddatum":"2026-01-29","auteur":"Robert
        Santos","formaat":"wav","titel":"Unique Document","vertrouwelijkheidaanduiding":"physical","informatieobjecttype":"information","bestandsnaam":"force.png","ontvangstdatum":"2026-02-05","creatiedatum":"2026-01-26","status":"yes"},"sort":[4.2217984,1769385600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
