interactions:
- request:
    body: '{"uuid":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","url":"https://diaz.com/","identificatie":"82f47d7f-1cd0-4ccd-9ce6-b4e1a9d6eaa2","bronorganisatie":"Taylor
      Group","creatiedatum":"2026-01-02","titel":"What real realize ten mother attack.","auteur":"Alexandra
      Hickman","taal":"sat","begin_registratie":"2026-02-24T06:55:05.236962","informatieobjecttype":"tax","vertrouwelijkheidaanduiding":"point","status":"pressure","formaat":"txt","bestandsnaam":"kind.txt","link":"https://combs-hensley.com/","beschrijving":"Since
      worker approach. Anyone decide perform can teacher shoulder time. Degree bag
      serious nearly.","ontvangstdatum":"2026-02-19","verzenddatum":"2026-02-17","verschijningsvorm":"factor"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":34,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"https://www.weaver-parker.com/","identificatie":"ffd7c03b-0baf-41b5-89a0-985a2160421a","bronorganisatie":"Bush-Page","creatiedatum":"2026-01-03","titel":"Trip
      four agency letter however itself.","auteur":"Alexis Barton","taal":"ckb","begin_registratie":"2026-02-15T22:28:54.360093","informatieobjecttype":"government","vertrouwelijkheidaanduiding":"second","status":"discover","formaat":"txt","bestandsnaam":"capital.g[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":[{"creatiedatum":{"order":"desc"}},"_score"],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","_score":0.96296114,"_source":{"begin_registratie":"2026-02-15T22:28:54.360093","beschrijving":"Professional
        debate investment modern industry. Power out page much region civil. Travel
        father reduce someone first board alone.","verschijningsvorm":"professor","identificatie":"ffd7c03b-0baf-41b5-89a0-985a2160421a","bronorganisatie":"Bush-Page","link":"http://www.davis-scott.net/","uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"https://www.weaver-parker.com/","taal":"ckb","verzenddatum":"2026-02-23","auteur[...]
