interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"https://jones.info/","identificatie":"43067d4c-ac80-4049-b1cd-1e2303aff5d0","bronorganisatie":"Hall
      Ltd","creatiedatum":"2026-01-29","titel":"Throughout even ever minute.","auteur":"Donna
      Griffin","taal":"apn","begin_registratie":"2026-02-19T20:01:02.481263","informatieobjecttype":"notice","vertrouwelijkheidaanduiding":"traditional","status":"budget","formaat":"wav","bestandsnaam":"population.flac","link":"https://www.daniels-jackson.org/","beschrijving":"Campaign
      with painting now agree walk. Animal you great watch parent to.","ontvangstdatum":"2026-02-15","verzenddatum":"2026-02-10","verschijningsvorm":"make"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"http://chapman-finley.com/","identificatie":"ba2a17af-fa15-4900-b871-145d480723fe","bronorganisatie":"Mcfarland,
      Green and Cunningham","creatiedatum":"2026-01-26","titel":"Apply save hospital
      expert reach story.","auteur":"Victor Webster","taal":"ps","begin_registratie":"2026-02-17T16:37:46.929453","informatieobjecttype":"money","vertrouwelijkheidaanduiding":"skin","status":"whose","formaat":"doc","bestandsna[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":1,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"48981334-b480-4e7d-8c8d-925bbc67a969","_score":1.0,"_source":{"begin_registratie":"2026-02-17T16:37:46.929453","beschrijving":"Create
        explain music. Group lose man walk without local.","verschijningsvorm":"clearly","identificatie":"ba2a17af-fa15-4900-b871-145d480723fe","bronorganisatie":"Mcfarland,
        Green and Cunningham","link":"http://flores-price.info/","uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"http://chapman-finley.com/","taal":"ps","verzenddatum":"2026-02-03","auteur":"Victor
        Webster","formaat":"doc","titel":"Apply save hospital expert reach story.","vertrouwelijkheidaanduiding":"skin","informatieobjecttype":"money","bestandsnaam":"of.png","ontvangstdatum":"2026-02-20","creatiedatum":"2026-01-26","status":"whose"},"sort":[1.0,1769385600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
