interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.gonzales.com/","identificatie":"9bba33aa-fd61-4d6e-a268-e0fe147c0726","bronorganisatie":"Murray
      PLC","creatiedatum":"2026-02-02","titel":"","auteur":"Scott Howard","taal":"cv","begin_registratie":"2026-02-21T04:57:50.900826","informatieobjecttype":"the","vertrouwelijkheidaanduiding":"school","status":"skill","formaat":"json","bestandsnaam":"hot.odp","link":"https://avila-smith.com/","beschrijving":"Document
      one, on which we expect an exact phrase match.","ontvangstdatum":"2026-02-23","verzenddatum":"2026-02-06","verschijningsvorm":"ask"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":30,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"http://byrd.biz/","identificatie":"57a2fd7d-103f-47f7-8348-06840e6d14cd","bronorganisatie":"Allen-Love","creatiedatum":"2026-02-16","titel":"","auteur":"Michael
      Kelley","taal":"sw","begin_registratie":"2026-02-22T09:25:31.257473","informatieobjecttype":"detail","vertrouwelijkheidaanduiding":"choice","status":"east","formaat":"mov","bestandsnaam":"play.json","link":"https://www.stuart.net/","beschrijving":"Document
      two, the document that came after one.","ontvangstdatum":"2026-02-17","verzenddatum":"2026-02-21","verschijningsvorm":"provide"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":31,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":4.5107045,"_source":{"begin_registratie":"2026-02-21T04:57:50.900826","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"ask","identificatie":"9bba33aa-fd61-4d6e-a268-e0fe147c0726","bronorganisatie":"Murray
        PLC","link":"https://avila-smith.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.gonzales.com/","taal":"cv","verzenddatum":"2026-02-06","auteur":"Scott
        Howard","formaat":"json","titel":"","vertrouwelijkheidaanduiding":"school","informatieobjecttype":"the","bestandsnaam":"hot.odp","ontvangstdatum":"2026-02-23","creatiedatum":"2026-02-02","status":"skill"},"sort":[4.5107045,1769990400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
