interactions:
- request:
    body: '{"uuid":"9c3360b8-2ce7-4742-9051-e586b686fc48","url":"http://day-barr.biz/","identificatie":"829cba1e-2c0e-4bde-9de3-3860c0f890ab","bronorganisatie":"Dean-Turner","creatiedatum":"2026-02-03","titel":"Scientist
      leg then letter once business.","auteur":"Eric Cummings","taal":"he","begin_registratie":"2026-02-17T22:16:10.924151","informatieobjecttype":"only","vertrouwelijkheidaanduiding":"close","status":"significant","formaat":"ods","bestandsnaam":"teacher.flac","link":"https://www.miller-dawson.net/","beschrijving":"Series
      when town professional by forward any. Fear economy include scene physical allow.
      Eye chance bit.","ontvangstdatum":"2026-02-03","verzenddatum":"2026-02-17","verschijningsvorm":"reality"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9c3360b8-2ce7-4742-9051-e586b686fc48","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":16,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"37eb1144-a3da-48d1-b2fb-88075f781611","url":"http://smith-jordan.com/","identificatie":"aa5163b9-3b8d-456d-8da2-2401c09148d6","bronorganisatie":"Frye-Meyers","creatiedatum":"2026-02-11","titel":"Document
      one of many","auteur":"Linda Forbes","taal":"hy","begin_registratie":"2026-01-31T16:04:36.751523","informatieobjecttype":"method","vertrouwelijkheidaanduiding":"senior","status":"positive","formaat":"html","bestandsnaam":"police.mp4","link":"https://oconnor.c[...]
- request:
    body: '{"uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"https://lucero.biz/","identificatie":"dee2fbbe-dc4a-4c9c-a1c5-91d1c455aa9c","bronorganisatie":"Collins,
      Bird and Lane","creatiedatum":"2026-02-02","titel":"Document two of many","auteur":"Susan
      Wells","taal":"hne","begin_registratie":"2026-02-12T08:15:55.885223","informatieobjecttype":"according","vertrouwelijkheidaanduiding":"environmental","status":"security","formaat":"wav","bestandsnaam":"cup.flac","link"[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      two","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"da45268a-ab21-4a81-bfc4-b0430edf339b","_score":4.5814757,"_source":{"begin_registratie":"2026-02-12T08:15:55.885223","beschrijving":"Sport
        share high prove. Successful arrive movement rise exactly reduce.","verschijningsvorm":"father","identificatie":"dee2fbbe-dc4a-4c9c-a1c5-91d1c455aa9c","bronorganisatie":"Collins,
        Bird and Lane","link":"https://hooper-dickerson.net/","uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"https://lucero.biz/","taal":"hne","verzenddatum":"2026-02-05","auteur":"Susan
        Wells","formaat":"wav","titel":"Document two of many","vertrouwelijkheidaanduiding":"environmental","informatieobjecttype":"according","bestandsnaam":"cup.flac","ontvangstdatum":"2026-01-29","creatiedatum":"2026-02-02","status":"security"},"sort":[4.5814757,1769990400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
