interactions:
- request:
    body: '{"uuid":"9c3360b8-2ce7-4742-9051-e586b686fc48","url":"http://www.mitchell.com/","identificatie":"5670950f-37e2-47a5-ba2e-6b336bf8eb6a","bronorganisatie":"Smith-Sims","creatiedatum":"2026-02-04","titel":"Each
      mother plan.","auteur":"Robert Evans","taal":"szl","begin_registratie":"2026-02-04T21:30:25.374438","informatieobjecttype":"middle","vertrouwelijkheidaanduiding":"drug","status":"however","formaat":"bmp","bestandsnaam":"present.avi","link":"http://thompson.com/","beschrijving":"My
      section start early heart morning. East analysis term could several choose.
      Seven network senior economic.","ontvangstdatum":"2026-02-06","verzenddatum":"2026-02-15","verschijningsvorm":"seek"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9c3360b8-2ce7-4742-9051-e586b686fc48","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":16,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"37eb1144-a3da-48d1-b2fb-88075f781611","url":"https://jones-simpson.com/","identificatie":"efd116a1-9e56-4d0f-bf3e-1b7e302f4d80","bronorganisatie":"Ramirez-Cunningham","creatiedatum":"2026-02-12","titel":"Document
      one of many","auteur":"Christy Young","taal":"bs","begin_registratie":"2026-02-17T04:50:37.687404","informatieobjecttype":"market","vertrouwelijkheidaanduiding":"notice","status":"soldier","formaat":"flac","bestandsnaam":"military.gif","link":"http://barker.com/","beschrijving":"Nice
      early radio possible fine light. Mrs story add end blood.","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-09","verschijningsvorm":"fill"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/37eb1144-a3da-48d1-b2fb-88075f781611?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"37eb1144-a3da-48d1-b2fb-88075f781611","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":17,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/37eb1144-a3da-48d1-b2fb-88075f781611
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"http://edwards.com/","identificatie":"c2ab7f70-4fbf-4abc-b19c-4529a0354002","bronorganisatie":"Bass,
      Gray and Gallagher","creatiedatum":"2026-02-12","titel":"Document two of many","auteur":"Samantha
      Lowery","taal":"kw","begin_registratie":"2026-02-04T00:41:56.852286","informatieobjecttype":"stay","vertrouwelijkheidaanduiding":"should","status":"method","formaat":"html","bestandsnaam":"word.mp3","link":"https:[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      two","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"da45268a-ab21-4a81-bfc4-b0430edf339b","_score":2.8234863,"_source":{"begin_registratie":"2026-02-04T00:41:56.852286","beschrijving":"Very
        pattern fast buy west whom. Poor down poor edge need risk white. Actually
        sign color threat above.","verschijningsvorm":"way","identificatie":"c2ab7f70-4fbf-4abc-b19c-4529a0354002","bronorganisatie":"Bass,
        Gray and Gallagher","link":"https://www.willis.biz/","uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"http://edwards.com/","taal":"kw","verzenddatum":"2026-02-12","auteur":"Samantha
        Lowery","formaat":"html","titel":"Document two of many","vertrouwelijkheidaanduiding":"should","informatieobjecttype":"stay","bestandsnaam":"word.mp3","ontvangstdatum":"2026-02-11","creatiedatum":"2026-02-12","status":"method"},"sort":[2.8234863,1770854400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
