interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://clark-beck.com/","identificatie":"9091127c-f224-4b0b-92d0-529595679ecf","bronorganisatie":"Riley-Robertson","creatiedatum":"2026-02-14","titel":"Document
      one","auteur":"Alexis Campbell","taal":"ht","begin_registratie":"2026-02-17T04:12:15.180910","informatieobjecttype":"wear","vertrouwelijkheidaanduiding":"behind","status":"apply","formaat":"jpeg","bestandsnaam":"back.csv","link":"https://www.rowe.com/","beschrijving":"snowflake1","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-06","verschijningsvorm":"wrong"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":12,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://vasquez.com/","identificatie":"644a2138-40df-42c3-ad57-02f08926f9e2","bronorganisatie":"Higgins,
      Parker and Wheeler","creatiedatum":"2026-02-14","titel":"Document two","auteur":"Julia
      James","taal":"bn","begin_registratie":"2026-02-18T04:48:39.307194","informatieobjecttype":"citizen","vertrouwelijkheidaanduiding":"place","status":"keep","formaat":"webm","bestandsnaam":"newspaper.webm","link":"http://www.espinoza-williams.com/","beschrijving":"snowflake2","ontvangstdatum":"2026-01-29","verzenddatum":"2026-02-14","verschijningsvorm":"plant"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      + one","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":6.0858746,"_source":{"begin_registratie":"2026-02-17T04:12:15.180910","beschrijving":"snowflake1","verschijningsvorm":"wrong","identificatie":"9091127c-f224-4b0b-92d0-529595679ecf","bronorganisatie":"Riley-Robertson","link":"https://www.rowe.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://clark-beck.com/","taal":"ht","verzenddatum":"2026-02-06","auteur":"Alexis
        Campbell","formaat":"jpeg","titel":"Document one","vertrouwelijkheidaanduiding":"behind","informatieobjecttype":"wear","bestandsnaam":"back.csv","ontvangstdatum":"2026-02-07","creatiedatum":"2026-02-14","status":"apply"},"sort":[6.0858746,1771027200000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
