interactions:
- request:
    body: '{"uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"https://adams-smith.biz/","identificatie":"e794faa2-79c7-4bca-bd8f-7fe791ef43aa","bronorganisatie":"Davis
      PLC","creatiedatum":"2026-01-26","titel":"Require name series large.","auteur":"John
      Griffith","taal":"nr","begin_registratie":"2026-02-04T12:42:13.293330","informatieobjecttype":"arm","vertrouwelijkheidaanduiding":"wear","status":"develop","formaat":"wav","bestandsnaam":"son.xlsx","link":"http://www.erickson.com/","beschrijving":"Interview
      order movement act great life meeting. Top develop leave common. Attorney worker
      often crime senior rest institution.","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-13","verschijningsvorm":"lawyer"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://mason.com/","identificatie":"2d26d0f3-a6a5-41d0-adb8-2531059df1e5","bronorganisatie":"Brown
      Ltd","creatiedatum":"2026-01-29","titel":"Weight best ten expert budget event
      author.","auteur":"Shawn Hunt","taal":"ln","begin_registratie":"2026-01-29T07:27:59.349582","informatieobjecttype":"remain","vertrouwelijkheidaanduiding":"major","status":"guy","formaat":"xls","bestandsnaam":"only.json","link":"https://www.alvarado.com/","beschrijving":"Themselves
      decision wrong. Move speech career write culture success.","ontvangstdatum":"2026-02-12","verzenddatum":"2026-02-20","verschijningsvorm":"off"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/48981334-b480-4e7d-8c8d-925bbc67a969?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"48981334-b480-4e7d-8c8d-925bbc67a969","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/48981334-b480-4e7d-8c8d-925bbc67a969
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_score":0.63604176,"_source":{"begin_registratie":"2026-02-04T12:42:13.293330","beschrijving":"Interview
        order movement act great life meeting. Top develop leave common. Attorney
        worker often crime senior rest institution.","verschijningsvorm":"lawyer","identificatie":"e794faa2-79c7-4bca-bd8f-7fe791ef43aa","bronorganisatie":"Davis
        PLC","link":"http://www.erickson.com/","uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"https://adams-smith.biz/","taal":"nr","verzenddatum":"2026-02-13","auteur":"John
        Griffith","formaat":"wav","titel":"Require name series large.","vertrouwelijkheidaanduiding":"wear","informatieobjecttype":"arm","bestandsnaam":"son.xlsx","ontvangstdatum":"2026-02-07","creatiedatum":"2026-01-26","status":"develop"},"sort":[0.63604176,1769385600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
