interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://clark.info/","identificatie":"6db5dc64-801e-4a07-8d0b-6601150a1000","bronorganisatie":"Bryan-Todd","creatiedatum":"2026-02-01","titel":"Test
      Document","auteur":"Joshua Pierce","taal":"nds","begin_registratie":"2026-02-04T21:39:26.123762","informatieobjecttype":"interest","vertrouwelijkheidaanduiding":"order","status":"in","formaat":"mov","bestandsnaam":"let.pages","link":"http://ruiz.net/","beschrijving":"A
      test document description","ontvangstdatum":"2026-02-10","verzenddatum":"2026-02-09","verschijningsvorm":"share"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"aggs":{"ResultType":{"terms":{"field":"_index"}}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":0.6620462,"_source":{"begin_registratie":"2026-02-04T21:39:26.123762","beschrijving":"A
        test document description","verschijningsvorm":"share","identificatie":"6db5dc64-801e-4a07-8d0b-6601150a1000","bronorganisatie":"Bryan-Todd","link":"http://ruiz.net/","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://clark.info/","taal":"nds","verzenddatum":"2026-02-09","auteur":"Joshua
        Pierce","formaat":"mov","titel":"Test Document","vertrouwelijkheidaanduiding":"order","informatieobjecttype":"interest","bestandsnaam":"let.pages","ontvangstdatum":"2026-02-10","creatiedatum":"2026-02-01","status":"in"},"sort":[0.6620462,1769904000000]}]},"aggregations":{"ResultType":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"document","doc_count":1}]}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
