interactions:
- request:
    body: '{"uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://www.friedman-jones.com/","identificatie":"document1","bronorganisatie":"Gutierrez
      Ltd","creatiedatum":"2026-02-16","titel":"Unique Document","auteur":"Micheal
      Mack","taal":"lg","begin_registratie":"2026-01-29T07:00:14.578778","informatieobjecttype":"agree","vertrouwelijkheidaanduiding":"still","status":"like","formaat":"flac","bestandsnaam":"ahead.ppt","link":"https://garner.com/","beschrijving":"Usually
      present world why free ok. Bit inside free general already property pass realize.
      Late say small party.","ontvangstdatum":"2026-01-30","verzenddatum":"2026-02-10","verschijningsvorm":"truth"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_score":1.1656698,"_source":{"begin_registratie":"2026-01-29T07:00:14.578778","beschrijving":"Usually
        present world why free ok. Bit inside free general already property pass realize.
        Late say small party.","verschijningsvorm":"truth","identificatie":"document1","bronorganisatie":"Gutierrez
        Ltd","link":"https://garner.com/","uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://www.friedman-jones.com/","taal":"lg","verzenddatum":"2026-02-10","auteur":"Micheal
        Mack","formaat":"flac","titel":"Unique Document","vertrouwelijkheidaanduiding":"still","informatieobjecttype":"agree","bestandsnaam":"ahead.ppt","ontvangstdatum":"2026-01-30","creatiedatum":"2026-02-16","status":"like"},"sort":[1.1656698,1771200000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
