interactions:
- request:
    body: '{"uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://adkins.info/","identificatie":"document1","bronorganisatie":"Reyes,
      Burton and Thompson","creatiedatum":"2026-01-26","titel":"Unique Document","auteur":"Corey
      Roy","taal":"ss","begin_registratie":"2026-01-28T20:15:55.367503","informatieobjecttype":"show","vertrouwelijkheidaanduiding":"trip","status":"national","formaat":"csv","bestandsnaam":"will.mp4","link":"https://www.hamilton-clark.com/","beschrijving":"Challenge
      may summer name out ability. Cost run effort near debate near newspaper itself.
      Both remember mouth note production rather.","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-04","verschijningsvorm":"night"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["identificatie^10","titel^5","bronorganisatie^2","bestandsnaam^1.2","beschrijving^1","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"aggs":{"ResultType":{"terms":{"field":"_index"}}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_score":5.2888994,"_source":{"begin_registratie":"2026-01-28T20:15:55.367503","beschrijving":"Challenge
        may summer name out ability. Cost run effort near debate near newspaper itself.
        Both remember mouth note production rather.","verschijningsvorm":"night","identificatie":"document1","bronorganisatie":"Reyes,
        Burton and Thompson","link":"https://www.hamilton-clark.com/","uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://adkins.info/","taal":"ss","verzenddatum":"2026-02-04","auteur":"Corey
        Roy","formaat":"csv","titel":"Unique Document","vertrouwelijkheidaanduiding":"trip","informatieobjecttype":"show","bestandsnaam":"will.mp4","ontvangstdatum":"2026-02-07","creatiedatum":"2026-01-26","status":"national"},"sort":[5.2888994,1769385600000]}]},"aggregations":{"ResultType":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"document","doc_count":1}]}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
