interactions:
- request:
    body: '{"uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://www.rios.com/","identificatie":"snowflake","bronorganisatie":"Villarreal
      PLC","creatiedatum":"2026-01-24","titel":"Third capital knowledge whether.","auteur":"Tara
      Le","taal":"ik","begin_registratie":"2026-02-15T10:50:20.447684","informatieobjecttype":"meeting","vertrouwelijkheidaanduiding":"garden","status":"capital","formaat":"flac","bestandsnaam":"speak.flac","link":"https://cooper-mccormick.com/","beschrijving":"Feel
      act senior care although anything. Return current you image agent threat four
      just. Idea pressure term care want whom.","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-07","verschijningsvorm":"card"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3916925a-4260-4505-bfbb-0942113efd49?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":22,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3916925a-4260-4505-bfbb-0942113efd49
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"d49bc304-01a1-4eda-a914-a8dda5c901e2","url":"https://watkins-chavez.com/","identificatie":"document2","bronorganisatie":"Delgado
      and Sons","creatiedatum":"2026-02-16","titel":"snowflake","auteur":"Heather
      Boone","taal":"iu","begin_registratie":"2026-02-15T11:45:44.818523","informatieobjecttype":"might","vertrouwelijkheidaanduiding":"purpose","status":"today","formaat":"docx","bestandsnaam":"type.flac","link":"http://wood-peters.com/","beschrijving":"Poo[...]
- request:
    body: '{"uuid":"bdcc4cea-b186-425e-8dcd-9fecb6818563","url":"http://www.daniels.com/","identificatie":"document3","bronorganisatie":"Smith
      LLC","creatiedatum":"2026-01-28","titel":"Produce source environment effort.","auteur":"Cynthia
      Schneider","taal":"ig","begin_registratie":"2026-02-20T23:53:22.388034","informatieobjecttype":"ball","vertrouwelijkheidaanduiding":"own","status":"whom","formaat":"jpg","bestandsnaam":"snowflake","link":"http://www.fowler.com/","beschrij[...]
- request:
    body: '{"uuid":"7eade718-bccb-4876-9f00-a095beebc360","url":"http://www.davis.info/","identificatie":"document4","bronorganisatie":"Higgins-Hodges","creatiedatum":"2026-01-26","titel":"Approach
      case soldier pay community land.","auteur":"Daniel Davidson","taal":"ber","begin_registratie":"2026-01-25T22:36:12.066758","informatieobjecttype":"catch","vertrouwelijkheidaanduiding":"single","status":"new","formaat":"flac","bestandsnaam":"trouble.jpg","link":"http://novak.info/","beschrijving":"snowflake","ontvangstdatum":"2026-01-31","verzenddatum":"2026-01-27","verschijningsvorm":"part"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/7eade718-bccb-4876-9f00-a095beebc360?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"7eade718-bccb-4876-9f00-a095beebc360","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":25,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/7eade718-bccb-4876-9f00-a095beebc360
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"snowflake","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_score":7.070079,"_source":{"begin_registratie":"2026-02-15T10:50:20.447684","beschrijving":"Feel
        act senior care although anything. Return current you image agent threat four
        just. Idea pressure term care want whom.","verschijningsvorm":"card","identificatie":"snowflake","bronorganisatie":"Villarreal
        PLC","link":"https://cooper-mccormick.com/","uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://www.rios.com/","taal":"ik","verzenddatum":"2026-02-07","auteur":"Tara
        Le","formaat":"fla[...]
