interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://www.thomas.net/","identificatie":"b588aa42-1e08-45a9-91c0-78ebf796d943","bronorganisatie":"Jones,
      Vang and Greene","creatiedatum":"2026-01-31","titel":"Economic house science
      keep bar somebody.","auteur":"Eric Clark","taal":"uk","begin_registratie":"2026-02-24T14:59:44.760509","informatieobjecttype":"win","vertrouwelijkheidaanduiding":"front","status":"activity","formaat":"txt","bestandsnaam":"fill.css","link":"https://harmon.org/","beschrijving":"Attack
      mouth idea itself red put. Expect red seek address now. Require perform vote
      city rise option image treat.","ontvangstdatum":"2026-02-20","verzenddatum":"2026-02-18","verschijningsvorm":"mean"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":1.0,"_source":{"begin_registratie":"2026-02-24T14:59:44.760509","beschrijving":"Attack
        mouth idea itself red put. Expect red seek address now. Require perform vote
        city rise option image treat.","verschijningsvorm":"mean","identificatie":"b588aa42-1e08-45a9-91c0-78ebf796d943","bronorganisatie":"Jones,
        Vang and Greene","link":"https://harmon.org/","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://www.thomas.net/","taal":"uk","verzenddatum":"2026-02-18","auteur":"Eric
        Clark","formaat":"txt","titel":"Economic house science keep bar somebody.","vertrouwelijkheidaanduiding":"front","informatieobjecttype":"win","bestandsnaam":"fill.css","ontvangstdatum":"2026-02-20","creatiedatum":"2026-01-31","status":"activity"},"sort":[1.0,1769817600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
