interactions:
- request:
    body: '{"uuid":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","url":"https://www.armstrong.com/","identificatie":"7dfa72c6-ae1c-4a1f-bbbd-6ee4d802ee8d","bronorganisatie":"Green
      Ltd","creatiedatum":"2026-01-02","titel":"Bed walk common strategy.","auteur":"Gabriel
      Rose","taal":"ti","begin_registratie":"2026-02-08T14:56:59.860843","informatieobjecttype":"agency","vertrouwelijkheidaanduiding":"draw","status":"possible","formaat":"avi","bestandsnaam":"begin.bmp","link":"https://www.lang-miller.com/","beschrijving":"Surface
      one himself. Fast travel team difference rich certainly land. Get loss many
      daughter.","ontvangstdatum":"2026-01-29","verzenddatum":"2026-02-03","verschijningsvorm":"air"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":34,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://www.bailey.org/","identificatie":"54296927-93e5-46a2-bb24-9c50390d14c9","bronorganisatie":"Parker-Bauer","creatiedatum":"2026-01-03","titel":"Eye
      dog before control its run police other.","auteur":"Kelsey Elliott","taal":"lo","begin_registratie":"2026-02-04T15:13:27.112344","informatieobjecttype":"music","vertrouwelijkheidaanduiding":"if","status":"look","formaat":"gif","bestandsnaam":"no.wav","link":"http:/[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":[{"creatiedatum":{"order":"desc"}},"_score"],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","_score":0.6410186,"_source":{"begin_registratie":"2026-02-04T15:13:27.112344","beschrijving":"System
        over world family feeling concern start. Direction audience financial television.
        Compare middle perhaps together radio maybe analysis.","verschijningsvorm":"affect","identificatie":"54296927-93e5-46a2-bb24-9c50390d14c9","bronorganisatie":"Parker-Bauer","link":"http://ford.info/","uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://www.bailey.org/","taal":"lo","verzenddatum":"2026-02-02","auteur":"Kel[...]
