interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.stewart.com/","identificatie":"33f79405-89a7-45cf-b9a7-885e67aa7dac","bronorganisatie":"Young-Gillespie","creatiedatum":"2026-02-17","titel":"","auteur":"Carol
      Miller","taal":"szl","begin_registratie":"2026-01-27T20:17:28.693556","informatieobjecttype":"compare","vertrouwelijkheidaanduiding":"white","status":"thus","formaat":"txt","bestandsnaam":"result.mov","link":"http://www.phillips.com/","beschrijving":"Document
      one, on which we expect an exact phrase match.","ontvangstdatum":"2026-02-02","verzenddatum":"2026-02-18","verschijningsvorm":"face"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":30,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://www.ho.org/","identificatie":"aafb20bc-b6ee-43e7-965b-c98731453034","bronorganisatie":"Boyd,
      Walker and Morris","creatiedatum":"2026-01-28","titel":"","auteur":"Darryl Harrison","taal":"fil","begin_registratie":"2026-02-17T02:20:39.691302","informatieobjecttype":"soldier","vertrouwelijkheidaanduiding":"gun","status":"month","formaat":"mov","bestandsnaam":"mind.wav","link":"http://www.wang.net/","beschrijving":"Document
      two, the document that came after one.","ontvangstdatum":"2026-01-31","verzenddatum":"2026-01-27","verschijningsvorm":"notice"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":31,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":1.3611274,"_source":{"begin_registratie":"2026-01-27T20:17:28.693556","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"face","identificatie":"33f79405-89a7-45cf-b9a7-885e67aa7dac","bronorganisatie":"Young-Gillespie","link":"http://www.phillips.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.stewart.com/","taal":"szl","verzenddatum":"2026-02-18","auteur":"Carol
        Miller","formaat":"txt","titel":"","vertrouwelijkheidaanduiding":"white","informatieobjecttype":"compare","bestandsnaam":"result.mov","ontvangstdatum":"2026-02-02","creatiedatum":"2026-02-17","status":"thus"},"sort":[1.3611274,1771286400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
