interactions:
- request:
    body: '{"uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://www.allen.info/","identificatie":"snowflake","bronorganisatie":"Martinez,
      Galvan and Stokes","creatiedatum":"2026-02-20","titel":"Item sport one under
      natural likely.","auteur":"Anthony Hobbs","taal":"doi","begin_registratie":"2026-02-15T02:00:52.177752","informatieobjecttype":"purpose","vertrouwelijkheidaanduiding":"draw","status":"more","formaat":"csv","bestandsnaam":"continue.js","link":"http://carter.com/","beschrijving":"Bring
      assume conference particularly season idea hotel. Test ok firm see already mind
      with.","ontvangstdatum":"2026-02-08","verzenddatum":"2026-02-04","verschijningsvorm":"common"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3916925a-4260-4505-bfbb-0942113efd49?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":22,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3916925a-4260-4505-bfbb-0942113efd49
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"d49bc304-01a1-4eda-a914-a8dda5c901e2","url":"http://roach-robinson.com/","identificatie":"document2","bronorganisatie":"Gutierrez-Tucker","creatiedatum":"2026-02-05","titel":"snowflake","auteur":"Danielle
      Liu","taal":"bho","begin_registratie":"2026-02-14T06:58:03.636609","informatieobjecttype":"save","vertrouwelijkheidaanduiding":"full","status":"approach","formaat":"avi","bestandsnaam":"issue.mp3","link":"http://weeks.com/","beschrijving":"Both
      for language fly. Should need artist still. Right score tell rich.","ontvangstdatum":"2026-01-31","verzenddatum":"2026-02-21","verschijningsvorm":"beat"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d49bc304-01a1-4eda-a914-a8dda5c901e2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d49bc304-01a1-4eda-a914-a8dda5c901e2","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":23,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d49bc304-01a1-4eda-a914-a8dda5c901e2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"bdcc4cea-b186-425e-8dcd-9fecb6818563","url":"https://beard-oconnell.net/","identificatie":"document3","bronorganisatie":"Ortiz-Harper","creatiedatum":"2026-02-23","titel":"Teacher
      thus fish before agent.","auteur":"Jennifer James","taal":"gd","begin_registratie":"2026-01-31T19:48:16.741983","informatieobjecttype":"hour","vertrouwelijkheidaanduiding":"company","status":"same","formaat":"gif","bestandsnaam":"snowflake","link":"https://russell-larson.com/","beschrijving":"Cause
      smile professional address. Upon yard leave culture.","ontvangstdatum":"2026-01-29","verzenddatum":"2026-02-22","verschijningsvorm":"better"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/bdcc4cea-b186-425e-8dcd-9fecb6818563?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"bdcc4cea-b186-425e-8dcd-9fecb6818563","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":24,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/bdcc4cea-b186-425e-8dcd-9fecb6818563
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"7eade718-bccb-4876-9f00-a095beebc360","url":"https://huffman.org/","identificatie":"document4","bronorganisatie":"Hubbard,
      Evans and Fisher","creatiedatum":"2026-02-03","titel":"Sell soldier Republican
      home ability.","auteur":"Brenda Williams DDS","taal":"eo","begin_registratie":"2026-01-29T13:36:56.561863","informatieobjecttype":"industry","vertrouwelijkheidaanduiding":"energy","status":"will","formaat":"gif","bestandsnaam":"democratic.js","link":"http://medina.com/","beschrijving":"snowflake","ontvangstdatum":"2026-02-21","verzenddatum":"2026-02-04","verschijningsvorm":"a"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/7eade718-bccb-4876-9f00-a095beebc360?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"7eade718-bccb-4876-9f00-a095beebc360","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":25,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/7eade718-bccb-4876-9f00-a095beebc360
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"snowflake","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_score":6.6987104,"_source":{"begin_registratie":"2026-02-15T02:00:52.177752","beschrijving":"Bring
        assume conference particularly season idea hotel. Test ok firm see already
        mind with.","verschijningsvorm":"common","identificatie":"snowflake","bronorganisatie":"Martinez,
        Galvan and Stokes","link":"http://carter.com/","uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://www.allen.info/","taal":"doi","verzenddatum":"2026-02-04","auteur":"Anthony
        Hobbs","formaat":"csv","titel":"Item spo[...]
