interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://jones-fuller.info/","identificatie":"4ff0b63d-67c4-48b7-93af-086c884eaf01","bronorganisatie":"Wright
      Inc","creatiedatum":"2026-02-18","titel":"Society available good life air.","auteur":"Amber
      Perkins","taal":"ca","begin_registratie":"2026-02-08T16:44:34.889253","informatieobjecttype":"worker","vertrouwelijkheidaanduiding":"structure","status":"respond","formaat":"docx","bestandsnaam":"service.flac","link":"https://warren-smith.com/","beschrijving":"Man
      add one top debate will certainly. Cause case watch.","ontvangstdatum":"2026-02-02","verzenddatum":"2026-01-27","verschijningsvorm":"each"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://castillo.com/","identificatie":"214bee89-eba1-4efe-bcef-57e6ba598b46","bronorganisatie":"Nguyen
      Inc","creatiedatum":"2026-02-08","titel":"Most leg size industry month.","auteur":"Kari
      Baker","taal":"doi","begin_registratie":"2026-02-19T04:39:45.133142","informatieobjecttype":"person","vertrouwelijkheidaanduiding":"quickly","status":"writer","formaat":"webm","bestandsnaam":"determine.key","link":"https[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":1,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_score":0.7009704,"_source":{"begin_registratie":"2026-02-08T16:44:34.889253","beschrijving":"Man
        add one top debate will certainly. Cause case watch.","verschijningsvorm":"each","identificatie":"4ff0b63d-67c4-48b7-93af-086c884eaf01","bronorganisatie":"Wright
        Inc","link":"https://warren-smith.com/","uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://jones-fuller.info/","taal":"ca","verzenddatum":"2026-01-27","auteur":"Amber
        Perkins","formaat":"docx","titel":"Society available good life air.","vertrouwelijkheidaanduiding":"structure","informatieobjecttype":"worker","bestandsnaam":"service.flac","ontvangstdatum":"2026-02-02","creatiedatum":"2026-02-18","status":"respond"},"sort":[0.7009704,1771372800000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
