interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.hester.com/","identificatie":"32562802-cf5b-4e4e-8381-f586a6b25539","bronorganisatie":"Michael-Thomas","creatiedatum":"2026-02-11","titel":"","auteur":"Madison
      Foley","taal":"cy","begin_registratie":"2026-02-11T23:06:42.767994","informatieobjecttype":"activity","vertrouwelijkheidaanduiding":"activity","status":"part","formaat":"webm","bestandsnaam":"truth.odp","link":"http://www.thompson-jackson.com/","beschrijving":"Document
      one, on which we expect an exact phrase match.","ontvangstdatum":"2026-03-02","verzenddatum":"2026-02-28","verschijningsvorm":"move"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":30,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://www.valdez-torres.biz/","identificatie":"11c94598-e750-4297-b6a6-b2705e35551c","bronorganisatie":"Orozco-Berry","creatiedatum":"2026-02-08","titel":"","auteur":"Laurie
      Richards","taal":"mn","begin_registratie":"2026-02-13T05:44:20.952463","informatieobjecttype":"the","vertrouwelijkheidaanduiding":"include","status":"thank","formaat":"mp3","bestandsnaam":"national.avi","link":"http://ramos-vincent.com/","beschrijving":"Document
      two, the document that came after one.","ontvangstdatum":"2026-02-04","verzenddatum":"2026-02-22","verschijningsvorm":"rise"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":31,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":2.6618476,"_source":{"begin_registratie":"2026-02-11T23:06:42.767994","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"move","identificatie":"32562802-cf5b-4e4e-8381-f586a6b25539","bronorganisatie":"Michael-Thomas","link":"http://www.thompson-jackson.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://www.hester.com/","taal":"cy","verzenddatum":"2026-02-28","auteur":"Madison
        Foley","formaat":"webm","titel":"","vertrouwelijkheidaanduiding":"activity","informatieobjecttype":"activity","bestandsnaam":"truth.odp","ontvangstdatum":"2026-03-02","creatiedatum":"2026-02-11","status":"part"},"sort":[2.6618476,1770768000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
