interactions:
- request:
    body: '{"uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://garcia.com/","identificatie":"snowflake","bronorganisatie":"Hill-Welch","titel":"Mean
      detail win ball coach artist cause.","beschrijving":"Wait address campaign similar
      save none. Hard she section there your.","auteur":"Sarah Williams","taal":"mai","vertrouwelijkheidaanduiding":"now","status":"although","formaat":"tiff","bestandsnaam":"newspaper.mp3","informatieobjecttype":"large","verschijningsvorm":"court","bestandsomvang":1000000,"link":"http://stevens-banks.info/","creatiedatum":"2026-03-24","begin_registratie":"2026-03-14T03:04:51.070310","last_checked_at":"2016-03-11T00:00:00","next_check_at":"1972-08-02T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"235d39f4-3db0-407b-af61-6fb8027472d0","url":"http://greene.org/","identificatie":"7efd4287-c70a-4a99-bc86-8bdb52aecbba","bronorganisatie":"Velasquez,
      Molina and Lucas","verantwoordelijkeOrganisatie":"Collins LLC","omschrijving":"Vote
      special them.","toelichting":"Car blue describe central actually. Check investment
      partner instead difficult side. Majority cover couple mention.","status":"sing","registratiedatum":"2026-03-18","startdatum":"2026-03-22","zaaktype":"money","object_type":"certainly"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3916925a-4260-4505-bfbb-0942113efd49?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":24,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3916925a-4260-4505-bfbb-0942113efd49
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"d49bc304-01a1-4eda-a914-a8dda5c901e2","url":"http://poole.biz/","identificatie":"document2","bronorganisatie":"Harris
      Ltd","titel":"snowflake","beschrijving":"Capital bill drug white study.","auteur":"Jeremy
      Kim","taal":"om","vertrouwelijkheidaanduiding":"lay","status":"Congress","formaat":"csv","bestandsnaam":"sure.xlsx","informatieobjecttype":"none","verschijningsvorm":"thousand","bestandsomvang":1000000,"link":"https://www.may.com/","creatiedatum":"2[...]
- request:
    body: '{"uuid":"bdcc4cea-b186-425e-8dcd-9fecb6818563","url":"http://levy.com/","identificatie":"document3","bronorganisatie":"Campbell-Blackwell","titel":"Us
      beautiful admit ask.","beschrijving":"Available you firm. Couple institution
      because own best but affect. Knowledge much rock one give machine.","auteur":"Alexander
      Hughes","taal":"sd","vertrouwelijkheidaanduiding":"course","status":"image","formaat":"webm","bestandsnaam":"snowflake","informatieobjecttype":"[...]
- request:
    body: '{"uuid":"7eade718-bccb-4876-9f00-a095beebc360","url":"https://dominguez-daugherty.info/","identificatie":"document4","bronorganisatie":"Edwards,
      Smith and Abbott","titel":"Simple describe safe national back later.","beschrijving":"snowflake","auteur":"Lauren
      Shelton","taal":"unm","vertrouwelijkheidaanduiding":"teacher","status":"medical","formaat":"flac","bestandsnaam":"son.json","informatieobjecttype":"successful","verschijningsvorm":"almost","bestandsomvang":1[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"snowflake","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"snowflake","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_score":5.2515492,"_source":{"service_slug":"test-service","beschrijving":"Wait
        address campaign similar save none. Hard she section there your.","verschijningsvorm":"court","begin_registratie":"2026-03-14T03:04:51.070310","identificatie":"snowflake","bronorganisatie":"Hill-Welch","bestandsomvang":1000000,"link":"http://stevens-banks.info/","next_check_at":"1972-08-02T00:00:00","uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://garcia.com/","taal":"mai","zaak_referenties":[{"omschrijving":"Vote
        spe[...]
