interactions:
- request:
    body: '{"uuid":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","url":"http://www.kelly.org/","identificatie":"3f8499e5-89ad-42d5-85e8-bee1ec14d612","bronorganisatie":"Dunn-Stevens","creatiedatum":"2026-01-02","titel":"Age
      long become wrong commercial third federal fall.","auteur":"Courtney Ray","taal":"ca","begin_registratie":"2026-02-19T02:15:25.520725","informatieobjecttype":"half","vertrouwelijkheidaanduiding":"half","status":"certainly","formaat":"mp3","bestandsnaam":"international.avi","link":"https://www.rogers.biz/","beschrijving":"Usually
      fine customer soldier. Others discover music collection. We prove read response
      rate would traditional.","ontvangstdatum":"2026-02-28","verzenddatum":"2026-02-15","verschijningsvorm":"form"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":34,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://www.franklin-mcdonald.com/","identificatie":"7aaad353-97a3-45a2-a7d6-bdde20443a6e","bronorganisatie":"Olsen-Stone","creatiedatum":"2026-01-03","titel":"Church
      onto science opportunity another add.","auteur":"Samuel Paul","taal":"kk","begin_registratie":"2026-03-01T01:42:01.510119","informatieobjecttype":"claim","vertrouwelijkheidaanduiding":"world","status":"rich","formaat":"wav","bestandsnaam":"service.webm[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":[{"creatiedatum":{"order":"desc"}},"_score"],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","_score":1.4646238E-4,"_source":{"begin_registratie":"2026-03-01T01:42:01.510119","beschrijving":"Size
        democratic because nearly travel wind travel. Low house color help drug thank.","verschijningsvorm":"safe","identificatie":"7aaad353-97a3-45a2-a7d6-bdde20443a6e","bronorganisatie":"Olsen-Stone","link":"https://www.sandoval.com/","uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://www.franklin-mcdonald.com/","taal":"kk","verzenddatum":"2026-02-19","auteur":"Samuel
        Paul","formaat":"wav","titel":"Church o[...]
