interactions:
- request:
    body: '{"uuid":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","url":"https://www.reed.com/","identificatie":"20a2924e-dd5d-4ddc-b8a0-83e26cc851cf","bronorganisatie":"Johnson
      Ltd","creatiedatum":"2026-01-02","titel":"Himself specific between either.","auteur":"David
      Green","taal":"wo","begin_registratie":"2026-03-04T11:41:29.910694","informatieobjecttype":"trip","vertrouwelijkheidaanduiding":"rich","status":"nor","formaat":"json","bestandsnaam":"accept.mov","link":"https://www.hansen.info/","beschrijving":"Hair
      strategy south body. Field TV toward all process however fine.","verschijningsvorm":"require"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3b3f4514-7d8b-4e31-83ca-fa9376ff6522","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":36,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3b3f4514-7d8b-4e31-83ca-fa9376ff6522
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://thomas.com/","identificatie":"c461ca4d-13a2-4336-8d89-d5246889fb00","bronorganisatie":"Thompson-Johnson","creatiedatum":"2026-01-03","titel":"Anything
      wide find long front somebody million.","auteur":"Vanessa Williams","taal":"is","begin_registratie":"2026-02-17T09:26:55.217124","informatieobjecttype":"happy","vertrouwelijkheidaanduiding":"ok","status":"play","formaat":"wav","bestandsnaam":"financial.csv","l[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":[{"creatiedatum":{"order":"desc"}},"_score"],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","_score":1.1767993E-6,"_source":{"begin_registratie":"2026-02-17T09:26:55.217124","beschrijving":"Purpose
        itself production positive remember. Interview economic sport maybe north
        green. Idea art piece instead bring. Commercial ready keep him structure war.","verschijningsvorm":"free","identificatie":"c461ca4d-13a2-4336-8d89-d5246889fb00","bronorganisatie":"Thompson-Johnson","link":"http://friedman.com/","uuid":"4b3f4514-7d8b-4e31-83ca-fa9376ff6523","url":"http://thomas.com/","taal":"is","auteur":"Vanessa
     [...]
