interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://moore.biz/","identificatie":"33499a36-d7a1-485a-83c1-9f6d1d0e64d7","bronorganisatie":"Thompson,
      Davis and Lynch","creatiedatum":"2026-03-08","titel":"","auteur":"Travis Garner","taal":"km","begin_registratie":"2026-03-05T23:19:29.290365","informatieobjecttype":"wall","vertrouwelijkheidaanduiding":"beyond","status":"strong","formaat":"mp4","bestandsnaam":"several.html","link":"http://clark.com/","beschrijving":"Document
      one, on which we expect an exact phrase match.","verschijningsvorm":"cultural"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":32,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"http://hart.info/","identificatie":"f2763b7d-5aa9-4f50-bf09-1d8452f62fa0","bronorganisatie":"Hall,
      Townsend and Vance","creatiedatum":"2026-02-18","titel":"","auteur":"Amber Hensley","taal":"si","begin_registratie":"2026-02-23T12:00:54.218515","informatieobjecttype":"behind","vertrouwelijkheidaanduiding":"sound","status":"such","formaat":"avi","bestandsnaam":"window.html","link":"https://www.robinson-gray.org/","beschrijving":"Document
      two, the document that came after one.","verschijningsvorm":"into"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":33,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":5.1611075,"_source":{"begin_registratie":"2026-03-05T23:19:29.290365","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"cultural","identificatie":"33499a36-d7a1-485a-83c1-9f6d1d0e64d7","bronorganisatie":"Thompson,
        Davis and Lynch","link":"http://clark.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://moore.biz/","taal":"km","auteur":"Travis
        Garner","formaat":"mp4","titel":"","vertrouwelijkheidaanduiding":"beyond","informatieobjecttype":"wall","bestandsnaam":"several.html","creatiedatum":"2026-03-08","status":"strong"},"sort":[5.1611075,1772928000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
