interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://smith.com/","identificatie":"8ba56c33-7d79-4b04-86e6-0873c899be04","bronorganisatie":"Patrick,
      Lopez and Johnson","creatiedatum":"2026-03-03","titel":"Document one","auteur":"Morgan
      Manning","taal":"uk","begin_registratie":"2026-02-18T23:41:03.506546","informatieobjecttype":"garden","vertrouwelijkheidaanduiding":"government","status":"near","formaat":"txt","bestandsnaam":"world.mp4","link":"https://cox.com/","beschrijving":"snowflake1","verschijningsvorm":"since"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":14,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"http://www.parrish.com/","identificatie":"2e46b2bc-35b6-43d6-8c83-e5c159b33843","bronorganisatie":"Mckenzie,
      Glenn and Roberts","creatiedatum":"2026-02-22","titel":"Document two","auteur":"Tiffany
      Leach","taal":"gez","begin_registratie":"2026-03-13T00:25:41.472317","informatieobjecttype":"contain","vertrouwelijkheidaanduiding":"go","status":"might","formaat":"flac","bestandsnaam":"model.mp4","link":"http://byrd-walsh.biz/","beschrijving":"snowflake2","verschijningsvorm":"middle"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/a8fce14e-88d1-4f60-a69b-bbcc7033afe9
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      + one","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":6.164695,"_source":{"begin_registratie":"2026-02-18T23:41:03.506546","beschrijving":"snowflake1","verschijningsvorm":"since","identificatie":"8ba56c33-7d79-4b04-86e6-0873c899be04","bronorganisatie":"Patrick,
        Lopez and Johnson","link":"https://cox.com/","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"http://smith.com/","taal":"uk","auteur":"Morgan
        Manning","formaat":"txt","titel":"Document one","vertrouwelijkheidaanduiding":"government","informatieobjecttype":"garden","bestandsnaam":"world.mp4","creatiedatum":"2026-03-03","status":"near"},"sort":[6.164695,1772496000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
