interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://www.cox-perez.com/","identificatie":"b7813be5-cab8-4feb-9ed1-2f34940f5db2","bronorganisatie":"Martin
      Inc","titel":"Serve increase life response age realize.","beschrijving":"Billion
      three beyond offer. Plan leg thus effect. Huge her treat tell.","auteur":"Joseph
      Smith","taal":"lij","vertrouwelijkheidaanduiding":"letter","status":"may","formaat":"wav","bestandsnaam":"painting.odp","informatieobjecttype":"small","verschijningsvorm":"third","bestandsomvang":1000000,"link":"https://foley.com/","creatiedatum":"2026-03-19","begin_registratie":"2026-03-21T01:47:50.980804","last_checked_at":"2010-01-25T00:00:00","next_check_at":"2018-07-21T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"3cb1fa52-d446-40aa-862f-8e2bea2504c3","url":"http://ellis-vaughn.com/","identificatie":"3515cead-e1e9-40be-b202-b6fe74ec0089","bronorganisatie":"Wood,
      Woods and Allen","verantwoordelijkeOrganisatie":"Perez-Hernandez","omschrijving":"Three
      health possible always office program nation.","toelichting":"Lot idea fight
      name. Old room only worry though.","status":"technology","registratiedatum":"2026-03-16","startdatum":"2026-03-22","zaaktype":"necessary","object_type":"toward"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":0.48603696,"_source":{"service_slug":"test-service","beschrijving":"Billion
        three beyond offer. Plan leg thus effect. Huge her treat tell.","verschijningsvorm":"third","begin_registratie":"2026-03-21T01:47:50.980804","identificatie":"b7813be5-cab8-4feb-9ed1-2f34940f5db2","bronorganisatie":"Martin
        Inc","bestandsomvang":1000000,"link":"https://foley.com/","next_check_at":"2018-07-21T00:00:00","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://www.cox-perez.com/","taal":"lij","zaak_referenties[...]
