interactions:
- request:
    body: '{"uuid":"9c3360b8-2ce7-4742-9051-e586b686fc48","url":"http://www.hood-walker.org/","identificatie":"99d4891f-947d-4089-8bff-58db12536707","bronorganisatie":"Boyd,
      Holmes and Watts","creatiedatum":"2026-02-19","titel":"To section office.","auteur":"Kathryn
      Wood","taal":"uz","begin_registratie":"2026-02-22T15:13:06.056836","informatieobjecttype":"summer","vertrouwelijkheidaanduiding":"machine","status":"all","formaat":"flac","bestandsnaam":"theory.jpg","link":"https://reeves.net/","beschrijving":"Effect
      how food close enter. Positive indicate sign around if do. Family some design
      perhaps remember design. Raise drug when behind pressure relationship human.","verschijningsvorm":"audience"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9c3360b8-2ce7-4742-9051-e586b686fc48","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":18,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"37eb1144-a3da-48d1-b2fb-88075f781611","url":"http://www.jones.info/","identificatie":"a5a4da23-5621-44bb-876e-5620324372de","bronorganisatie":"Strickland,
      Hinton and Malone","creatiedatum":"2026-03-01","titel":"Document one of many","auteur":"Joshua
      Gilbert","taal":"kok","begin_registratie":"2026-02-16T00:14:53.333728","informatieobjecttype":"above","vertrouwelijkheidaanduiding":"hit","status":"style","formaat":"docx","bestandsnaam":"difference.flac","link":"http://harris.biz/","beschrijving":"Foreign
      gas imagine young study far strategy. Another available Republican government.","verschijningsvorm":"contain"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/37eb1144-a3da-48d1-b2fb-88075f781611?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"37eb1144-a3da-48d1-b2fb-88075f781611","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/37eb1144-a3da-48d1-b2fb-88075f781611
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"https://www.ruiz.com/","identificatie":"4b26cadb-05be-4d0a-a175-5057af9a59f7","bronorganisatie":"Miller-Thompson","creatiedatum":"2026-02-28","titel":"Document
      two of many","auteur":"Maria Cummings","taal":"ast","begin_registratie":"2026-03-16T15:21:07.576403","informatieobjecttype":"card","vertrouwelijkheidaanduiding":"relationship","status":"vote","formaat":"wav","bestandsnaam":"either.csv","link":"https://www.ma[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document
      two","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"da45268a-ab21-4a81-bfc4-b0430edf339b","_score":3.8420007,"_source":{"begin_registratie":"2026-03-16T15:21:07.576403","beschrijving":"Develop
        ever glass sport life federal action reveal. Another pressure maintain network
        cell past hot red. Focus small onto concern any baby.","verschijningsvorm":"before","identificatie":"4b26cadb-05be-4d0a-a175-5057af9a59f7","bronorganisatie":"Miller-Thompson","link":"https://www.mack.com/","uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"https://www.ruiz.com/","taal":"ast","auteur":"Maria
        Cummings","formaat":"wav","titel":"Document two of many","vertrouwelijkheidaanduiding":"relationship","informatieobjecttype":"card","bestandsnaam":"either.csv","creatiedatum":"2026-02-28","status":"vote"},"sort":[3.8420007,1772236800000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
