interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://ortiz.biz/","identificatie":"19540e24-c93d-4a3f-a70e-b2d8553704b8","bronorganisatie":"Hill
      Group","creatiedatum":"2026-02-09","titel":"Why traditional catch discover together.","auteur":"Christina
      Perez","taal":"de","begin_registratie":"2026-02-16T23:05:22.221141","informatieobjecttype":"box","vertrouwelijkheidaanduiding":"college","status":"month","formaat":"pdf","bestandsnaam":"great.pages","link":"https://vang.net/","beschrijving":"Administration
      stay analysis ask dream security. Model international finish open board technology.","ontvangstdatum":"2026-02-27","verzenddatum":"2026-02-10","verschijningsvorm":"magazine"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":0.43079424,"_source":{"begin_registratie":"2026-02-16T23:05:22.221141","beschrijving":"Administration
        stay analysis ask dream security. Model international finish open board technology.","verschijningsvorm":"magazine","identificatie":"19540e24-c93d-4a3f-a70e-b2d8553704b8","bronorganisatie":"Hill
        Group","link":"https://vang.net/","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"https://ortiz.biz/","taal":"de","verzenddatum":"2026-02-10","auteur":"Christina
        Perez","formaat":"pdf","titel":"Why traditional catch discover together.","vertrouwelijkheidaanduiding":"college","informatieobjecttype":"box","bestandsnaam":"great.pages","ontvangstdatum":"2026-02-27","creatiedatum":"2026-02-09","status":"month"},"sort":[0.43079424,1770595200000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
