interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://www.reed.org/","identificatie":"10662081-e678-4b32-b70a-0fa24ffd15e3","bronorganisatie":"Faulkner
      Ltd","titel":"Low to site need stay lot page Mr.","beschrijving":"Position million
      head serious enter usually. Fish camera history everybody.","auteur":"Nicole
      Henderson","taal":"yo","vertrouwelijkheidaanduiding":"receive","status":"pick","formaat":"mov","bestandsnaam":"edge.avi","informatieobjecttype":"travel","verschijningsvorm":"write","bestandsomvang":1000000,"link":"http://long.info/","creatiedatum":"2026-01-01","begin_registratie":"2026-03-16T00:56:26.603802","last_checked_at":"1998-07-31T00:00:00","next_check_at":"1996-09-19T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"267b8840-bd6b-4380-8caf-b48015299fe1","url":"http://www.myers.com/","identificatie":"93522f05-3ec8-4f13-ac84-9dcdba1132f6","bronorganisatie":"Garcia,
      Khan and Taylor","verantwoordelijkeOrganisatie":"Holmes Ltd","omschrijving":"Later
      your matter stop evening remember say.","toelichting":"Will today see impact
      its bank fast. Figure city improve test perform machine.","status":"teach","registratiedatum":"2026-03-14","startdatum":"2026-03-13","zaaktype":"line","object_type":"around"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":36,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://williams-knox.info/","identificatie":"cdcadaf2-08ef-4f7c-9042-2901d3a73806","bronorganisatie":"Wells,
      Hall and Yoder","titel":"Drive meet human myself present film power.","beschrijving":"Similar
      wear list mind. At ago assume government.","auteur":"Christine Spencer","taal":"kl","vertrouwelijkheidaanduiding":"around","status":"condition","formaat":"avi","bestandsnaam":"necessary.png","informatieobject[...]
- request:
    body: '{"uuid":"6a7a0f60-eeb7-4a99-8a88-7e49cea15f20","url":"http://www.wolf-carter.info/","identificatie":"df449826-4cf8-425e-a272-b8edec8500af","bronorganisatie":"Oneill,
      Fisher and Taylor","titel":"Well medical force nothing enjoy or.","beschrijving":"Stay
      myself long let avoid peace such war. Can wrong race smile audience note investment
      unit.","auteur":"Erin Wallace","taal":"ar","vertrouwelijkheidaanduiding":"country","status":"degree","formaat":"jpeg","best[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":[{"creatiedatum":{"order":"desc"}},"_score"],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6a7a0f60-eeb7-4a99-8a88-7e49cea15f20","_score":0.032815583,"_source":{"service_slug":"test-service","beschrijving":"Stay
        myself long let avoid peace such war. Can wrong race smile audience note investment
        unit.","verschijningsvorm":"international","begin_registratie":"2026-03-30T13:48:13.453835","identificatie":"df449826-4cf8-425e-a272-b8edec8500af","bronorganisatie":"Oneill,
        Fisher and Taylor","bestandsomvang":1000000,"link":"http://www.smith-fox.org/","next_check_at":"1979-05-11T00:00:00","uuid":"6a7a0f60-eeb7-4a99-8a88-7e49cea15f20","ur[...]
