interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"https://warren-caldwell.com/","identificatie":"28b0741e-7a41-49f2-8a95-c349a79d7cb5","bronorganisatie":"Woods,
      Rios and Harris","creatiedatum":"2026-02-18","titel":"Reflect firm side brother.","auteur":"Shaun
      Jones MD","taal":"ha","begin_registratie":"2026-02-19T05:34:01.028791","informatieobjecttype":"special","vertrouwelijkheidaanduiding":"dream","status":"authority","formaat":"xlsx","bestandsnaam":"money.ppt","link":"https://stephens.com/","beschrijving":"Brother
      generation arm work you leg happy. According human consider outside.","verschijningsvorm":"likely"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://www.wilson.net/","identificatie":"ed3cf56a-43e2-40bf-89e5-d8af8689ccaa","bronorganisatie":"Ellis,
      Brooks and Harris","creatiedatum":"2026-02-25","titel":"Actually political direction
      key item among doctor.","auteur":"Jennifer Brown","taal":"ru","begin_registratie":"2026-02-19T11:36:22.147551","informatieobjecttype":"near","vertrouwelijkheidaanduiding":"part","status":"rock","formaat":"avi","bestandsna[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":1,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_score":0.27153543,"_source":{"begin_registratie":"2026-02-19T05:34:01.028791","beschrijving":"Brother
        generation arm work you leg happy. According human consider outside.","verschijningsvorm":"likely","identificatie":"28b0741e-7a41-49f2-8a95-c349a79d7cb5","bronorganisatie":"Woods,
        Rios and Harris","link":"https://stephens.com/","uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"https://warren-caldwell.com/","taal":"ha","auteur":"Shaun
        Jones MD","formaat":"xlsx","titel":"Reflect firm side brother.","vertrouwelijkheidaanduiding":"dream","informatieobjecttype":"special","bestandsnaam":"money.ppt","creatiedatum":"2026-02-18","status":"authority"},"sort":[0.27153543,1771372800000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
