interactions:
- request:
    body: '{"uuid":"9c3360b8-2ce7-4742-9051-e586b686fc48","url":"https://wilson.com/","identificatie":"3dbce810-84d8-43d0-9ade-a064b7857f4c","bronorganisatie":"Nguyen-Rodriguez","titel":"Sign
      imagine fall president right president modern laugh.","beschrijving":"Fill court
      baby real unit. Reflect industry news cup make. Phone member population effort
      century.","auteur":"Ariana Jones","taal":"the","vertrouwelijkheidaanduiding":"bag","status":"trade","formaat":"csv","bestandsnaam":"thing.css","informatieobjecttype":"have","verschijningsvorm":"unit","bestandsomvang":1000000,"link":"https://www.walton.com/","creatiedatum":"2026-03-17","begin_registratie":"2026-03-13T20:19:41.390963","last_checked_at":"2020-09-24T00:00:00","next_check_at":"1976-03-29T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"44b3bc1f-64d0-4e4c-a510-c452c54a032d","url":"https://barnes-smith.com/","identificatie":"9b4f6545-b49f-4bee-9e85-5fc67a492d0e","bronorganisatie":"Thompson
      Inc","verantwoordelijkeOrganisatie":"Heath, Hall and Ruiz","omschrijving":"This
      try kind.","toelichting":"Past picture maintain laugh. Memory environment may
      democratic. Suggest interesting seem phone rather bad job image. Suddenly section
      despite six security off.","status":"professor","registratiedatum":"2026-03-23","startdatum":"2026-03-21","zaaktype":"measure","object_type":"realize"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9c3360b8-2ce7-4742-9051-e586b686fc48","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":18,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9c3360b8-2ce7-4742-9051-e586b686fc48
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"37eb1144-a3da-48d1-b2fb-88075f781611","url":"http://www.warren-farrell.com/","identificatie":"438d989e-cde3-49b2-84b2-8fb42462e43e","bronorganisatie":"Velazquez
      LLC","titel":"Document one of many","beschrijving":"Common clearly team name.
      Amount production listen. Seven treat account according.","auteur":"Julia Keller","taal":"tt","vertrouwelijkheidaanduiding":"administration","status":"usually","formaat":"css","bestandsnaam":"hospital.mp3","informatieo[...]
- request:
    body: '{"uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b","url":"https://estes-russo.com/","identificatie":"d762c5c6-5420-4fcd-acda-f2c82307d90d","bronorganisatie":"Baird,
      Wilson and Bennett","titel":"Document two of many","beschrijving":"Area condition
      difference agent television choose president. Generation low strong life turn
      expect food.","auteur":"Jocelyn Wilson","taal":"br","vertrouwelijkheidaanduiding":"claim","status":"sister","formaat":"xls","bestandsnaam":[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"document
      two","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"document
      two","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"da45268a-ab21-4a81-bfc4-b0430edf339b","_score":5.666829,"_source":{"service_slug":"test-service","beschrijving":"Area
        condition difference agent television choose president. Generation low strong
        life turn expect food.","verschijningsvorm":"month","begin_registratie":"2026-03-30T13:57:20.081964","identificatie":"d762c5c6-5420-4fcd-acda-f2c82307d90d","bronorganisatie":"Baird,
        Wilson and Bennett","bestandsomvang":1000000,"link":"https://www.mcmillan.com/","next_check_at":"2001-07-04T00:00:00","uuid":"da45268a-ab21-4a81-bfc4-b0430edf339b",[...]
