interactions:
- request:
    body: '{"uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"http://www.taylor.net/","identificatie":"5372a4cb-a35f-451f-a747-4677048aebd5","bronorganisatie":"Nguyen,
      Hamilton and Smith","creatiedatum":"2026-03-08","titel":"Amount hour pressure
      production fine.","auteur":"Dennis Hodge","taal":"bs","begin_registratie":"2026-03-10T04:56:21.906296","informatieobjecttype":"see","vertrouwelijkheidaanduiding":"position","status":"know","formaat":"jpeg","bestandsnaam":"father.numbers","link":"https://hernandez.com/","beschrijving":"Other
      PM toward magazine. Particular well hard receive. Time nor guy education ask.","verschijningsvorm":"never"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://www.stokes.com/","identificatie":"da7ab61d-a37e-4f9c-9ce3-2acfd19356fa","bronorganisatie":"Mills-Cooper","creatiedatum":"2026-02-25","titel":"Several
      she experience quality official.","auteur":"Nicole Frey","taal":"ayc","begin_registratie":"2026-02-19T08:14:31.672328","informatieobjecttype":"do","vertrouwelijkheidaanduiding":"affect","status":"professor","formaat":"png","bestandsnaam":"article.numbers","link":"https://gonzalez.info/","beschrijving":"Option
      quite scientist air approach population east. Difference action fall some want
      leader five.","verschijningsvorm":"sell"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/48981334-b480-4e7d-8c8d-925bbc67a969?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"48981334-b480-4e7d-8c8d-925bbc67a969","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/48981334-b480-4e7d-8c8d-925bbc67a969
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_score":0.97983885,"_source":{"begin_registratie":"2026-03-10T04:56:21.906296","beschrijving":"Other
        PM toward magazine. Particular well hard receive. Time nor guy education ask.","verschijningsvorm":"never","identificatie":"5372a4cb-a35f-451f-a747-4677048aebd5","bronorganisatie":"Nguyen,
        Hamilton and Smith","link":"https://hernandez.com/","uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"http://www.taylor.net/","taal":"bs","auteur":"Dennis
        Hodge","formaat":"jpeg","titel":"Amount hour pressure production fine.","vertrouwelijkheidaanduiding":"position","informatieobjecttype":"see","bestandsnaam":"father.numbers","creatiedatum":"2026-03-08","status":"know"},"sort":[0.97983885,1772928000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
