interactions:
- request:
    body: '{"uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"http://adams-wright.net/","identificatie":"02407ff5-ee5d-437a-b30c-a44e9d4b6ddf","bronorganisatie":"Morris
      Inc","titel":"Dream occur relationship field under get choice.","beschrijving":"Result
      level think sense because. Reveal he teach. Performance way try.","auteur":"Jason
      Miller","taal":"he","vertrouwelijkheidaanduiding":"we","status":"wind","formaat":"wav","bestandsnaam":"enter.js","informatieobjecttype":"fill","verschijningsvorm":"house","bestandsomvang":1000000,"link":"http://smith.com/","creatiedatum":"2026-04-02","begin_registratie":"2026-04-10T02:27:29.932755","last_checked_at":"1996-09-12T00:00:00","next_check_at":"1984-12-20T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"33d8eab8-373f-4a62-84da-945a9a995556","url":"https://garner-white.net/","identificatie":"7290c448-ff55-43dd-9094-f9090978ae28","bronorganisatie":"Cochran,
      Hall and King","verantwoordelijkeOrganisatie":"Little, Zamora and Fisher","omschrijving":"Investment
      me sure commercial large.","toelichting":"Crime each candidate alone. Open concern
      garden mission win candidate themselves number.","status":"picture","registratiedatum":"2026-03-13","startdatum":"2026-04-06","zaaktype":"score","object_type":"bag"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/85a095ea-e1fa-438c-9e05-1862874f57a0
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://www.mercado.org/","identificatie":"3fe37c3b-7ec5-4751-9ae0-bdb09f62fc5d","bronorganisatie":"Hanson,
      Crawford and Gonzales","titel":"Current nature process actually no.","beschrijving":"Accept
      have civil wide return yourself far.","auteur":"Connie Harper","taal":"raj","vertrouwelijkheidaanduiding":"chance","status":"still","formaat":"webm","bestandsnaam":"respond.png","informatieobjecttype":"common","v[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"85a095ea-e1fa-438c-9e05-1862874f57a0","_score":0.99477994,"_source":{"service_slug":"test-service","beschrijving":"Result
        level think sense because. Reveal he teach. Performance way try.","verschijningsvorm":"house","begin_registratie":"2026-04-10T02:27:29.932755","identificatie":"02407ff5-ee5d-437a-b30c-a44e9d4b6ddf","bronorganisatie":"Morris
        Inc","bestandsomvang":1000000,"link":"http://smith.com/","next_check_at":"1984-12-20T00:00:00","uuid":"85a095ea-e1fa-438c-9e05-1862874f57a0","url":"http://adams-wright.net/","taal":"he","zaak_referenties":[[...]
