interactions:
- request:
    body: '{"uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://blackburn.net/","identificatie":"6876312a-b002-4a86-a77e-8e8b5320bd44","bronorganisatie":"Barton,
      Smith and Parker","creatiedatum":"2026-02-16","titel":"Statement score line
      food true nor.","auteur":"Tyler Davidson","taal":"sw","begin_registratie":"2026-03-10T13:10:57.666709","informatieobjecttype":"type","vertrouwelijkheidaanduiding":"art","status":"among","formaat":"wav","bestandsnaam":"mouth.mp4","link":"http://mcguire.com/","beschrijving":"Team
      gun call all. Show in least grow. Some choice sign still entire despite.","verschijningsvorm":"run"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/525747fd-7e58-4005-8efa-59bcf4403385?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/525747fd-7e58-4005-8efa-59bcf4403385
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"525747fd-7e58-4005-8efa-59bcf4403385","_score":0.20815533,"_source":{"begin_registratie":"2026-03-10T13:10:57.666709","beschrijving":"Team
        gun call all. Show in least grow. Some choice sign still entire despite.","verschijningsvorm":"run","identificatie":"6876312a-b002-4a86-a77e-8e8b5320bd44","bronorganisatie":"Barton,
        Smith and Parker","link":"http://mcguire.com/","uuid":"525747fd-7e58-4005-8efa-59bcf4403385","url":"http://blackburn.net/","taal":"sw","auteur":"Tyler
        Davidson","formaat":"wav","titel":"Statement score line food true nor.","vertrouwelijkheidaanduiding":"art","informatieobjecttype":"type","bestandsnaam":"mouth.mp4","creatiedatum":"2026-02-16","status":"among"},"sort":[0.20815533,1771200000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
