interactions:
- request:
    body: '{"uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://www.webster-cain.com/","identificatie":"document1","bronorganisatie":"Figueroa
      and Sons","creatiedatum":"2026-03-08","titel":"Unique Document","auteur":"Christopher
      Reyes","taal":"id","begin_registratie":"2026-02-23T16:42:03.981526","informatieobjecttype":"food","vertrouwelijkheidaanduiding":"process","status":"leave","formaat":"avi","bestandsnaam":"tax.wav","link":"http://phillips.com/","beschrijving":"Score
      address special including fast debate TV. Choose material future me trade Congress
      and community. Admit full history yeah. They that positive hand blue beat practice.","verschijningsvorm":"necessary"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"6ad95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://www.rojas.com/","identificatie":"document2","bronorganisatie":"Peterson,
      Peterson and Bush","creatiedatum":"2026-02-24","titel":"Unique Document2","auteur":"Sarah
      Martin","taal":"nan","begin_registratie":"2026-02-20T12:13:14.353721","informatieobjecttype":"open","vertrouwelijkheidaanduiding":"officer","status":"yet","formaat":"png","bestandsnaam":"agreement.mp3","link":"https://www.simon-burgess.net/","beschrijving":"Admit
      positive seem. Direction many human. Truth away happen eat another light much.","verschijningsvorm":"theory"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6ad95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6ad95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":11,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6ad95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_score":4.9206777,"_source":{"begin_registratie":"2026-02-23T16:42:03.981526","beschrijving":"Score
        address special including fast debate TV. Choose material future me trade
        Congress and community. Admit full history yeah. They that positive hand blue
        beat practice.","verschijningsvorm":"necessary","identificatie":"document1","bronorganisatie":"Figueroa
        and Sons","link":"http://phillips.com/","uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"http://www.webster-cain.com/","taal":"id","auteur":"Christopher
        Reyes","formaat":"avi","titel":"Unique Document","vertrouwelijkheidaanduiding":"process","informatieobjecttype":"food","bestandsnaam":"tax.wav","creatiedatum":"2026-03-08","status":"leave"},"sort":[4.9206777,1772928000000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
