interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://cuevas.com/","identificatie":"883c899a-2244-4624-b22d-b463f8c408ff","bronorganisatie":"Snyder,
      Wall and Johnson","titel":"Document one","beschrijving":"snowflake1","auteur":"Brandy
      Ryan","taal":"nn","vertrouwelijkheidaanduiding":"serious","status":"ten","formaat":"flac","bestandsnaam":"its.avi","informatieobjecttype":"just","verschijningsvorm":"economy","bestandsomvang":1000000,"link":"http://archer.com/","creatiedatum":"2026-04-08","begin_registratie":"2026-03-16T22:45:14.105130","last_checked_at":"1972-09-19T00:00:00","next_check_at":"1994-04-06T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"1b8b9e70-5cdb-4e2e-9689-52c0c13eb04a","url":"http://www.pittman.net/","identificatie":"88b0cb49-c642-4e6e-b51f-cdcdf3106feb","bronorganisatie":"Mahoney-Sanchez","verantwoordelijkeOrganisatie":"Gibson,
      Floyd and Lopez","omschrijving":"Run key current keep space political sit.","toelichting":"People
      save actually behind alone allow too north.","status":"especially","registratiedatum":"2026-04-03","startdatum":"2026-03-13","zaaktype":"them","object_type":"above"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":14,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://www.vega-mendoza.org/","identificatie":"fe90a345-f389-4cc0-b556-a18e9abe8370","bronorganisatie":"Keller-Rice","titel":"Document
      two","beschrijving":"snowflake2","auteur":"Travis Bowen","taal":"zh","vertrouwelijkheidaanduiding":"out","status":"back","formaat":"bmp","bestandsnaam":"ability.avi","informatieobjecttype":"manager","verschijningsvorm":"lot","bestandsomvang":1000000,"link":"http://www.franklin.com/[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"document
      + one","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"document
      + one","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":7.4094553,"_source":{"service_slug":"test-service","beschrijving":"snowflake1","verschijningsvorm":"economy","begin_registratie":"2026-03-16T22:45:14.105130","identificatie":"883c899a-2244-4624-b22d-b463f8c408ff","bronorganisatie":"Snyder,
        Wall and Johnson","bestandsomvang":1000000,"link":"http://archer.com/","next_check_at":"1994-04-06T00:00:00","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://cuevas.com/","taal":"nn","zaak_referenties":[{"omschrijving":"Run
        key current keep space political sit.","identificatie":"88b0cb49-c642-4e6e-b51f-cdcdf3106feb","startdatum":"2026-03-13","object_type":"above","bronorganisatie":"Mahoney-Sanchez","zaaktype":"them","registratiedatum":"2026-04-03","uuid":"1b8b9e70-5cdb-4e2e-9689-52c0c13eb04a","url":"http://www.pittman.net/","verantwoordelijkeOrganisatie":"Gibson,
        Floyd and Lopez","toelichting":"People save actually behind alone allow too
        north.","status":"especially"}],"auteur":"Brandy Ryan","formaat":"flac","last_checked_at":"1972-09-19T00:00:00","titel":"Document
        one","vertrouwelijkheidaanduiding":"serious","informatieobjecttype":"just","bestandsnaam":"its.avi","creatiedatum":"2026-04-08","group_slug":"test-group","status":"ten"},"sort":[7.4094553,1775606400000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
