interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://www.lucas-lawrence.com/","identificatie":"0af52341-2271-491c-bd03-8503a5e8bb91","bronorganisatie":"Mcclain
      Group","titel":"Sure remain grow popular white.","beschrijving":"Employee buy
      response always table activity clear chance. Fight church prove themselves.
      Several action country happen college put war.","auteur":"Jennifer Parker","taal":"nb","vertrouwelijkheidaanduiding":"hope","status":"enjoy","formaat":"mp4","bestandsnaam":"start.gif","informatieobjecttype":"for","verschijningsvorm":"reflect","bestandsomvang":1000000,"link":"http://robinson.net/","creatiedatum":"2026-01-01","begin_registratie":"2026-03-12T10:39:10.816859","last_checked_at":"1983-01-03T00:00:00","next_check_at":"1979-03-16T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"aa4711fa-0cf7-4e3d-9d70-4d2a0aa0a2c6","url":"https://brown-franklin.com/","identificatie":"ff2b3ede-a2e8-445a-bd62-43abc2579196","bronorganisatie":"Jones
      PLC","verantwoordelijkeOrganisatie":"Wright, Pacheco and Moore","omschrijving":"Wish
      pressure wait front condition.","toelichting":"Whom another onto drive. Candidate
      marriage outside try. Should plan from effort mouth standard song.","status":"national","registratiedatum":"2026-03-17","startdatum":"2026-04-06","zaaktype":"simple","object_type":"including"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"https://phillips-davis.com/","identificatie":"ec05e976-a747-4111-9d19-3762a1d607c8","bronorganisatie":"Ramirez
      Ltd","titel":"Born three win employee people.","beschrijving":"Line lead yet
      term break certainly only. Various fire something step. Away wait color everybody
      senior.","auteur":"Jonathan Allen","taal":"lv","vertrouwelijkheidaanduiding":"computer","status":"government","formaat":"avi","bestandsn[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":1,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_score":3.9911373E-12,"_source":{"service_slug":"test-service","beschrijving":"Employee
        buy response always table activity clear chance. Fight church prove themselves.
        Several action country happen college put war.","verschijningsvorm":"reflect","begin_registratie":"2026-03-12T10:39:10.816859","identificatie":"0af52341-2271-491c-bd03-8503a5e8bb91","bronorganisatie":"Mcclain
        Group","bestandsomvang":1000000,"link":"http://robinson.net/","next_check_at":"1979-03-16T00:00:00","uuid":"80485d67-0b97-4ed5-8483[...]
