interactions:
- request:
    body: '{"uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"https://www.williams.com/","identificatie":"document1","bronorganisatie":"Wilkerson,
      Peterson and Martin","titel":"Unique Document","beschrijving":"Ready health
      develop beat arrive her along. Reach we son year economy manager. Performance
      blue research.","auteur":"Beth Calhoun","taal":"mni","vertrouwelijkheidaanduiding":"Democrat","status":"often","formaat":"bmp","bestandsnaam":"report.html","informatieobjecttype":"rather","verschijningsvorm":"interest","bestandsomvang":1000000,"link":"https://robinson-leonard.biz/","creatiedatum":"2026-03-11","begin_registratie":"2026-04-08T02:39:08.143014","last_checked_at":"1979-02-28T00:00:00","next_check_at":"1971-12-28T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"4b9bf35c-053a-4e58-b4d4-cbddf5e7e063","url":"http://gutierrez-klein.info/","identificatie":"fbae5e7c-15de-452b-9774-192e52c9a6ba","bronorganisatie":"Mullins,
      Smith and Lopez","verantwoordelijkeOrganisatie":"Mills-Klein","omschrijving":"Much
      goal same nice.","toelichting":"Around final light conference. Suddenly ten
      ten national.","status":"choice","registratiedatum":"2026-03-26","startdatum":"2026-03-17","zaaktype":"follow","object_type":"outside"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6dd95a10-cc97-4f19-b7e4-2c85358acb98
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"6ad95a10-cc97-4f19-b7e4-2c85358acb98","url":"https://www.wilson.org/","identificatie":"document2","bronorganisatie":"Jenkins
      and Sons","titel":"Unique Document2","beschrijving":"Whole mouth make run upon
      take. Hold there successful bit. Top its thought. Buy friend question happy
      require building family.","auteur":"Scott Ward","taal":"az","vertrouwelijkheidaanduiding":"along","status":"that","formaat":"wav","bestandsnaam":"modern.avi","informatieob[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"document1","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","_score":0.94257474,"_source":{"service_slug":"test-service","beschrijving":"Ready
        health develop beat arrive her along. Reach we son year economy manager. Performance
        blue research.","verschijningsvorm":"interest","begin_registratie":"2026-04-08T02:39:08.143014","identificatie":"document1","bronorganisatie":"Wilkerson,
        Peterson and Martin","bestandsomvang":1000000,"link":"https://robinson-leonard.biz/","next_check_at":"1971-12-28T00:00:00","uuid":"6dd95a10-cc97-4f19-b7e4-2c85358acb98","url":"https://[...]
