interactions:
- request:
    body: '{"uuid":"3916925a-4260-4505-bfbb-0942113efd49","url":"http://www.jennings.com/","identificatie":"snowflake","bronorganisatie":"Mason-Davis","creatiedatum":"2026-02-24","titel":"Congress
      top eye positive create difference nation.","auteur":"Danielle Garcia","taal":"wae","begin_registratie":"2026-02-18T01:38:31.398251","informatieobjecttype":"source","vertrouwelijkheidaanduiding":"black","status":"establish","formaat":"bmp","bestandsnaam":"hold.mp4","link":"https://www.underwood-lewis.org/","beschrijving":"Cost
      list real information require. Support chance relationship hair term me stand.
      Anything kitchen top positive thus.","verschijningsvorm":"lose"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/3916925a-4260-4505-bfbb-0942113efd49?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"3916925a-4260-4505-bfbb-0942113efd49","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":24,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/3916925a-4260-4505-bfbb-0942113efd49
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"d49bc304-01a1-4eda-a914-a8dda5c901e2","url":"http://www.baxter.com/","identificatie":"document2","bronorganisatie":"Allen
      LLC","creatiedatum":"2026-03-05","titel":"snowflake","auteur":"Alison Hoffman","taal":"kok","begin_registratie":"2026-03-10T06:08:44.276339","informatieobjecttype":"soon","vertrouwelijkheidaanduiding":"while","status":"single","formaat":"jpg","bestandsnaam":"worry.jpeg","link":"https://huang.org/","beschrijving":"Everyone
      charge wait school. Easy watch game information.","verschijningsvorm":"clear"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d49bc304-01a1-4eda-a914-a8dda5c901e2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d49bc304-01a1-4eda-a914-a8dda5c901e2","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":25,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d49bc304-01a1-4eda-a914-a8dda5c901e2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"bdcc4cea-b186-425e-8dcd-9fecb6818563","url":"http://www.cunningham.com/","identificatie":"document3","bronorganisatie":"Walker,
      Cantrell and Tucker","creatiedatum":"2026-02-22","titel":"Argue although after
      cell.","auteur":"Kristina Salas","taal":"bo","begin_registratie":"2026-02-25T15:41:11.430719","informatieobjecttype":"rich","vertrouwelijkheidaanduiding":"hot","status":"serious","formaat":"jpeg","bestandsnaam":"snowflake","link":"http://www.scott.info/","beschrijving":"Claim
      recognize participant glass respond name over. Appear these ever pressure lay.
      Seat tonight sea.","verschijningsvorm":"authority"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/bdcc4cea-b186-425e-8dcd-9fecb6818563?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"bdcc4cea-b186-425e-8dcd-9fecb6818563","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":26,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/bdcc4cea-b186-425e-8dcd-9fecb6818563
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"7eade718-bccb-4876-9f00-a095beebc360","url":"http://www.black.com/","identificatie":"document4","bronorganisatie":"Gaines
      PLC","creatiedatum":"2026-02-18","titel":"Century become traditional believe
      us room everyone.","auteur":"Tina Bradshaw","taal":"zh","begin_registratie":"2026-03-01T00:07:15.359503","informatieobjecttype":"every","vertrouwelijkheidaanduiding":"edge","status":"important","formaat":"mp3","bestandsnaam":"truth.wav","link":"http://yates.com/","beschrijving":"snowflake","verschijningsvorm":"wife"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/7eade718-bccb-4876-9f00-a095beebc360?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"7eade718-bccb-4876-9f00-a095beebc360","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":27,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/7eade718-bccb-4876-9f00-a095beebc360
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"snowflake","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":4,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d49bc304-01a1-4eda-a914-a8dda5c901e2","_score":6.3509865,"_source":{"begin_registratie":"2026-03-10T06:08:44.276339","beschrijving":"Everyone
        charge wait school. Easy watch game information.","verschijningsvorm":"clear","identificatie":"document2","bronorganisatie":"Allen
        LLC","link":"https://huang.org/","uuid":"d49bc304-01a1-4eda-a914-a8dda5c901e2","url":"http://www.baxter.com/","taal":"kok","auteur":"Alison
        Hoffman","formaat":"jpg","titel":"snowflake","vertrouwelijkheidaanduiding":"while","informatieobjecttype":"soon","bestandsnaam":"w[...]
