interactions:
- request:
    body: '{"uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://holmes.com/","identificatie":"5c478604-e86c-4554-a786-f34ad521933f","bronorganisatie":"Parker
      Ltd","titel":"","beschrijving":"Document one, on which we expect an exact phrase
      match.","auteur":"Rebecca Brown","taal":"cy","vertrouwelijkheidaanduiding":"into","status":"much","formaat":"bmp","bestandsnaam":"have.avi","informatieobjecttype":"including","verschijningsvorm":"ahead","bestandsomvang":1000000,"link":"https://www.proctor.com/","creatiedatum":"2026-03-24","begin_registratie":"2026-03-26T19:41:38.451416","last_checked_at":"2007-10-24T00:00:00","next_check_at":"2015-05-30T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"01328286-edd4-487e-8dc2-8d09c3e6f777","url":"http://www.peters.net/","identificatie":"ab16f245-df40-4970-8a1c-c27eb1fac97b","bronorganisatie":"Martin,
      Nelson and Robinson","verantwoordelijkeOrganisatie":"Miller Group","omschrijving":"Take
      rise sort.","toelichting":"Bag language eye. Get record any actually bar consumer.
      The physical act weight prevent understand impact physical.","status":"already","registratiedatum":"2026-03-13","startdatum":"2026-03-31","zaaktype":"bag","object_type":"generation"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":32,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d6eacab4-cb9f-42f7-abdf-719b358da923
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"a8fce14e-88d1-4f60-a69b-bbcc7033afe9","url":"https://www.thomas.com/","identificatie":"6ec2cf32-e9ba-44aa-8043-e384d90b96e2","bronorganisatie":"Fisher
      and Sons","titel":"","beschrijving":"Document two, the document that came after
      one.","auteur":"Matthew Hahn","taal":"en","vertrouwelijkheidaanduiding":"idea","status":"tend","formaat":"csv","bestandsnaam":"crime.gif","informatieobjecttype":"across","verschijningsvorm":"agree","bestandsomvang":1000000,"li[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"\"document
      one\"","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"d6eacab4-cb9f-42f7-abdf-719b358da923","_score":3.3164988,"_source":{"service_slug":"test-service","beschrijving":"Document
        one, on which we expect an exact phrase match.","verschijningsvorm":"ahead","begin_registratie":"2026-03-26T19:41:38.451416","identificatie":"5c478604-e86c-4554-a786-f34ad521933f","bronorganisatie":"Parker
        Ltd","bestandsomvang":1000000,"link":"https://www.proctor.com/","next_check_at":"2015-05-30T00:00:00","uuid":"d6eacab4-cb9f-42f7-abdf-719b358da923","url":"https://holmes.com/","taal":"cy","zaak_referenties":[{"omschrijving[...]
[...]
