interactions:
- request:
    body: '{"uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://nguyen.biz/","identificatie":"195459ed-d39d-4665-9e87-48a55a682365","bronorganisatie":"Campbell-Chang","creatiedatum":"2026-02-03","titel":"Chance
      along interest body.","auteur":"Tonya Roman","taal":"dz","begin_registratie":"2026-03-02T14:55:39.181448","informatieobjecttype":"thought","vertrouwelijkheidaanduiding":"wind","status":"purpose","formaat":"mp3","bestandsnaam":"protect.txt","link":"https://barrett.net/","beschrijving":"Change
      reflect per fact voice growth now. Attorney edge relate leg follow old house.
      Task force data help their tend. Decade goal continue probably by.","ontvangstdatum":"2026-02-13","verzenddatum":"2026-02-11","verschijningsvorm":"effect"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/80485d67-0b97-4ed5-8483-f2d03d012e19
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"48981334-b480-4e7d-8c8d-925bbc67a969","url":"http://www.sullivan.org/","identificatie":"95c9c4c2-726c-4063-af6e-615eef4dd973","bronorganisatie":"Owens,
      Morgan and Cannon","creatiedatum":"2026-03-01","titel":"Although quite movement
      fear.","auteur":"Philip Brown","taal":"de","begin_registratie":"2026-02-08T22:08:04.568185","informatieobjecttype":"fish","vertrouwelijkheidaanduiding":"help","status":"politics","formaat":"pages","bestandsnaam":"onto.json","[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"match_all":{}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":1,"size":1}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"80485d67-0b97-4ed5-8483-f2d03d012e19","_score":0.20924586,"_source":{"begin_registratie":"2026-03-02T14:55:39.181448","beschrijving":"Change
        reflect per fact voice growth now. Attorney edge relate leg follow old house.
        Task force data help their tend. Decade goal continue probably by.","verschijningsvorm":"effect","identificatie":"195459ed-d39d-4665-9e87-48a55a682365","bronorganisatie":"Campbell-Chang","link":"https://barrett.net/","uuid":"80485d67-0b97-4ed5-8483-f2d03d012e19","url":"http://nguyen.biz/","taal":"dz","verzenddatum":"2026-02-11","auteur":"Tonya
        Roman","formaat":"mp3","titel":"Chance along interest body.","vertrouwelijkheidaanduiding":"wind","informatieobjecttype":"thought","bestandsnaam":"protect.txt","ontvangstdatum":"2026-02-13","creatiedatum":"2026-02-03","status":"purpose"},"sort":[0.20924586,1770076800000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
