interactions:
- request:
    body: '{"uuid":"expired-1","url":"https://allen.net/","identificatie":"50c1a194-1d06-470d-8511-021534c68031","bronorganisatie":"Wilson-Hebert","titel":"Half
      build receive condition mouth attack do.","beschrijving":"Wind outside others
      those themselves. Place term test deal test state.","auteur":"Mandy Taylor","taal":"tig","vertrouwelijkheidaanduiding":"mother","status":"understand","formaat":"bmp","bestandsnaam":"cup.avi","informatieobjecttype":"statement","verschijningsvorm":"certain","bestandsomvang":1000000,"link":"http://www.washington.net/","creatiedatum":"2026-03-14","begin_registratie":"2026-04-06T02:27:52.151138","last_checked_at":"2026-04-07T12:25:40.041736+00:00","next_check_at":"2026-04-08T12:25:40.041736+00:00","service_slug":"documenten-api","group_slug":"group-test","zaak_referenties":[{"uuid":"361c9c97-cebb-4042-b327-e30c90f8cee3","url":"http://www.burke.biz/","identificatie":"4cbd93a9-c74d-4eec-b9b7-1208f6aadd56","bronorganisatie":"Stuart
      Ltd","verantwoordelijkeOrganisatie":"Lopez and Sons","omschrijving":"Tree eight
      card doctor phone.","toelichting":"Mind discussion environment record. Relationship
      throw next ok price computer. Cold report be happen south.","status":"table","registratiedatum":"2026-03-24","startdatum":"2026-04-02","zaaktype":"writer","object_type":"federal"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/expired-1?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"expired-1","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/expired-1
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"expired-2","url":"https://www.robinson-mitchell.com/","identificatie":"ed188146-c94c-44f7-9b2a-8c75d1aeb8be","bronorganisatie":"Ingram,
      Perez and James","titel":"Wear light same cut.","beschrijving":"None degree
      network east ago. Our avoid since impact she.","auteur":"Jeremy Chung","taal":"hu","vertrouwelijkheidaanduiding":"research","status":"education","formaat":"jpeg","bestandsnaam":"bad.html","informatieobjecttype":"budget","verschijningsvorm":"thou[...]
- request:
    body: '{"uuid":"valid-1","url":"https://gonzalez.info/","identificatie":"111d52ee-bfd9-4541-bda7-13b671c7a8b0","bronorganisatie":"White,
      Craig and Washington","titel":"Continue north travel federal couple police.","beschrijving":"Step
      make become few half. Responsibility trade describe address treat six wish.
      Arm much still. Police off save choice movement.","auteur":"Julia Price","taal":"pl","vertrouwelijkheidaanduiding":"benefit","status":"piece","formaat":"mov[...]
- request:
    body: '{"query":{"range":{"next_check_at":{"lte":"2026-04-09T12:25:40.041736+00:00"}}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"expired-1","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-14","group_slug":"group-test"}},{"_index":"document","_id":"expired-2","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-15","group_slug":"group-test"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
