interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://www.boyer-sloan.net/","identificatie":"99480c09-4392-477c-9278-2220bca83a44","bronorganisatie":"Juarez
      and Sons","titel":"Sense finish laugh room want fund project.","beschrijving":"Any
      understand idea. Western maybe particularly office skill outside wonder. Account
      figure the perhaps plant hard sit.","auteur":"Debbie Jenkins","taal":"shs","vertrouwelijkheidaanduiding":"mean","status":"sister","formaat":"png","bestandsnaam":"coach.bmp","informatieobjecttype":"peace","verschijningsvorm":"usually","bestandsomvang":1000000,"link":"http://www.wagner.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-16T13:55:02.572746","last_checked_at":"2026-03-29T12:00:00+00:00","next_check_at":"2026-03-30T11:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"8103ced1-2f70-40e9-95b2-a058d3d2081b","url":"https://www.bryant.com/","identificatie":"11a636e4-ac63-463e-aef8-62df242ad703","bronorganisatie":"Robinson,
      Ruiz and Dunn","verantwoordelijkeOrganisatie":"Harrington, Wells and Brown","omschrijving":"Scientist
      the growth suggest dream.","toelichting":"Wear win product. Discover daughter
      member much risk teacher. Part court page example.","status":"country","registratiedatum":"2026-03-26","startdatum":"2026-03-25","zaaktype":"card","object_type":"film","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"https://brooks.com/","identificatie":"19e1eae8-dba2-419f-be65-c18277eb9c0f","bronorganisatie":"Roach
      LLC","titel":"Relate soon region floor law.","beschrijving":"Listen line machine
      health. Church me yard music fill idea. Fall station before away individual
      site. Standard few billion huge spring.","auteur":"Alexander Hernandez","taal":"iw","vertrouwelijkheidaanduiding":"movie","status":"play","formaat":[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"http://www.lewis.org/","identificatie":"7a982475-d885-4673-b859-ed8f632fe588","bronorganisatie":"Miller,
      Lara and Robinson","titel":"Rule those politics.","beschrijving":"As positive
      family capital. Exist item people resource huge radio state election. Range
      worker decision TV in along whether.","auteur":"Aaron Reyes","taal":"te","vertrouwelijkheidaanduiding":"mission","status":"than","formaat":"xlsx","[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0363677,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":3,"_seq_no":19,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Any
        understand idea. Western maybe particularly office skill outside wonder. Account
        figure the perhaps plant hard sit.","verschijningsvorm":"usually","begin_registratie":"2026-03-16T13:55:02.572746","identificatie":"99480c09-4392-477c-9278-2220bca83a44","bronorganisatie":"Juarez
        and Sons","bestandsomvang":1000000,"link":"http://www.wagner.com/","next_check_at":"2026-03-30T11:00:00+00:00","uuid":"11111111-111[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=19&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":4,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":22,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":5,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":24,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
