interactions:
- request:
    body: '{"uuid":"doc-valid","url":"http://www.wilson.com/","identificatie":"09c3eda8-bbf9-4dc2-be0f-cf9143c145a3","bronorganisatie":"Raymond,
      Hinton and Montoya","titel":"Benefit before full himself player.","beschrijving":"Bed
      sister culture seem everybody heart training. Policy able plant. Our speech
      others perhaps help seat.","auteur":"Kevin Cooper","taal":"eu","vertrouwelijkheidaanduiding":"suggest","status":"have","formaat":"wav","bestandsnaam":"base.bmp","informatieobjecttype":"history","verschijningsvorm":"challenge","bestandsomvang":1000000,"link":"https://frazier-dickerson.com/","creatiedatum":"2026-03-01","begin_registratie":"2026-03-26T13:39:09.801809","last_checked_at":"2026-03-31T12:42:14.647957+00:00","next_check_at":"2026-04-05T12:42:14.647961+00:00","service_slug":"documenten-api","group_slug":"group-1"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"aggs":{"latest_date":{"max":{"field":"creatiedatum"}}},"query":{"bool":{"must":[{"exists":{"field":"creatiedatum"}},{"term":{"service_slug":"documenten-api"}}]}},"size":0}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"latest_date":{"value":1.7723232E12,"value_as_string":"2026-03-01"}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-01&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":9,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/a9c82615-cee7-4e9d-b7a8-460623882c38","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000176","creatiedatum":"2026-03-16","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mads Mulder","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:49:19.435000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/a9c82615-cee7-4e9d-b7a8-460623882c38/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/dbfe1f09-2803-4a40-862c-f2ca75f384d1","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000152","creatiedatum":"2026-03-12","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Ayden van
        Velzen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:45.837000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/a[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-31T12:42:15.433619+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
