interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"http://www.lewis.com/","identificatie":"97d7f67a-3ec3-4291-aabe-01b781a26d60","bronorganisatie":"Edwards,
      Bernard and Morgan","creatiedatum":"2026-02-23","titel":"Daughter reveal heart
      dog ready.","auteur":"Susan Marquez","taal":"eu","begin_registratie":"2026-02-21T02:55:27.602072","informatieobjecttype":"even","vertrouwelijkheidaanduiding":"decide","status":"left","formaat":"html","bestandsnaam":"court.bmp","link":"https://www.freeman.com/","beschrijving":"Send
      grow before up. Tree treatment school none describe interview.","verschijningsvorm":"agent","verloopt_op":"2026-03-15T12:00:00+00:00"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","url":"https://dennis.biz/","identificatie":"150e4655-479f-4948-a7eb-ed7dae18facc","bronorganisatie":"Powers
      LLC","creatiedatum":"2026-03-13","titel":"Apply collection citizen protect other
      conference hour election.","auteur":"Andrew Oneal","taal":"wa","begin_registratie":"2026-03-09T11:54:17.615435","informatieobjecttype":"exactly","vertrouwelijkheidaanduiding":"heart","status":"large","formaat":"mp3","bestandsnaam[...]
- request:
    body: '{"query":{"range":{"verloopt_op":{"lte":"2026-03-16T12:00:00+00:00"}}},"size":100}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0,"_source":{"begin_registratie":"2026-02-21T02:55:27.602072","beschrijving":"Send
        grow before up. Tree treatment school none describe interview.","verschijningsvorm":"agent","identificatie":"97d7f67a-3ec3-4291-aabe-01b781a26d60","bronorganisatie":"Edwards,
        Bernard and Morgan","link":"https://www.freeman.com/","verloopt_op":"2026-03-15T12:00:00+00:00","uuid":"11111111-1111-1111-1111-111111111111","url":"http://www.lewis.com/","taal":"eu","auteur":"Susan
        Marquez","formaat":"html","tit[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"type":"http://localhost:8003/ref/fouten/NotFound/","code":"not_found","title":"Niet
        gevonden.","status":404,"detail":"Niet gevonden.","instance":"urn:uuid:ffd90eaa-bd15-48ff-b1b8-b41d13bff02a"}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8","identificatie":"test
        tim date nieuw","bronorganisatie":"001876387","creatiedatum":"2026-03-11","titel":"test","vertrouwelijkheidaanduiding":"","auteur":"tim","status":"","formaat":"","taal":"dut","versie":1,"beginRegistratie":"2026-03-17T13:18:02.956904Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8/download?versie=1","bestandsomvang":100,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":null,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7755ab0f-9e37-4834-8bbf-158f9f2da38e","locked":true,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETag:
      - '"d8e676914c636a3726519ca9b1728e79"'
    status:
      code: 200
      message: OK
- request:
    body: '{"doc":{"verloopt_op":"2026-03-23T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"_index":"document","_id":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_refresh
  response:
    body:
      string: '{"_shards":{"total":2,"successful":1,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"_index":"document","_id":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","_version":2,"_seq_no":3,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-03-09T11:54:17.615435","beschrijving":"Oil
        these often. Hard man message difficult present. Collection go probably. Hour
        positive technology finish deep maybe main.","verschijningsvorm":"plan","identificatie":"150e4655-479f-4948-a7eb-ed7dae18facc","bronorganisatie":"Powers
        LLC","link":"https://www.castillo.com/","verloopt_op":"2026-03-23T12:00:00+00:00","uuid":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","url":"https://dennis.biz/","taal":"wa","auteur":"Andrew
        Oneal","formaat":"mp3","titel":"Apply collection citizen protect other conference
        hour election.","vertrouwelijkheidaanduiding":"heart","informatieobjecttype":"exactly","bestandsnaam":"here.html","creatiedatum":"2026-03-13","status":"large"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
