interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://www.miller.info/","identificatie":"068ceddf-f972-4255-9ff1-ffd9af121146","bronorganisatie":"Lopez,
      Banks and Young","titel":"Seem method suggest consider.","beschrijving":"Him
      enjoy travel successful what future need. Individual Mr add certain write.","auteur":"Victor
      Griffin","taal":"shs","vertrouwelijkheidaanduiding":"pull","status":"keep","formaat":"webm","bestandsnaam":"keep.json","informatieobjecttype":"large","verschijningsvorm":"network","bestandsomvang":1000000,"link":"http://www.greene.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-17T00:10:29.423252","last_checked_at":"2026-03-28T12:00:00+00:00","next_check_at":"2026-03-29T12:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"96b9ff6f-1f33-4ca3-a8bb-496f1afcdf48","url":"http://harvey.com/","identificatie":"e9b6c7eb-496b-44ab-bb99-682c51e55ce6","bronorganisatie":"Silva-Kelly","verantwoordelijkeOrganisatie":"Burgess,
      Smith and Martin","omschrijving":"Seat state tough time pattern popular.","toelichting":"Buy
      different product wife determine effect recent.","status":"subject","registratiedatum":"2026-03-22","startdatum":"2026-03-13","zaaktype":"state","object_type":"since"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"http://www.callahan.biz/","identificatie":"f31f2fc4-c1aa-4366-930b-aa6aa0ac0c26","bronorganisatie":"Freeman,
      Franco and Johnson","titel":"Young authority behavior risk month but while.","beschrijving":"War
      as grow best. Call method dog develop. Moment forget conference notice law.","auteur":"Dawn
      Cooper","taal":"hak","vertrouwelijkheidaanduiding":"should","status":"or","formaat":"jpeg","bestandsnaam":"a[...]
- request:
    body: '{"uuid":"33333333-3333-3333-3333-333333333333","url":"http://butler.com/","identificatie":"23cb8973-0484-4711-83c1-a4c1fff4b4a7","bronorganisatie":"Sherman-Mcmillan","titel":"Weight
      quality figure example would yourself establish.","beschrijving":"House high
      actually early institution born stand. Keep federal place open word speak.","auteur":"Nicholas
      Miller","taal":"kk","vertrouwelijkheidaanduiding":"sure","status":"mouth","formaat":"webm","bestandsnaam":[...]
- request:
    body: '{"uuid":"44444444-4444-4444-4444-444444444444","url":"http://www.haynes.com/","identificatie":"d43f00ba-b075-4665-96a7-9023d8788d5b","bronorganisatie":"Khan
      Inc","titel":"Political help article ahead interview operation class.","beschrijving":"Strategy
      political dream author beautiful. Shake whole she public during budget adult
      attack. Left better under century understand become direction friend.","auteur":"Robert
      Turner","taal":"mai","vertrouwelijkh[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"http://www.short.biz/","identificatie":"7f1c5913-642d-4a5a-8c2c-ea34ce860c6b","bronorganisatie":"Taylor,
      Garcia and Peterson","titel":"Less Mr field peace international find system.","beschrijving":"Too
      between form bag these still. Indicate might movement fear these key.","auteur":"Valerie
      Alvarez","taal":"ru","vertrouwelijkheidaanduiding":"there","status":"sense","formaat":"mp3","bestandsnaam":"identi[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0512933,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"_seq_no":8,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Him
        enjoy travel successful what future need. Individual Mr add certain write.","verschijningsvorm":"network","begin_registratie":"2026-03-17T00:10:29.423252","identificatie":"068ceddf-f972-4255-9ff1-ffd9af121146","bronorganisatie":"Lopez,
        Banks and Young","bestandsomvang":1000000,"link":"http://www.greene.com/","next_check_at":"2026-03-29T12:00:00+00:00","uuid":"11111111-1111-1111-1111-111111111111","url":"https://w[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=8&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"match_all":{}},"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"44444444-4444-4444-4444-444444[...]
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
