interactions:
- request:
    body: '{"uuid":"expired-1","url":"http://www.nguyen.com/","identificatie":"d4e32473-e25a-437a-b614-4d0774e38549","bronorganisatie":"Lynch-Patel","titel":"Peace
      campaign inside under local every.","beschrijving":"People hear beat girl perhaps
      require. Bad TV someone yourself blood sometimes government. Best bar edge society
      pass usually other.","auteur":"Abigail Doyle","taal":"sc","vertrouwelijkheidaanduiding":"tough","status":"around","formaat":"jpg","bestandsnaam":"figure.xlsx","informatieobjecttype":"drug","verschijningsvorm":"after","bestandsomvang":1000000,"link":"http://obrien.info/","creatiedatum":"2026-03-14","begin_registratie":"2026-03-31T08:28:19.840756","last_checked_at":"2026-04-08T13:43:08.062490+00:00","next_check_at":"2026-04-09T13:43:08.062490+00:00","service_slug":"documenten-api","group_slug":"group-test","zaak_referenties":[{"uuid":"402f445f-a287-4c5e-8103-172924ce71e8","url":"http://lewis.net/","identificatie":"1f1f757e-7bef-43e1-8a94-6c653c462080","bronorganisatie":"Adams-Wilson","verantwoordelijkeOrganisatie":"Miller-Dunn","omschrijving":"Data
      which recently believe close.","toelichting":"Short least hundred human. Charge
      call have.","status":"billion","registratiedatum":"2026-03-31","startdatum":"2026-03-23","zaaktype":"pay","object_type":"usually","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/expired-1?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"expired-1","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/expired-1
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"expired-2","url":"http://foster.org/","identificatie":"28e9a1b0-6cc4-4d4d-a21c-ef5bf234489f","bronorganisatie":"Mckenzie
      Ltd","titel":"Vote others wrong system prevent she.","beschrijving":"Man all
      voice in whatever certainly ok statement. Deep specific nature trouble through
      left ago.","auteur":"Marcus Mueller","taal":"sid","vertrouwelijkheidaanduiding":"else","status":"someone","formaat":"html","bestandsnaam":"entire.jpeg","informatieobjecttype"[...]
- request:
    body: '{"uuid":"valid-1","url":"https://vargas.com/","identificatie":"2ed4617f-98fc-4f74-89de-df0df4cf6be4","bronorganisatie":"Alvarez
      LLC","titel":"Financial west positive about weight fill own.","beschrijving":"Economy
      area hair kid history indeed enjoy.","auteur":"Ashley Adams","taal":"so","vertrouwelijkheidaanduiding":"decision","status":"eat","formaat":"mov","bestandsnaam":"scientist.flac","informatieobjecttype":"their","verschijningsvorm":"ten","bestandsomvang":1[...]
- request:
    body: '{"query":{"range":{"next_check_at":{"lte":"2026-04-10T13:43:08.062490+00:00"}}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":10,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"expired-1","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-14","group_slug":"group-test"}},{"_index":"document","_id":"expired-2","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-15","group_slug":"group-test"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
