interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://berry.com/","identificatie":"f5995141-84e0-4213-a59a-e4dc6cc37e5d","bronorganisatie":"Wood,
      Miller and Flores","titel":"Party hit his what respond.","beschrijving":"Successful
      education force across theory stock group. Pm war child safe knowledge same.
      Three card behavior same hope meeting ok.","auteur":"Mr. Jason Proctor","taal":"st","vertrouwelijkheidaanduiding":"drug","status":"water","formaat":"jpeg","bestandsnaam":"paper.doc","informatieobjecttype":"language","verschijningsvorm":"already","bestandsomvang":1000000,"link":"https://forbes.net/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-27T11:11:20.002242","last_checked_at":"2026-03-28T12:00:00+00:00","next_check_at":"2026-03-29T12:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"cbf77ce3-2c11-4b1f-9cac-a5c8d6886247","url":"https://www.bartlett.org/","identificatie":"91eebfc1-abd2-465d-89ae-814402fa8088","bronorganisatie":"Matthews-Rodriguez","verantwoordelijkeOrganisatie":"Reed
      Inc","omschrijving":"When particularly fear.","toelichting":"Exist capital sport
      tough. Boy action include hour minute. Dog purpose quality evening nature seven
      be.","status":"court","registratiedatum":"2026-03-23","startdatum":"2026-03-13","zaaktype":"find","object_type":"story"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"http://maldonado-murray.net/","identificatie":"69988220-8999-48d8-bd61-6cf40d76e1d8","bronorganisatie":"Scott,
      Adams and Flores","titel":"Name difference fish author force exactly.","beschrijving":"Require
      American idea. There base least wide minute. School point off which describe
      many.","auteur":"Lauren Wheeler","taal":"doi","vertrouwelijkheidaanduiding":"beyond","status":"rich","formaat":"wav","besta[...]
- request:
    body: '{"uuid":"33333333-3333-3333-3333-333333333333","url":"https://riddle.org/","identificatie":"556c4b1e-cdb0-40f2-b573-ced98507dfbc","bronorganisatie":"Fisher-Anderson","titel":"Final
      nature order single difference child.","beschrijving":"Yourself cover man.","auteur":"Ashley
      Mendoza","taal":"nr","vertrouwelijkheidaanduiding":"deal","status":"hope","formaat":"webm","bestandsnaam":"environmental.mp3","informatieobjecttype":"pick","verschijningsvorm":"campaign","best[...]
- request:
    body: '{"uuid":"44444444-4444-4444-4444-444444444444","url":"https://hunt-james.org/","identificatie":"8feb5a54-d7ec-4ee5-b41c-3721b514df77","bronorganisatie":"Bell,
      Bailey and Campos","titel":"Consumer case table.","beschrijving":"For quite
      exist best long. Option alone strategy foreign.","auteur":"Marie Alvarez DDS","taal":"eo","vertrouwelijkheidaanduiding":"east","status":"relate","formaat":"png","bestandsnaam":"discuss.wav","informatieobjecttype":"describe","versch[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"https://leonard.com/","identificatie":"1e5a90e1-e794-4558-a228-569d4be7a333","bronorganisatie":"Dean,
      Freeman and Smith","titel":"Baby for on population their.","beschrijving":"Enough
      right use partner democratic author arrive. Name nature better position.","auteur":"John
      Rogers","taal":"nr","vertrouwelijkheidaanduiding":"production","status":"only","formaat":"flac","bestandsnaam":"important.pages","inf[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0512933,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"_seq_no":8,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Successful
        education force across theory stock group. Pm war child safe knowledge same.
        Three card behavior same hope meeting ok.","verschijningsvorm":"already","begin_registratie":"2026-03-27T11:11:20.002242","identificatie":"f5995141-84e0-4213-a59a-e4dc6cc37e5d","bronorganisatie":"Wood,
        Miller and Flores","bestandsomvang":1000000,"link":"https://forbes.net/","next_check_at":"2026-03-29T12:00:00+00:00","uuid[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=8&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"match_all":{}},"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"44444444-4444-4444-4444-444444[...]
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
