interactions:
- request:
    body: '{"uuid":"doc-valid","url":"http://www.ramirez.biz/","identificatie":"b1cacdbe-2ce7-422a-9793-968baa051052","bronorganisatie":"Francis
      Inc","titel":"Age class deal executive never sea current.","beschrijving":"State
      record skill lawyer. Tonight will your himself woman seat must. Drug seek boy
      reflect tough yeah through.","auteur":"Martin Perry","taal":"hy","vertrouwelijkheidaanduiding":"significant","status":"while","formaat":"avi","bestandsnaam":"answer.wav","informatieobjecttype":"finish","verschijningsvorm":"stand","bestandsomvang":1000000,"link":"https://thomas-murillo.biz/","creatiedatum":"2026-03-31","begin_registratie":"2026-04-02T22:24:10.334689","last_checked_at":"2026-04-10T12:29:00.684027+00:00","next_check_at":"2026-04-15T12:29:00.684030+00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"e820e59f-0790-414d-8885-9e480bd70436","url":"http://shields.com/","identificatie":"82c98961-8002-4782-9c95-d32c83701137","bronorganisatie":"Price,
      Harris and Roberson","verantwoordelijkeOrganisatie":"Lucero, Holland and Andrade","omschrijving":"Rise
      mention its effort firm.","toelichting":"About possible my wear adult. Off try
      sort usually institution. Peace standard firm. Meeting husband firm seem common.","status":"provide","registratiedatum":"2026-03-14","startdatum":"2026-03-13","zaaktype":"identify","object_type":"purpose","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-04-10T12:29:01.458170+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
