interactions:
- request:
    body: '{"uuid":"doc-valid","url":"https://grimes.com/","identificatie":"5408236f-a19b-4e2a-8b79-fe720b1eed7a","bronorganisatie":"Sullivan
      PLC","titel":"Sell local anything rock soon course rule.","beschrijving":"Push
      difference Democrat official. Throughout maybe plan my. Fire foreign store one
      never.","auteur":"Michele Smith","taal":"the","vertrouwelijkheidaanduiding":"place","status":"possible","formaat":"wav","bestandsnaam":"west.pdf","informatieobjecttype":"bring","verschijningsvorm":"head","bestandsomvang":1000000,"link":"http://www.wright.com/","creatiedatum":"2026-03-17","begin_registratie":"2026-04-05T10:41:41.148922","last_checked_at":"2026-04-10T07:17:32.924605+00:00","next_check_at":"2026-04-15T07:17:32.924609+00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"6b45538f-dd4a-4f52-9a49-8435f7c6a0f7","url":"http://www.salas-ramirez.com/","identificatie":"0e071e5c-4015-4d39-8381-d71dc7dac5f0","bronorganisatie":"White-Gallagher","verantwoordelijkeOrganisatie":"Kelly-Johnson","omschrijving":"Tend
      seat today a institution remain.","toelichting":"Bar use suffer practice. Very
      brother sit pay.","status":"discover","registratiedatum":"2026-03-30","startdatum":"2026-04-01","zaaktype":"increase","object_type":"save"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-04-10T07:17:33.729928+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
