interactions:
- request:
    body: '{"uuid":"doc-valid","url":"http://www.benjamin.com/","identificatie":"625a0704-76c7-467a-9268-f74a5b08a262","bronorganisatie":"Martinez
      Ltd","titel":"Seem also shoulder born.","beschrijving":"Attention wish cell
      why. Provide second approach production. Weight fine instead nearly top feeling
      poor board.","auteur":"Terry Arroyo","taal":"gu","vertrouwelijkheidaanduiding":"loss","status":"actually","formaat":"html","bestandsnaam":"student.key","informatieobjecttype":"return","verschijningsvorm":"process","bestandsomvang":1000000,"link":"http://www.weiss.info/","creatiedatum":"2026-04-06","begin_registratie":"2026-04-08T23:30:31.443352","last_checked_at":"2026-04-10T09:05:19.360450+00:00","next_check_at":"2026-04-15T09:05:19.360453+00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"13df9fe8-8566-472a-9088-2791fb269ec6","url":"https://www.baxter-davis.com/","identificatie":"9bdd691d-0891-4234-a026-0e234582338e","bronorganisatie":"Morgan
      PLC","verantwoordelijkeOrganisatie":"Stone, Ponce and Davis","omschrijving":"Chance
      president Republican.","toelichting":"Anything that loss contain Congress front
      history. Real nation both reason president note. Rock direction white never.","status":"involve","registratiedatum":"2026-03-19","startdatum":"2026-04-07","zaaktype":"new","object_type":"tax"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-04-10T09:05:20.150838+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
