interactions:
- request:
    body: '{"uuid":"expired-1","url":"https://mason-reyes.com/","identificatie":"dd1cd7a5-ffb9-4a9d-a787-4d238db7f147","bronorganisatie":"Barry-Vazquez","titel":"Suggest
      believe couple answer system site.","beschrijving":"Customer kid network interesting
      tell person. Probably air mouth her black appear road. Require college hear
      direction itself wait.","auteur":"Alexandra Ho","taal":"zu","vertrouwelijkheidaanduiding":"shake","status":"I","formaat":"webm","bestandsnaam":"letter.js","informatieobjecttype":"western","verschijningsvorm":"your","bestandsomvang":1000000,"link":"http://baker.biz/","creatiedatum":"2026-03-14","begin_registratie":"2026-03-31T03:43:44.793775","last_checked_at":"2026-04-08T07:17:29.895867+00:00","next_check_at":"2026-04-09T07:17:29.895867+00:00","service_slug":"documenten-api","group_slug":"group-test","zaak_referenties":[{"uuid":"705af760-c630-42f2-ad58-f3d51c585010","url":"https://www.jackson.com/","identificatie":"5d7b3db0-7cb9-47b8-a5e1-462569da98ec","bronorganisatie":"Brooks-Davis","verantwoordelijkeOrganisatie":"Barton
      and Sons","omschrijving":"Especially family attack staff state.","toelichting":"Discuss
      relate myself series return thousand. About only as let.","status":"senior","registratiedatum":"2026-04-08","startdatum":"2026-04-03","zaaktype":"age","object_type":"nice"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/expired-1?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"expired-1","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/expired-1
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"expired-2","url":"http://www.forbes.com/","identificatie":"fc9ce938-9e53-40ff-a8cc-73c35773a430","bronorganisatie":"Evans-Meyer","titel":"Total
      however place money person.","beschrijving":"Speech seek activity worry recent.
      Realize side front hotel.","auteur":"Valerie Smith","taal":"ja","vertrouwelijkheidaanduiding":"fly","status":"far","formaat":"flac","bestandsnaam":"help.mp4","informatieobjecttype":"activity","verschijningsvorm":"prevent","bestandsom[...]
- request:
    body: '{"uuid":"valid-1","url":"https://www.williams.com/","identificatie":"a292488a-6e1a-4526-a978-17e0a6c6c299","bronorganisatie":"Gill
      Group","titel":"Wish morning knowledge decide.","beschrijving":"Too memory successful
      art who major whether decision. Team Democrat hard down above.","auteur":"Michaela
      Valdez","taal":"sc","vertrouwelijkheidaanduiding":"thus","status":"country","formaat":"jpeg","bestandsnaam":"find.docx","informatieobjecttype":"reach","verschij[...]
- request:
    body: '{"query":{"range":{"next_check_at":{"lte":"2026-04-10T07:17:29.895867+00:00"}}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":6,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"expired-1","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-14","group_slug":"group-test"}},{"_index":"document","_id":"expired-2","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-15","group_slug":"group-test"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
