interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://williams.biz/","identificatie":"0d23bf01-1ec6-4b46-8a06-2a19fdea46d7","bronorganisatie":"Rosario,
      Howell and Sims","titel":"Difference who his way office us.","beschrijving":"Road
      game Congress fact citizen best spring. Mind hope store. Process phone single.","auteur":"Dwayne
      Walton","taal":"km","vertrouwelijkheidaanduiding":"expert","status":"authority","formaat":"avi","bestandsnaam":"true.gif","informatieobjecttype":"wrong","verschijningsvorm":"build","bestandsomvang":1000000,"link":"http://www.harrison.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-12T05:34:19.569612","last_checked_at":"2026-03-28T12:00:00+00:00","next_check_at":"2026-03-29T12:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"0ade5ea6-030c-4015-8653-92994d8323ed","url":"https://www.duncan.com/","identificatie":"d5234056-a663-40c9-a6e5-69d459f954b8","bronorganisatie":"Bridges-Henderson","verantwoordelijkeOrganisatie":"Hale
      PLC","omschrijving":"Ok animal nature human either.","toelichting":"Exist condition
      rich agree base often. Purpose seat create close foot side offer. Social plant
      trip it. Policy suffer indeed tough bad if someone.","status":"meet","registratiedatum":"2026-03-25","startdatum":"2026-03-13","zaaktype":"three","object_type":"kind"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"http://www.pace.com/","identificatie":"d2b9929a-8e01-435c-b894-24bb2c6bddd1","bronorganisatie":"Oliver,
      Blanchard and Smith","titel":"Issue add look suffer.","beschrijving":"Just break
      natural discussion it. Responsibility particularly society everybody life. National
      old player last field without tonight hair. Impact reality help.","auteur":"Dustin
      Harding","taal":"csb","vertrouwelijkheidaanduidi[...]
- request:
    body: '{"uuid":"33333333-3333-3333-3333-333333333333","url":"http://www.chan.com/","identificatie":"4a49fb72-171d-475f-b732-f7297e9000f2","bronorganisatie":"Baker,
      Marshall and Trujillo","titel":"Nation PM see professor whom.","beschrijving":"Safe
      common wait save four official. Already condition without seem south. Here live
      play rock throughout we.","auteur":"Kristin Briggs","taal":"pt","vertrouwelijkheidaanduiding":"bill","status":"food","formaat":"tiff","best[...]
- request:
    body: '{"uuid":"44444444-4444-4444-4444-444444444444","url":"https://www.morgan.com/","identificatie":"509de203-7826-4fe3-a08b-482566f7e9c5","bronorganisatie":"Davila,
      Hall and Becker","titel":"Especially detail any personal present call list.","beschrijving":"Congress
      set information fact.","auteur":"Sharon Smith","taal":"tn","vertrouwelijkheidaanduiding":"under","status":"worker","formaat":"avi","bestandsnaam":"source.json","informatieobjecttype":"send","verschijning[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"http://www.francis.net/","identificatie":"e3d669d2-7536-402c-aa7c-562edf1a1e27","bronorganisatie":"Bass
      Inc","titel":"Throughout next understand thing past turn.","beschrijving":"Also
      represent mouth other. Action science couple here avoid.","auteur":"Jason Osborne","taal":"ro","vertrouwelijkheidaanduiding":"situation","status":"from","formaat":"mp4","bestandsnaam":"eye.odt","informatieobjecttype":"bit","vers[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0512933,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"_seq_no":8,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Road
        game Congress fact citizen best spring. Mind hope store. Process phone single.","verschijningsvorm":"build","begin_registratie":"2026-03-12T05:34:19.569612","identificatie":"0d23bf01-1ec6-4b46-8a06-2a19fdea46d7","bronorganisatie":"Rosario,
        Howell and Sims","bestandsomvang":1000000,"link":"http://www.harrison.com/","next_check_at":"2026-03-29T12:00:00+00:00","uuid":"11111111-1111-1111-1111-111111111111","url":"ht[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=8&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"match_all":{}},"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"33333333-3333-3333-3333-333333[...]
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
