interactions:
- request:
    body: '{"uuid":"expired-1","url":"https://www.mueller.com/","identificatie":"6a14e69c-3970-48f2-a879-cd0dc1999537","bronorganisatie":"Ballard-Brewer","titel":"Anyone
      lot stop summer.","beschrijving":"Recent cost bank force. Interesting industry
      your indeed stage between maybe. Already energy space newspaper station common.","auteur":"Ashley
      Walker","taal":"mg","vertrouwelijkheidaanduiding":"white","status":"watch","formaat":"xlsx","bestandsnaam":"interest.js","informatieobjecttype":"race","verschijningsvorm":"recent","bestandsomvang":1000000,"link":"https://atkins.org/","creatiedatum":"2026-03-14","begin_registratie":"2026-04-02T21:38:58.230042","last_checked_at":"2026-04-08T09:05:16.333017+00:00","next_check_at":"2026-04-09T09:05:16.333017+00:00","service_slug":"documenten-api","group_slug":"group-test","zaak_referenties":[{"uuid":"ce075c8c-181e-4d8c-bf85-d96b81200659","url":"https://www.harris.com/","identificatie":"01776771-a040-4cc2-982b-0ccc8d84e98e","bronorganisatie":"Stephens,
      Welch and Johnson","verantwoordelijkeOrganisatie":"Stanley Ltd","omschrijving":"Above
      grow establish wall participant.","toelichting":"Tax create best party field.
      View someone measure there campaign account.","status":"firm","registratiedatum":"2026-03-27","startdatum":"2026-03-22","zaaktype":"great","object_type":"real"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/expired-1?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"expired-1","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/expired-1
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"expired-2","url":"http://french.com/","identificatie":"27c0f8e2-0178-43f3-8ef6-8a0dd925521e","bronorganisatie":"Rodriguez
      Ltd","titel":"Middle from pattern because smile animal son hospital.","beschrijving":"Give
      him raise loss. Realize same sense thousand learn travel. Take how consumer
      song determine traditional.","auteur":"Timothy Diaz","taal":"ckb","vertrouwelijkheidaanduiding":"ask","status":"although","formaat":"pptx","bestandsnaam":"body.ht[...]
- request:
    body: '{"uuid":"valid-1","url":"https://www.smith-wood.com/","identificatie":"12f347d8-7c31-4362-8a63-b468aec6c3db","bronorganisatie":"Perez
      and Sons","titel":"Understand green community police begin dog.","beschrijving":"Development
      rest age choose free. Resource with risk professor.","auteur":"Kevin Jenkins","taal":"nhn","vertrouwelijkheidaanduiding":"time","status":"particularly","formaat":"xls","bestandsnaam":"owner.odt","informatieobjecttype":"brother","verschijni[...]
- request:
    body: '{"query":{"range":{"next_check_at":{"lte":"2026-04-10T09:05:16.333017+00:00"}}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"expired-1","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-14","group_slug":"group-test"}},{"_index":"document","_id":"expired-2","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-15","group_slug":"group-test"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
