interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://hawkins-watson.net/","identificatie":"041183bb-0809-4304-b8ce-1318e5daa308","bronorganisatie":"Crawford-Pope","titel":"Away
      room central concern speech.","beschrijving":"Purpose administration hand same
      write interesting space. Response firm record. Trouble some amount use likely
      enter. Respond board approach fill.","auteur":"Bobby Bell","taal":"te","vertrouwelijkheidaanduiding":"during","status":"have","formaat":"ppt","bestandsnaam":"finish.avi","informatieobjecttype":"institution","verschijningsvorm":"ago","bestandsomvang":1000000,"link":"https://woodard.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-16T22:58:48.897293","last_checked_at":"2026-03-29T12:00:00+00:00","next_check_at":"2026-03-30T11:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"e723e258-4428-42d6-a29b-fd9903c6f7b1","url":"http://obrien.com/","identificatie":"8fd08fd7-00e1-4d2e-8ac0-33712e3eb788","bronorganisatie":"Ortega,
      Tate and Cain","verantwoordelijkeOrganisatie":"Williams, Conner and Cochran","omschrijving":"Republican
      media interest.","toelichting":"Point get name if offer.","status":"difficult","registratiedatum":"2026-03-02","startdatum":"2026-03-13","zaaktype":"order","object_type":"conference"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"http://jenkins-parker.biz/","identificatie":"260319c8-e0d1-43d1-844d-fe8da7d00145","bronorganisatie":"Campbell
      PLC","titel":"Between dark south get.","beschrijving":"Upon whose walk class.
      Administration social go her order significant.","auteur":"Pamela Estrada","taal":"tl","vertrouwelijkheidaanduiding":"them","status":"population","formaat":"mp4","bestandsnaam":"expect.mov","informatieobjecttype":"statement[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"https://garcia.info/","identificatie":"d9335e50-9923-4e8d-b120-940d6e4f6611","bronorganisatie":"Bright-Reid","titel":"Adult
      wide any protect since.","beschrijving":"Surface each know run near leave. Building
      outside fill green mention bag actually real.","auteur":"Kathleen Cooper","taal":"sk","vertrouwelijkheidaanduiding":"inside","status":"institution","formaat":"txt","bestandsnaam":"lot.xlsx","informatieobj[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0363677,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0363677,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":3,"_seq_no":19,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Purpose
        administration hand same write interesting space. Response firm record. Trouble
        some amount use likely enter. Respond board approach fill.","verschijningsvorm":"ago","begin_registratie":"2026-03-16T22:58:48.897293","identificatie":"041183bb-0809-4304-b8ce-1318e5daa308","bronorganisatie":"Crawford-Pope","bestandsomvang":1000000,"link":"https://woodard.com/","next_check_at":"2026-03-30T11:00:00+00:00","uuid":"1[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=19&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":4,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":22,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":5,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":24,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
