interactions:
- request:
    body: '{"uuid":"doc-valid","url":"http://mckinney.com/","identificatie":"63e344a3-c9e5-4c9c-91fa-7e98e9868b19","bronorganisatie":"Villarreal-White","titel":"Much
      tonight vote heart.","beschrijving":"Theory Republican bank claim. Something
      meet across.","auteur":"Ashley Duran","taal":"or","vertrouwelijkheidaanduiding":"four","status":"fire","formaat":"pages","bestandsnaam":"Mrs.mp4","informatieobjecttype":"quite","verschijningsvorm":"sit","bestandsomvang":1000000,"link":"https://stewart-barnes.net/","creatiedatum":"2026-03-11","begin_registratie":"2026-03-24T09:17:19.803247","last_checked_at":"2026-04-10T13:43:11.054313+00:00","next_check_at":"2026-04-15T13:43:11.054317+00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"bfe47a2e-2669-45dd-9d09-81bf47a990f4","url":"http://palmer-beard.com/","identificatie":"4514fe41-257a-402f-ae53-bea6d34df47e","bronorganisatie":"Valentine,
      Lee and Jones","verantwoordelijkeOrganisatie":"Chambers, Austin and Reeves","omschrijving":"Buy
      dark painting party.","toelichting":"Scientist woman sometimes walk. Move claim
      positive sign their gas. Doctor age read tend decide.","status":"gas","registratiedatum":"2026-04-06","startdatum":"2026-03-23","zaaktype":"north","object_type":"general","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-04-10T13:43:11.848215+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
