interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://cantrell-wilson.net/","identificatie":"1dde9a81-b363-4821-a61f-71b45b65c9ea","bronorganisatie":"Wise
      Inc","titel":"Power drive wish page remember middle break others.","beschrijving":"Investment
      station if physical. Year poor similar response. Ground system weight fish child.","auteur":"Tracey
      Tucker","taal":"nn","vertrouwelijkheidaanduiding":"trouble","status":"enter","formaat":"avi","bestandsnaam":"recognize.json","informatieobjecttype":"thousand","verschijningsvorm":"without","bestandsomvang":1000000,"link":"https://www.chang.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-18T19:13:58.318339","last_checked_at":"2026-03-28T12:00:00+00:00","next_check_at":"2026-03-29T12:00:00+00:00","service_slug":"documenten-api","group_slug":"zgw-api-group-2","zaak_referenties":[{"uuid":"74610a31-ae9e-4899-b38d-7988eaced634","url":"https://www.wilson-smith.com/","identificatie":"85f64eae-6dcb-4034-9492-52fbf5afc055","bronorganisatie":"West,
      Barton and Garcia","verantwoordelijkeOrganisatie":"Huynh-Knox","omschrijving":"Recognize
      international step build subject break executive.","toelichting":"Again appear
      surface prepare. Three happen order anyone into guy.","status":"hotel","registratiedatum":"2026-03-08","startdatum":"2026-03-26","zaaktype":"keep","object_type":"traditional","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"http://robinson.com/","identificatie":"24ff6517-895f-4106-bd65-025727fe68f6","bronorganisatie":"Fowler
      Ltd","titel":"Economic assume this seven could nearly husband alone.","beschrijving":"Garden
      father often can rock manager attention. Society event audience matter doctor
      stop worry. Put much heart about responsibility agent forward off.","auteur":"Krystal
      Fitzgerald","taal":"nb","vertrouwelijkhe[...]
- request:
    body: '{"uuid":"33333333-3333-3333-3333-333333333333","url":"https://www.mckinney.com/","identificatie":"33ca703f-3407-43be-ad31-522ac37d5042","bronorganisatie":"Cooper,
      Ward and Jimenez","titel":"Wonder project activity type quite.","beschrijving":"Class
      house need anyone place trial. Pull professor hot determine front meeting discover
      sense.","auteur":"John Hunter","taal":"aa","vertrouwelijkheidaanduiding":"kitchen","status":"understand","formaat":"mov","bestan[...]
- request:
    body: '{"uuid":"44444444-4444-4444-4444-444444444444","url":"https://walker.info/","identificatie":"7b116da4-1ec9-4d9c-8c8c-f7e4f493589b","bronorganisatie":"Brown-Nguyen","titel":"Deep
      light loss plant charge author find hear.","beschrijving":"Kid although detail
      dinner building. Ready set mission player a. Compare sport check medical name
      paper treatment perhaps.","auteur":"James Holt","taal":"fo","vertrouwelijkheidaanduiding":"build","status":"organization","fo[...]
- request:
    body: '{"uuid":"c4a2d123-1817-4b3a-a330-67c1282b1594","url":"https://miller-meyer.com/","identificatie":"a413ae3c-2f6b-4e78-a82f-c7c6c9736ec0","bronorganisatie":"Thompson,
      Phelps and Ward","titel":"Something world theory window heart.","beschrijving":"Expert
      thousand but time region bank. Reduce subject beyond meet.","auteur":"Gerald
      Stone","taal":"ro","vertrouwelijkheidaanduiding":"garden","status":"carry","formaat":"wav","bestandsnaam":"position.ods","informati[...]
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-03-30T12:00:00+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0512933,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-28","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-29","group_slug":"zgw-api-group-2"}},{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_score":1.0512933,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-20","group_slug":"zgw-api-group-2"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten?creatiedatum__gte=2026-03-20&creatiedatum__lte=2026-03-29&objectinformatieobjecten__objectType=zaak
  response:
    body:
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594","identificatie":"DOCUMENT-2026-0000000001","bronorganisatie":"000000255","creatiedatum":"2026-03-21","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Dean Gnodde","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:51:10.096000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/c4a2d123-1817-4b3a-a330-67c1282b1594/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}},{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d","identificatie":"DOCUMENT-2026-0000000004","bronorganisatie":"000000280","creatiedatum":"2026-03-24","titel":"aanvraag
        formulier","vertrouwelijkheidaanduiding":"confidentieel","auteur":"Mason van
        Breukeleveen","status":"","formaat":"","taal":"nld","versie":1,"beginRegistratie":"2026-03-25T13:50:33.793000Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/ef55f9ea-4004-4832-803e-2672bb1c6d4d/download?versie=1","bestandsomvang":null,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":false,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7f420939-2866-4582-8b94-f21d3891daab","locked":false,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}]}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"_seq_no":8,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Investment
        station if physical. Year poor similar response. Ground system weight fish
        child.","verschijningsvorm":"without","begin_registratie":"2026-03-18T19:13:58.318339","identificatie":"1dde9a81-b363-4821-a61f-71b45b65c9ea","bronorganisatie":"Wise
        Inc","bestandsomvang":1000000,"link":"https://www.chang.com/","next_check_at":"2026-03-29T12:00:00+00:00","uuid":"11111111-1111-1111-1111-111111111111","url":"h[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?if_primary_term=1&if_seq_no=8&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":13,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"doc":{"last_checked_at":"2026-03-30T12:00:00+00:00","next_check_at":"2026-04-09T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/c4a2d123-1817-4b3a-a330-67c1282b1594?refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"c4a2d123-1817-4b3a-a330-67c1282b1594","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"match_all":{}},"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"33333333-3333-3333-3333-333333[...]
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
