interactions:
- request:
    body: '{"uuid":"doc-valid","url":"https://wilkerson.net/","identificatie":"f68b2d77-5f04-4301-b3e6-98819a90035a","bronorganisatie":"Potter,
      Munoz and Oconnor","titel":"Need system stand someone tough.","beschrijving":"Maybe
      somebody store way here stock up. Hair use none.","auteur":"Paula Cochran","taal":"bs","vertrouwelijkheidaanduiding":"trial","status":"expect","formaat":"js","bestandsnaam":"cost.mp3","informatieobjecttype":"store","verschijningsvorm":"court","bestandsomvang":1000000,"link":"https://www.smith.com/","creatiedatum":"2026-04-02","begin_registratie":"2026-03-16T13:45:01.731580","last_checked_at":"2026-04-09T12:25:43.062205+00:00","next_check_at":"2026-04-14T12:25:43.062208+00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"e5fca081-5da6-4ebf-8c9c-f434716636b3","url":"http://www.lee.org/","identificatie":"38a25e86-d40a-46d6-bf2f-dd5b8522cba8","bronorganisatie":"Johnston,
      Moran and Wiggins","verantwoordelijkeOrganisatie":"Mcgee, Walters and Hoffman","omschrijving":"Discover
      which reality apply.","toelichting":"Appear deal stage fact budget. Process
      lot my manage sing keep with. Occur young book center. Rise law maybe cause.","status":"among","registratiedatum":"2026-03-29","startdatum":"2026-03-19","zaaktype":"industry","object_type":"say"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/doc-valid?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"doc-valid","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":6,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/doc-valid
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"query":{"bool":{"must":[{"range":{"next_check_at":{"lte":"2026-04-09T12:25:43.850403+00:00"}}},{"term":{"service_slug":"documenten-api"}}]}},"size":100,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_count
  response:
    body:
      string: '{"count":1,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
