interactions:
- request:
    body: '{"uuid":"expired-1","url":"http://www.willis.biz/","identificatie":"959465ab-b46d-4b2d-8d92-67a02040bafc","bronorganisatie":"Miller,
      Vasquez and Johnson","titel":"Staff able child bit mind sea bit.","beschrijving":"Behavior
      Congress dog teach character collection off. Image evidence nice else respond
      kitchen three. White beyond common thought week claim without.","auteur":"Patricia
      Hardy","taal":"am","vertrouwelijkheidaanduiding":"industry","status":"under","formaat":"odp","bestandsnaam":"report.pages","informatieobjecttype":"kind","verschijningsvorm":"never","bestandsomvang":1000000,"link":"https://franklin.info/","creatiedatum":"2026-03-14","begin_registratie":"2026-03-26T18:24:09.214384","last_checked_at":"2026-04-08T12:28:57.666255+00:00","next_check_at":"2026-04-09T12:28:57.666255+00:00","service_slug":"documenten-api","group_slug":"group-test","zaak_referenties":[{"uuid":"f391811f-bcf3-49f3-9ef1-e33a573972a2","url":"https://reed.com/","identificatie":"6b486667-70bd-461e-b3c2-1ffffc7d6c3e","bronorganisatie":"Gonzalez,
      Mcneil and Hughes","verantwoordelijkeOrganisatie":"Robles Inc","omschrijving":"Spring
      smile enough true international.","toelichting":"Writer indeed common outside
      sit realize out. Create experience nature bank check. Project majority baby
      argue describe American any.","status":"teacher","registratiedatum":"2026-03-29","startdatum":"2026-03-18","zaaktype":"arm","object_type":"happen","service_slug":"zaken-api"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/expired-1?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"expired-1","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/expired-1
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"expired-2","url":"http://www.campbell-leach.com/","identificatie":"ac68b5d2-2930-441e-8cd9-5a59c2f957f5","bronorganisatie":"Lee
      Inc","titel":"Laugh across learn agency decade.","beschrijving":"Book apply
      really. Foot room film home every enjoy. Agency significant until.","auteur":"Bradley
      Burns","taal":"hy","vertrouwelijkheidaanduiding":"evening","status":"sister","formaat":"jpeg","bestandsnaam":"magazine.mp4","informatieobjecttype":"direction","v[...]
- request:
    body: '{"uuid":"valid-1","url":"http://www.parker-dean.info/","identificatie":"e6f3f919-a823-42bc-bd99-4ee00f4184ef","bronorganisatie":"Howell-Thompson","titel":"Tree
      visit industry protect.","beschrijving":"Safe computer manage shake. Moment
      plant law fill hope price. Least store wife.","auteur":"Cody Horne","taal":"or","vertrouwelijkheidaanduiding":"assume","status":"arrive","formaat":"mov","bestandsnaam":"always.flac","informatieobjecttype":"friend","verschijningsvo[...]
- request:
    body: '{"query":{"range":{"next_check_at":{"lte":"2026-04-10T12:28:57.666255+00:00"}}},"size":10,"_source":["service_slug","group_slug","creatiedatum"]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"expired-1","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-14","group_slug":"group-test"}},{"_index":"document","_id":"expired-2","_score":1.0,"_source":{"service_slug":"documenten-api","creatiedatum":"2026-03-15","group_slug":"group-test"}}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
