interactions:
- request:
    body: '{"uuid":"11111111-1111-1111-1111-111111111111","url":"https://www.hill-scott.biz/","identificatie":"d0b176b1-203c-4d98-93f0-2d19371d18b3","bronorganisatie":"Hernandez-Michael","creatiedatum":"2026-03-26","titel":"Customer
      environmental trial police along can.","auteur":"Danielle Harding","taal":"bho","begin_registratie":"2026-03-14T17:27:16.719448","informatieobjecttype":"much","vertrouwelijkheidaanduiding":"direction","status":"audience","formaat":"png","bestandsnaam":"name.html","link":"https://johnson.com/","beschrijving":"Democrat
      weight able reach what then. Commercial own analysis them this factor thank.
      Attention water instead without college there.","verschijningsvorm":"join","verloopt_op":"2026-03-28T12:00:00+00:00"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/11111111-1111-1111-1111-111111111111
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"22222222-2222-2222-2222-222222222222","url":"https://www.tapia.com/","identificatie":"ad95a007-9ff4-4151-a92e-025e9422f17a","bronorganisatie":"Quinn,
      Liu and Phillips","creatiedatum":"2026-03-14","titel":"Play go hair billion.","auteur":"George
      Bailey","taal":"byn","begin_registratie":"2026-03-28T14:26:04.760321","informatieobjecttype":"for","vertrouwelijkheidaanduiding":"hit","status":"always","formaat":"csv","bestandsnaam":"he.odt","link":"https://lewis.com/","beschrijving":"Free
      start thing term hear western. Him million two reveal what nothing fine scene.","verschijningsvorm":"drive","verloopt_op":"2026-03-29T11:00:00+00:00"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/22222222-2222-2222-2222-222222222222
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"33333333-3333-3333-3333-333333333333","url":"https://gomez.com/","identificatie":"46751e46-23af-4725-9c11-5c071f498e40","bronorganisatie":"Ellis-Tran","creatiedatum":"2026-03-24","titel":"Expert
      hair now away probably our require.","auteur":"Patricia Booth","taal":"om","begin_registratie":"2026-03-21T14:03:58.227253","informatieobjecttype":"forget","vertrouwelijkheidaanduiding":"former","status":"sign","formaat":"jpg","bestandsnaam":"blood.doc","link":"https:[...]
- request:
    body: '{"uuid":"44444444-4444-4444-4444-444444444444","url":"https://sanders.info/","identificatie":"eaf5b3c3-7c2d-4039-a195-231095b7fc79","bronorganisatie":"Burke,
      Bolton and Byrd","creatiedatum":"2026-03-14","titel":"Future away instead big.","auteur":"Joseph
      Mack","taal":"ro","begin_registratie":"2026-03-26T15:57:38.796691","informatieobjecttype":"safe","vertrouwelijkheidaanduiding":"indicate","status":"director","formaat":"pptx","bestandsnaam":"case.jpeg","link":"h[...]
- request:
    body: '{"uuid":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","url":"https://www.may-henderson.com/","identificatie":"476e7f28-5bea-4f42-b1c2-586c3ece24d2","bronorganisatie":"Camacho
      Inc","creatiedatum":"2026-03-11","titel":"Young same team affect possible industry
      process.","auteur":"Wanda Davis","taal":"yo","begin_registratie":"2026-03-09T23:59:31.996633","informatieobjecttype":"notice","vertrouwelijkheidaanduiding":"language","status":"side","formaat":"mov","bestandsnaam":"[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_refresh
  response:
    body:
      string: '{"_shards":{"total":2,"successful":1,"failed":0}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":5,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_score":1.0,"_source":{"begin_registratie":"2026-03-14T17:27:16.719448","beschrijving":"Democrat
        weight able reach what then. Commercial own analysis them this factor thank.
        Attention water instead without college there.","verschijningsvorm":"join","identificatie":"d0b176b1-203c-4d98-93f0-2d19371d18b3","bronorganisatie":"Hernandez-Michael","link":"https://johnson.com/","verloopt_op":"2026-03-28T12:00:00+00:00","uuid":"11111111-1111-1111-1111-111111111111","url":"https://www.hill-scott.biz/","taal":"bh[...]
- request:
    body: '{"query":{"range":{"verloopt_op":{"lte":"2026-03-30T12:00:00+00:00"}}},"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":3,"relation":"eq"},"max_score":1.0,"hits":[{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"type":"http://localhost:8003/ref/fouten/NotFound/","code":"not_found","title":"Niet
        gevonden.","status":404,"detail":"Niet gevonden.","instance":"urn:uuid:3b9a41e8-9b2f-4035-aa1c-da5ecbea8342"}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
    status:
      code: 404
      message: Not Found
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/11111111-1111-1111-1111-111111111111
  response:
    body:
      string: '{"_index":"document","_id":"11111111-1111-1111-1111-111111111111","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":7,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"url":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8","identificatie":"test
        tim date nieuw","bronorganisatie":"001876387","creatiedatum":"2026-03-11","titel":"test","vertrouwelijkheidaanduiding":"","auteur":"tim","status":"","formaat":"","taal":"dut","versie":1,"beginRegistratie":"2026-03-17T13:18:02.956904Z","bestandsnaam":"","inhoud":"http://localhost:8003/documenten/api/v1/enkelvoudiginformatieobjecten/3101c6f8-6124-4d11-bd5f-98d8a662ebe8/download?versie=1","bestandsomvang":100,"link":"","beschrijving":"","ontvangstdatum":null,"verzenddatum":null,"indicatieGebruiksrecht":null,"verschijningsvorm":"","ondertekening":null,"integriteit":null,"informatieobjecttype":"http://localhost:8003/catalogi/api/v1/informatieobjecttypen/7755ab0f-9e37-4834-8bbf-158f9f2da38e","locked":true,"bestandsdelen":[],"trefwoorden":[],"_expand":{}}'
    headers:
      API-version:
      - 1.4.2
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      ETag:
      - '"d8e676914c636a3726519ca9b1728e79"'
    status:
      code: 200
      message: OK
- request:
    body: '{"doc":{"verloopt_op":"2026-04-06T12:00:00+00:00"}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_update/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"_index":"document","_id":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","_version":2,"result":"updated","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":9,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/3101c6f8-6124-4d11-bd5f-98d8a662ebe8
  response:
    body:
      string: '{"_index":"document","_id":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","_version":2,"_seq_no":9,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-03-09T23:59:31.996633","beschrijving":"Growth
        protect official international from. Individual skin bar explain star.","verschijningsvorm":"behind","identificatie":"476e7f28-5bea-4f42-b1c2-586c3ece24d2","bronorganisatie":"Camacho
        Inc","link":"http://www.figueroa.com/","verloopt_op":"2026-04-06T12:00:00+00:00","uuid":"3101c6f8-6124-4d11-bd5f-98d8a662ebe8","url":"https://www.may-henderson.com/","taal":"yo","auteur":"Wanda
        Davis","formaat":"mov","titel":"Young same team affect possible industry process.","vertrouwelijkheidaanduiding":"language","informatieobjecttype":"notice","bestandsnaam":"dog.png","creatiedatum":"2026-03-11","status":"side"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/22222222-2222-2222-2222-222222222222
  response:
    body:
      string: '{"_index":"document","_id":"22222222-2222-2222-2222-222222222222","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
