interactions:
- request:
    body: '{"uuid":"62fdeb92-98ad-475c-b184-49ee8a274787","url":"https://west-jenkins.com/","identificatie":"8c76313c-3819-4e44-b77e-009954db11a9","bronorganisatie":"Trevino-Payne","creatiedatum":"2024-01-01","titel":"Rest
      help start Democrat personal feeling business.","auteur":"Daniel Hardin","taal":"ce","begin_registratie":"2026-02-27T09:26:44.693011","informatieobjecttype":"bit","vertrouwelijkheidaanduiding":"share","status":"explain","formaat":"avi","bestandsnaam":"maybe.avi","link":"https://www.vaughn-hall.com/","beschrijving":"Quite
      treatment star reduce name light week stand. Appear why your second issue Democrat
      yes upon. Spend relate center face increase power my. Management house purpose.","verschijningsvorm":"gas"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/62fdeb92-98ad-475c-b184-49ee8a274787?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"62fdeb92-98ad-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/62fdeb92-98ad-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"13fceb92-98bd-475c-b184-49ee8a274787","url":"http://green-ferrell.info/","identificatie":"02181cc5-415b-43a5-8a8f-37a67cae1c52","bronorganisatie":"Roberts
      Group","creatiedatum":"2025-02-01","titel":"Large number late box without.","auteur":"Andrew
      Evans","taal":"uz","begin_registratie":"2026-03-06T11:50:35.333272","informatieobjecttype":"when","vertrouwelijkheidaanduiding":"benefit","status":"meeting","formaat":"gif","bestandsnaam":"set.flac","link":"https://vargas-thompson.com/","beschrijving":"Leave
      not whatever until.","verschijningsvorm":"red"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/13fceb92-98bd-475c-b184-49ee8a274787?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"13fceb92-98bd-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/13fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"aggs":{"latest_date":{"max":{"field":"creatiedatum"}}},"query":{"exists":{"field":"creatiedatum"}},"size":0}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"latest_date":{"value":1.738368E12,"value_as_string":"2025-02-01"}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
