interactions:
- request:
    body: '{"uuid":"62fdeb92-98ad-475c-b184-49ee8a274787","url":"https://www.gibson.org/","identificatie":"0ff8827b-285e-4150-9742-2cd11cf83f88","bronorganisatie":"Pitts,
      Shaffer and Brooks","titel":"Store recognize similar matter firm use I.","beschrijving":"Keep
      case never simple deal company executive. Where top case politics add. Very
      decide staff more big senior soldier.","auteur":"Frank Johnson","taal":"shs","vertrouwelijkheidaanduiding":"there","status":"property","formaat":"ppt","bestandsnaam":"another.webm","informatieobjecttype":"parent","verschijningsvorm":"song","bestandsomvang":1000000,"link":"https://www.taylor.info/","creatiedatum":"2024-01-01","begin_registratie":"2026-03-30T16:45:46.464638","last_checked_at":"2001-10-11T00:00:00","next_check_at":"1988-07-09T00:00:00","service_slug":"test","group_slug":"test-group","zaak_referenties":[{"uuid":"9dedd22e-3a30-4604-afa3-2735a810c2a1","url":"http://greene.com/","identificatie":"ddcb4474-6f9c-4302-8110-0408913b99c8","bronorganisatie":"Myers
      and Sons","verantwoordelijkeOrganisatie":"Snyder, Colon and Torres","omschrijving":"Play
      despite daughter.","toelichting":"Decision still knowledge list edge tax line.
      Term glass evidence entire among paper now child.","status":"parent","registratiedatum":"2026-03-24","startdatum":"2026-03-20","zaaktype":"price","object_type":"home"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/62fdeb92-98ad-475c-b184-49ee8a274787?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"62fdeb92-98ad-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/62fdeb92-98ad-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"13fceb92-98bd-475c-b184-49ee8a274787","url":"https://mason.net/","identificatie":"050435c1-3a6e-4f72-9935-6dbbf1fed7d3","bronorganisatie":"Dominguez
      Ltd","titel":"Visit discuss free cause political question trade.","beschrijving":"Create
      past business stuff single heart. Guess site indeed score radio raise. According
      mouth behavior include star east. Course forward radio loss practice stuff.","auteur":"James
      Hunter","taal":"bs","vertrouwelij[...]
- request:
    body: '{"aggs":{"latest_date":{"max":{"field":"creatiedatum"}}},"query":{"exists":{"field":"creatiedatum"}},"size":0}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":17,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[]},"aggregations":{"latest_date":{"value":1.738368E12,"value_as_string":"2025-02-01"}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
