interactions:
- request:
    body: '{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://bolton.org/","identificatie":"6c78c36d-f13c-4009-82e0-6a034fc486bd","bronorganisatie":"Schroeder
      Inc","verantwoordelijkeOrganisatie":"Cooper-Hudson","omschrijving":"alpha one","toelichting":"Discuss
      party over wife social civil research. Future everyone data work environmental.","status":"most","registratiedatum":"2026-03-22","startdatum":"2026-04-02","zaaktype":"difference","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-03-22"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":14,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"13fceb92-98bd-475c-b184-49ee8a274787","url":"https://smith.com/","identificatie":"6f5fb741-34fa-4c06-adb0-7b388d7b0889","bronorganisatie":"Thomas
      LLC","verantwoordelijkeOrganisatie":"Robinson-King","omschrijving":"beta two","toelichting":"Want
      debate current. Include gas strong catch. Pretty design stuff.","status":"myself","registratiedatum":"2026-03-27","startdatum":"2026-03-27","zaaktype":"according","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-03-27"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"13fceb92-98bd-475c-b184-49ee8a274787","_version":7,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"alpha
      + one","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"alpha
      + one","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"ignore_unmapped":true}},{"simple_query_string":{"query":"alpha
      + one","default_operator":"AND","fields":["identificatie^3","omschrijving^2","toelichting^1.5","status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document,zaak/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":2,"successful":2,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_score":4.755143,"_source":{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://bolton.org/","identificatie":"6c78c36d-f13c-4009-82e0-6a034fc486bd","bronorganisatie":"Schroeder
        Inc","verantwoordelijkeOrganisatie":"Cooper-Hudson","omschrijving":"alpha
        one","toelichting":"Discuss party over wife social civil research. Future
        everyone data work environmental.","status":"most","registratiedatum":"2026-03-22","startdatum":"2026-04-02","zaaktype":"difference","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-03-22"},"sort":[4.755143,1774137600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
