interactions:
- request:
    body: '{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://www.collins-ward.biz/","identificatie":"abdca650-d001-4f7b-9c38-dd5d633b5456","bronorganisatie":"Sullivan-Greene","verantwoordelijkeOrganisatie":"Bishop-Hawkins","omschrijving":"alpha
      beta","toelichting":"City once evidence focus her myself. Our guy enjoy statement
      learn let. Member travel upon phone stage feel few.","status":"really","registratiedatum":"2026-04-01","startdatum":"2026-03-12","zaaktype":"above","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-04-01"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_version":5,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":18,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"13fceb92-98bd-475c-b184-49ee8a274787","url":"http://www.reyes.info/","identificatie":"f88c6473-39c6-4407-81b9-2ff843ae4008","bronorganisatie":"Lewis-Martinez","verantwoordelijkeOrganisatie":"Acosta-Davis","omschrijving":"alpha","toelichting":"Option
      real place. Season professional financial myself factor something at. Require
      guy law focus speech.","status":"fill","registratiedatum":"2026-03-15","startdatum":"2026-03-22","zaaktype":"either","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-03-15"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"13fceb92-98bd-475c-b184-49ee8a274787","_version":9,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"alpha
      beta","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"alpha
      beta","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"ignore_unmapped":true}},{"simple_query_string":{"query":"alpha
      beta","default_operator":"AND","fields":["identificatie^3","omschrijving^2","toelichting^1.5","status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document,zaak/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":2,"successful":2,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_score":5.404315,"_source":{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://www.collins-ward.biz/","identificatie":"abdca650-d001-4f7b-9c38-dd5d633b5456","bronorganisatie":"Sullivan-Greene","verantwoordelijkeOrganisatie":"Bishop-Hawkins","omschrijving":"alpha
        beta","toelichting":"City once evidence focus her myself. Our guy enjoy statement
        learn let. Member travel upon phone stage feel few.","status":"really","registratiedatum":"2026-04-01","startdatum":"2026-03-12","zaaktype":"above","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-04-01"},"sort":[5.404315,1775001600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
