interactions:
- request:
    body: '{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://williams.com/","identificatie":"e4477d74-b25e-4b26-bb5f-a68e0b6190ad","bronorganisatie":"Christian
      LLC","verantwoordelijkeOrganisatie":"Thompson, Stuart and Walters","omschrijving":"Finance
      Zaak","toelichting":"Adult any near support peace. Cause form prepare unit everybody
      resource eight me. Over five card. Nice seem bad east tree reduce.","status":"sometimes","registratiedatum":"2026-04-02","startdatum":"2026-03-12","zaaktype":"recent","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-04-02"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/12fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"13fceb92-98bd-475c-b184-49ee8a274787","url":"http://marshall.com/","identificatie":"dd528e11-042c-4ca8-b285-3cf450382a68","bronorganisatie":"Freeman-Romero","verantwoordelijkeOrganisatie":"Best-Robinson","omschrijving":"HR
      Zaak","toelichting":"Provide everything movie song investment. Letter though
      allow before my. Can center describe view.","status":"to","registratiedatum":"2026-03-30","startdatum":"2026-03-29","zaaktype":"wonder","service_slug":"test-service","group_slug":"test-group","creatiedatum":"2026-03-30"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787?refresh=wait_for
  response:
    body:
      string: '{"_index":"zaak","_id":"13fceb92-98bd-475c-b184-49ee8a274787","_version":5,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":11,"_primary_term":1}'
    headers:
      Location:
      - /zaak/_doc/13fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: HEAD
    uri: http://localhost:9201/document
  response:
    body:
      string: ''
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_settings
  response:
    body:
      string: '{"document":{"settings":{"index":{"routing":{"allocation":{"include":{"_tier_preference":"data_content"}}},"number_of_shards":"1","provided_name":"document","creation_date":"1775806624758","number_of_replicas":"1","uuid":"M1TnzGbBTRyJtRRdMOc6Zw","version":{"created":"8521000"}}}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties":{"document_data":{"properties":{"attachment":{"properties":{"content":{"analyzer":"dutch","type":"text"}},"type":"object"}},"type":"object"},"zaak_referenties":{"properties":{"object_type":{"type":"keyword"},"status":{"analyzer":"dutch","type":"text"},"startdatum":{"format":"yyyy-MM-dd","type":"date"},"bronorganisatie":{"type":"keyword"},"registratiedatum":{"format":"yyyy-MM-dd","type":"date"},"identificatie":{"type":"keyword"},"url":{"type":"keyword"},"verantwoordelijkeOrganisatie":{"type":"keyword"},"toelichting":{"analyzer":"dutch","type":"text"},"uuid":{"type":"keyword"},"zaaktype":{"type":"keyword"},"omschrijving":{"analyzer":"dutch","type":"text"}},"type":"nested"},"bestandsnaam":{"analyzer":"dutch","type":"text"},"begin_registratie":{"type":"date"},"informatieobjecttype":{"analyzer":"dutch","type":"text"},"beschrijving":{"analyzer":"dutch","type":"text"},"bestandsomvang":{"type":"long"},"titel":{"analyzer":"dutch","type":"text"},"status":{"analyzer":"dutch","type":"text"},"vertrouwelijkheidaanduiding":{"analyzer":"dutch","type":"text"},"formaat":{"analyzer":"dutch","type":"text"},"link":{"analyzer":"dutch","type":"text"},"creatiedatum":{"format":"yyyy-MM-dd","type":"date"},"bronorganisatie":{"type":"keyword"},"identificatie":{"type":"keyword"},"uuid":{"type":"keyword"},"inhoud":{"type":"text"},"verschijningsvorm":{"analyzer":"dutch","type":"text"},"url":{"type":"keyword"},"taal":{"analyzer":"dutch","type":"text"},"auteur":{"analyzer":"dutch","type":"text"}}}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_mapping
  response:
    body:
      string: '{"acknowledged":true}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid":"14fceb92-98bd-475c-b184-49ee8a274787","url":"https://robinson-reed.com/","identificatie":"01256fda-8623-4a1e-9dfd-ca800f4893d1","bronorganisatie":"Murphy
      LLC","titel":"Marketing Document","beschrijving":"Arm Republican night school.
      Understand sister employee ground apply. Human environment region series language
      artist see up.","auteur":"Richard Foster","taal":"an","vertrouwelijkheidaanduiding":"wear","status":"thought","formaat":"pdf","bestandsn[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"Zaak","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"Zaak","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"ignore_unmapped":true}},{"simple_query_string":{"query":"Zaak","default_operator":"AND","fields":["identificatie^3","omschrijving^2","toelichting^1.5","status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document,zaak/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":2,"successful":2,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"zaak","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_score":0.12838861,"_source":{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://williams.com/","identificatie":"e4477d74-b25e-4b26-bb5f-a68e0b6190ad","bronorganisatie":"Christian
        LLC","verantwoordelijkeOrganisatie":"Thompson, Stuart and Walters","omschrijving":"Finance
        Zaak","toelichting":"Adult any near support peace. Cause form prepare unit
        everybody resource eight me. Over five card. Nice seem bad east tree reduce.","status":"sometimes","registratiedatum":"2026-04-02","startdatum":"2026[...]
