interactions:
- request:
    body: '{"uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"http://huffman.com/","identificatie":"e3020d50-69d1-4707-acf2-600fa9525406","bronorganisatie":"Cunningham,
      Mendez and Howard","creatiedatum":"2026-02-17","titel":"Than play exactly manage.","auteur":"Denise
      Young","taal":"ky","begin_registratie":"2026-02-11T15:25:34.852887","informatieobjecttype":"range","vertrouwelijkheidaanduiding":"clear","status":"keep","formaat":"bmp","bestandsnaam":"receive.mp3","link":"https://www.vance-martinez.net/","beschrijving":"West
      listen fire final good Mr only. Capital system far.","ontvangstdatum":"2026-02-12","verzenddatum":"2026-02-19","verschijningsvorm":"try"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-02-11T15:25:34.852887","beschrijving":"West
        listen fire final good Mr only. Capital system far.","verschijningsvorm":"try","identificatie":"e3020d50-69d1-4707-acf2-600fa9525406","bronorganisatie":"Cunningham,
        Mendez and Howard","link":"https://www.vance-martinez.net/","uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"http://huffman.com/","taal":"ky","verzenddatum":"2026-02-19","auteur":"Denise
        Young","formaat":"bmp","titel":"Than play exactly manage.","vertrouwelijkheidaanduiding":"clear","informatieobjecttype":"range","bestandsnaam":"receive.mp3","ontvangstdatum":"2026-02-12","creatiedatum":"2026-02-17","status":"keep"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?if_primary_term=1&if_seq_no=0
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
