interactions:
- request:
    body: '{"uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"https://lopez.com/","identificatie":"1ab8b475-7010-4e9f-b7f4-545b62422ac2","bronorganisatie":"Barber-Jenkins","creatiedatum":"2026-02-09","titel":"Event
      society area mind budget.","auteur":"Jennifer Esparza","taal":"fi","begin_registratie":"2026-02-16T01:41:08.377642","informatieobjecttype":"billion","vertrouwelijkheidaanduiding":"test","status":"bit","formaat":"jpg","bestandsnaam":"their.tiff","link":"http://www.barajas-miller.com/","beschrijving":"Two
      spend fall huge development. Success PM director. Race direction there suggest
      suffer her dinner second.","ontvangstdatum":"2026-01-29","verzenddatum":"2026-02-20","verschijningsvorm":"business"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-02-16T01:41:08.377642","beschrijving":"Two
        spend fall huge development. Success PM director. Race direction there suggest
        suffer her dinner second.","verschijningsvorm":"business","identificatie":"1ab8b475-7010-4e9f-b7f4-545b62422ac2","bronorganisatie":"Barber-Jenkins","link":"http://www.barajas-miller.com/","uuid":"ad4d66a8-1503-4743-ae55-d1765512530c","url":"https://lopez.com/","taal":"fi","verzenddatum":"2026-02-20","auteur":"Jennifer
        Esparza","formaat":"jpg","titel":"Event society area mind budget.","vertrouwelijkheidaanduiding":"test","informatieobjecttype":"billion","bestandsnaam":"their.tiff","ontvangstdatum":"2026-01-29","creatiedatum":"2026-02-09","status":"bit"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: DELETE
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c?if_primary_term=1&if_seq_no=0
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","_version":2,"result":"deleted","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":1,"_primary_term":1}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ad4d66a8-1503-4743-ae55-d1765512530c
  response:
    body:
      string: '{"_index":"document","_id":"ad4d66a8-1503-4743-ae55-d1765512530c","found":false}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 404
      message: Not Found
version: 1
