interactions:
- request:
    body: '{"uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"https://www.delgado.info/","identificatie":"698f44c9-5fb3-4693-96fc-503c410f709d","bronorganisatie":"Rogers,
      Snyder and Lopez","titel":"Rest its watch mind.","beschrijving":"Together agree
      light enough hear sometimes both after. Real same door.","auteur":"Rebecca Lewis","taal":"niu","vertrouwelijkheidaanduiding":"information","status":"movement","formaat":"wav","bestandsnaam":"more.pages","informatieobjecttype":"others","verschijningsvorm":"light","bestandsomvang":1000000,"link":"https://www.wright.com/","creatiedatum":"2026-03-23","begin_registratie":"2026-03-23T15:56:37.819331","last_checked_at":"1996-06-23T00:00:00","next_check_at":"2000-10-13T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"8d2fce18-cad3-41d8-84d9-f12431d7bbdc","url":"https://bradshaw.com/","identificatie":"ba757586-21e2-4118-ae15-fcea4f723a89","bronorganisatie":"Maldonado,
      Adkins and Burke","verantwoordelijkeOrganisatie":"Reyes Ltd","omschrijving":"Region
      try finally story.","toelichting":"Evidence heavy often lay recent cost anything
      majority. Suggest piece money property hold business somebody.","status":"trade","registratiedatum":"2026-03-15","startdatum":"2026-03-10","zaaktype":"image","object_type":"page"}],"inhoud":"https://www.example.com/downloads/1"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":7,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":7,"_seq_no":19,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Together
        agree light enough hear sometimes both after. Real same door.","verschijningsvorm":"light","begin_registratie":"2026-03-23T15:56:37.819331","identificatie":"698f44c9-5fb3-4693-96fc-503c410f709d","bronorganisatie":"Rogers,
        Snyder and Lopez","bestandsomvang":1000000,"link":"https://www.wright.com/","next_check_at":"2000-10-13T00:00:00","uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"https://www.delgado.info/","taal":"ni[...]
