interactions:
- request:
    body: '{"uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"http://braun.com/","identificatie":"b1ee2bd8-c0f5-42fc-bdb7-915d5f2538ea","bronorganisatie":"Simpson
      Inc","titel":"Nearly attention travel campaign nearly site back ahead.","beschrijving":"Space
      wrong local yourself alone yeah. Grow pass media lot. Stuff us after.","auteur":"Jeff
      Lewis","taal":"tg","vertrouwelijkheidaanduiding":"ever","status":"more","formaat":"css","bestandsnaam":"nice.html","informatieobjecttype":"law","verschijningsvorm":"protect","bestandsomvang":1000000,"link":"http://sawyer-jensen.org/","creatiedatum":"2026-03-18","begin_registratie":"2026-03-29T03:12:43.225425","last_checked_at":"2011-10-03T00:00:00","next_check_at":"1976-08-15T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"a30bc117-e557-4b42-abcd-bba17951c8ab","url":"http://www.rivera.com/","identificatie":"e6b24828-e73a-4109-81b3-a09735b0edf9","bronorganisatie":"Moore-Patterson","verantwoordelijkeOrganisatie":"Baker-Oliver","omschrijving":"Which
      run science away read.","toelichting":"Early town whom young impact mind tough.
      Fill then worker skin fall and question. Amount never produce federal cover
      job example.","status":"stage","registratiedatum":"2026-04-06","startdatum":"2026-03-15","zaaktype":"join","object_type":"buy","service_slug":"zaken-api"}],"inhoud":"https://www.example.com/downloads/1"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":7,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":19,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":7,"_seq_no":19,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Space
        wrong local yourself alone yeah. Grow pass media lot. Stuff us after.","verschijningsvorm":"protect","begin_registratie":"2026-03-29T03:12:43.225425","identificatie":"b1ee2bd8-c0f5-42fc-bdb7-915d5f2538ea","bronorganisatie":"Simpson
        Inc","bestandsomvang":1000000,"link":"http://sawyer-jensen.org/","next_check_at":"1976-08-15T00:00:00","uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"http://braun.com/","taal":"tg","zaak_refe[...]
