interactions:
- request:
    body: '{"uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"http://martinez-garcia.org/","identificatie":"713151bd-6a28-4ec0-92c9-328cc56d902c","bronorganisatie":"Murillo,
      Barajas and Perry","titel":"Enough vote economic prove evening like.","beschrijving":"Glass
      stay spring water citizen nothing animal. Statement theory whole most television
      collection.","auteur":"Kristina Brooks","taal":"shs","vertrouwelijkheidaanduiding":"table","status":"effort","formaat":"xlsx","bestandsnaam":"east.xlsx","informatieobjecttype":"small","verschijningsvorm":"everybody","bestandsomvang":1000000,"link":"http://www.wolf.biz/","creatiedatum":"2026-03-16","begin_registratie":"2026-03-31T02:58:59.998985","last_checked_at":"1974-05-01T00:00:00","next_check_at":"2002-10-05T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"1ee4a241-00e8-45e3-9a7a-74d6215ec26d","url":"http://www.gallegos-bryant.biz/","identificatie":"06126f25-50cd-42be-9d6a-6f4b6b16fe2c","bronorganisatie":"Christian-Martinez","verantwoordelijkeOrganisatie":"Sexton,
      Taylor and Cruz","omschrijving":"Word per available step industry.","toelichting":"Way
      exist service care determine figure. Husband office film lot often.","status":"remain","registratiedatum":"2026-03-12","startdatum":"2026-03-28","zaaktype":"condition","object_type":"team"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":3,"_seq_no":15,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Glass
        stay spring water citizen nothing animal. Statement theory whole most television
        collection.","verschijningsvorm":"everybody","begin_registratie":"2026-03-31T02:58:59.998985","identificatie":"713151bd-6a28-4ec0-92c9-328cc56d902c","bronorganisatie":"Murillo,
        Barajas and Perry","bestandsomvang":1000000,"link":"http://www.wolf.biz/","next_check_at":"2002-10-05T00:00:00","uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url"[...]
