interactions:
- request:
    body: '{"uuid":"d9fe4844-bdf8-4d66-b613-4efa71598105","url":"http://www.arnold.com/","identificatie":"00657273-1cfc-43a1-b69b-fdd0f12082bf","bronorganisatie":"Miller-Richards","titel":"Fight
      difficult arrive sing military behind.","beschrijving":"Middle worry light investment
      night. Find book everyone listen fine.","auteur":"William Brown","taal":"tr","vertrouwelijkheidaanduiding":"edge","status":"bar","formaat":"mp3","bestandsnaam":"chance.jpeg","informatieobjecttype":"lay","verschijningsvorm":"feel","bestandsomvang":188,"link":"https://ali-munoz.com/","creatiedatum":"2026-03-14","begin_registratie":"2026-03-22T21:46:50.272866","last_checked_at":"1971-03-24T00:00:00","next_check_at":"2006-12-21T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"0724ecc8-322a-43b0-8432-c80f1836efe4","url":"http://www.martinez.com/","identificatie":"bf2a53a1-bfbc-4476-92f3-a55b549f235b","bronorganisatie":"Miranda
      Ltd","verantwoordelijkeOrganisatie":"Wagner-Davis","omschrijving":"Image police
      including pick consider interest college.","toelichting":"Attorney box central
      argue step. Travel serve heavy give.","status":"debate","registratiedatum":"2026-03-30","startdatum":"2026-03-14","zaaktype":"street","object_type":"seven"}],"inhoud":"http://localhost/document/smol7zip"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/d9fe4844-bdf8-4d66-b613-4efa71598105?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"d9fe4844-bdf8-4d66-b613-4efa71598105","_version":5,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":4,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/d9fe4844-bdf8-4d66-b613-4efa71598105
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/d9fe4844-bdf8-4d66-b613-4efa71598105
  response:
    body:
      string: '{"_index":"document","_id":"d9fe4844-bdf8-4d66-b613-4efa71598105","_version":5,"_seq_no":4,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Middle
        worry light investment night. Find book everyone listen fine.","verschijningsvorm":"feel","begin_registratie":"2026-03-22T21:46:50.272866","identificatie":"00657273-1cfc-43a1-b69b-fdd0f12082bf","bronorganisatie":"Miller-Richards","bestandsomvang":188,"link":"https://ali-munoz.com/","next_check_at":"2006-12-21T00:00:00","uuid":"d9fe4844-bdf8-4d66-b613-4efa71598105","url":"http://www.arnold.com/","taal":"tr","zaak_referenties":[{"omsc[...]
