interactions:
- request:
    body: '{"uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"https://zavala.net/","identificatie":"f6db9c88-79a9-48ac-887d-f05f0b12b0c5","bronorganisatie":"Stewart
      Ltd","titel":"Wish attack final discussion.","beschrijving":"Not blue relationship
      sport. Entire keep man worker. Throw list ok body now three network.","auteur":"Lori
      Mcneil","taal":"yue","vertrouwelijkheidaanduiding":"expect","status":"avoid","formaat":"mp4","bestandsnaam":"inside.gif","informatieobjecttype":"note","verschijningsvorm":"sense","bestandsomvang":1000000,"link":"http://diaz.com/","creatiedatum":"2026-03-28","begin_registratie":"2026-03-25T16:36:54.959473","last_checked_at":"2016-11-23T00:00:00","next_check_at":"2023-04-22T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"20edbfd0-42e9-4ef1-9c08-044c39586d56","url":"http://ross-robinson.com/","identificatie":"432067c7-c176-4e7f-8d8b-3573352f552c","bronorganisatie":"Smith,
      Giles and Mcclain","verantwoordelijkeOrganisatie":"Holt PLC","omschrijving":"Grow
      machine suffer rule child dream.","toelichting":"Popular really security heart
      try including allow. Month reduce program onto a behavior popular leave. Fill
      Democrat everything someone never.","status":"visit","registratiedatum":"2026-03-26","startdatum":"2026-03-24","zaaktype":"same","object_type":"help","service_slug":"zaken-api"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":3,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":15,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/9acc8148-b498-4c15-b2df-0f26d41ff4c2
  response:
    body:
      string: '{"_index":"document","_id":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","_version":3,"_seq_no":15,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Not
        blue relationship sport. Entire keep man worker. Throw list ok body now three
        network.","verschijningsvorm":"sense","begin_registratie":"2026-03-25T16:36:54.959473","identificatie":"f6db9c88-79a9-48ac-887d-f05f0b12b0c5","bronorganisatie":"Stewart
        Ltd","bestandsomvang":1000000,"link":"http://diaz.com/","next_check_at":"2023-04-22T00:00:00","uuid":"9acc8148-b498-4c15-b2df-0f26d41ff4c2","url":"https://zavala.net/","taal":"[...]
