interactions:
- request:
    body: '{"uuid":"ed19d46e-c367-4410-a891-88f20d232a03","url":"http://short.org/","identificatie":"51fa0c02-1cb7-4e41-9be6-ad8db8fbbcf4","bronorganisatie":"Lopez,
      Saunders and Williams","titel":"Add knowledge media hospital people leader surface.","beschrijving":"Focus
      sing watch around around those. Kind question rate.","auteur":"Fernando Wall","taal":"ts","vertrouwelijkheidaanduiding":"dog","status":"risk","formaat":"xlsx","bestandsnaam":"guess.mp3","informatieobjecttype":"drug","verschijningsvorm":"surface","bestandsomvang":1000000,"link":"https://www.green.com/","creatiedatum":"2026-03-22","begin_registratie":"2026-04-05T23:39:31.006121","last_checked_at":"2018-06-06T00:00:00","next_check_at":"2011-11-12T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"dab6e8b9-4bf3-4c18-ab20-e12a89ea14ed","url":"https://cunningham.com/","identificatie":"c171850f-7b62-4916-b1b2-cd37a824b7ae","bronorganisatie":"Robinson-Bishop","verantwoordelijkeOrganisatie":"Castillo-Mendoza","omschrijving":"Painting
      statement still represent play attorney.","toelichting":"Resource just especially
      account answer at. Between become instead major occur senior factor. Have food
      decide item political hotel executive.","status":"daughter","registratiedatum":"2026-03-16","startdatum":"2026-03-17","zaaktype":"they","object_type":"way"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ed19d46e-c367-4410-a891-88f20d232a03?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ed19d46e-c367-4410-a891-88f20d232a03","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":21,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ed19d46e-c367-4410-a891-88f20d232a03
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ed19d46e-c367-4410-a891-88f20d232a03
  response:
    body:
      string: '{"_index":"document","_id":"ed19d46e-c367-4410-a891-88f20d232a03","_version":1,"_seq_no":21,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Focus
        sing watch around around those. Kind question rate.","verschijningsvorm":"surface","begin_registratie":"2026-04-05T23:39:31.006121","identificatie":"51fa0c02-1cb7-4e41-9be6-ad8db8fbbcf4","bronorganisatie":"Lopez,
        Saunders and Williams","bestandsomvang":1000000,"link":"https://www.green.com/","next_check_at":"2011-11-12T00:00:00","uuid":"ed19d46e-c367-4410-a891-88f20d232a03","url":"http://short.org/","taal":"ts","zaak_referent[...]
- request:
    body: '{"uuid":"da97b6cb-7211-4762-9673-21a08f508e85 ","url":"http://www.perry-barnes.org/","identificatie":"17f62055-94c3-4491-b652-08a588e2c6de","bronorganisatie":"Scott
      Ltd","titel":"Summer would big work deal.","beschrijving":"Your author watch
      alone young. Either statement beyond early weight job long.","auteur":"Kevin
      Parker","taal":"az","vertrouwelijkheidaanduiding":"effort","status":"south","formaat":"avi","bestandsnaam":"lawyer.json","informatieobjecttyp[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/da97b6cb-7211-4762-9673-21a08f508e85%20
  response:
    body:
      string: '{"_index":"document","_id":"da97b6cb-7211-4762-9673-21a08f508e85 ","_version":1,"_seq_no":22,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Your
        author watch alone young. Either statement beyond ea[...]
- request:
    body: null
    headers:
      Audit-Remarks:
      - download document for indexing.
      Audit-User-ID:
      - Open DMS
      Audit-User-Representation:
      - Open DMS (system)
    method: GET
    uri: http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb
  response:
    body:
      string: Document 'c80fcb40-f6af-44a4-90ab-07f75b47e9cb'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid":"554be64c-e6af-49b5-8af5-80e83155212d","url":"https://www.schwartz.com/","identificatie":"b1fcc32d-0617-47a2-b66f-cc6382960599","bronorganisatie":"Nelson-Cobb","titel":"Million
      wish its.","beschrijving":"Speech significant discover various save that here
      admit. How say last form. North son recently bank.","auteur":"Jeffrey Jacobs","taal":"ig","vertrouwelijkheidaanduiding":"out","status":"program","formaat":"doc","bestandsnaam":"executive.mp4","informatieobjecttype":"treatment","verschijningsvorm":"create","bestandsomvang":800,"link":"https://www.rasmussen.biz/","creatiedatum":"2026-03-26","begin_registratie":"2026-04-06T08:18:42.656784","last_checked_at":"2005-01-10T00:00:00","next_check_at":"2002-02-24T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"e892042f-941f-4f9a-8b93-ce8706d2877d","url":"https://johnson.biz/","identificatie":"cc914337-ebb2-435f-bb6c-30d1d3f35f2b","bronorganisatie":"Diaz-Robbins","verantwoordelijkeOrganisatie":"Prince,
      Jimenez and Jones","omschrijving":"Base color usually.","toelichting":"Event
      break under maybe.","status":"energy","registratiedatum":"2026-03-22","startdatum":"2026-03-22","zaaktype":"apply","object_type":"between"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb","document_data":[{"document_data":"RG9jdW1lbnQgJ2M4MGZjYjQwLWY2YWYtNDRhNC05MGFiLTA3Zjc1YjQ3ZTljYic="}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/554be64c-e6af-49b5-8af5-80e83155212d?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"554be64c-e6af-49b5-8af5-80e83155212d","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":23,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/554be64c-e6af-49b5-8af5-80e83155212d
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
[...]
