interactions:
- request:
    body: '{"uuid":"ed19d46e-c367-4410-a891-88f20d232a03","url":"https://moore.org/","identificatie":"7b78f190-742e-4e28-a6ae-b492fee05862","bronorganisatie":"Fletcher-Pineda","titel":"Sometimes
      organization bank speak above else.","beschrijving":"Statement to deal card
      few some dinner. Final whole sport administration. Economic particular firm
      gas. Relate real employee relationship pay condition.","auteur":"William Molina","taal":"om","vertrouwelijkheidaanduiding":"space","status":"much","formaat":"jpg","bestandsnaam":"during.flac","informatieobjecttype":"sea","verschijningsvorm":"gun","bestandsomvang":1000000,"link":"http://www.oneill.com/","creatiedatum":"2026-04-08","begin_registratie":"2026-04-04T13:49:36.135333","last_checked_at":"1970-08-18T00:00:00","next_check_at":"2007-02-07T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"fb2c5655-73cd-444c-9dbb-2a8a16450908","url":"http://leon.com/","identificatie":"0c83afdd-f84c-40d3-b217-f7276675470c","bronorganisatie":"Olson
      and Sons","verantwoordelijkeOrganisatie":"Moran-Reed","omschrijving":"Whatever
      far myself country clearly.","toelichting":"Wind information floor study. Behind
      professional detail.","status":"almost","registratiedatum":"2026-03-19","startdatum":"2026-04-06","zaaktype":"thousand","object_type":"reason","service_slug":"zaken-api"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ed19d46e-c367-4410-a891-88f20d232a03?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ed19d46e-c367-4410-a891-88f20d232a03","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":21,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ed19d46e-c367-4410-a891-88f20d232a03
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/ed19d46e-c367-4410-a891-88f20d232a03
  response:
    body:
      string: '{"_index":"document","_id":"ed19d46e-c367-4410-a891-88f20d232a03","_version":1,"_seq_no":21,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Statement
        to deal card few some dinner. Final whole sport administration. Economic particular
        firm gas. Relate real employee relationship pay condition.","verschijningsvorm":"gun","begin_registratie":"2026-04-04T13:49:36.135333","identificatie":"7b78f190-742e-4e28-a6ae-b492fee05862","bronorganisatie":"Fletcher-Pineda","bestandsomvang":1000000,"link":"http://www.oneill.com/","next_check_at":"2007-02-07T00:00:00","uuid":"ed19d46e-c36[...]
- request:
    body: '{"uuid":"da97b6cb-7211-4762-9673-21a08f508e85 ","url":"https://www.collins.info/","identificatie":"a8053af1-266f-4266-bfb4-35cd5ac73075","bronorganisatie":"Brown,
      Walker and Davis","titel":"Station different health research on then.","beschrijving":"Authority
      hot discussion again remain number thousand. Million network use alone.","auteur":"Dr.
      Justin Kane","taal":"ja","vertrouwelijkheidaanduiding":"star","status":"despite","formaat":"mp4","bestandsnaam":"[...]
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/da97b6cb-7211-4762-9673-21a08f508e85%20
  response:
    body:
      string: '{"_index":"document","_id":"da97b6cb-7211-4762-9673-21a08f508e85 ","_version":1,"_seq_no":22,"_primary_term":1,"found":true,"_source":{"service_slug":"documenten-api","beschrijving":"Authority
        hot discussion again remain number thousand. Mi[...]
- request:
    body: null
    headers:
      Audit-Remarks:
      - download document for indexing.
      Audit-User-ID:
      - Open DMS
      Audit-User-Representation:
      - Open DMS (system)
    method: GET
    uri: http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb
  response:
    body:
      string: Document 'c80fcb40-f6af-44a4-90ab-07f75b47e9cb'
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"uuid":"554be64c-e6af-49b5-8af5-80e83155212d","url":"https://rasmussen.com/","identificatie":"7ef9ec92-fca6-45aa-9db3-e53d4d206108","bronorganisatie":"Brown
      and Sons","titel":"Difference imagine manage for.","beschrijving":"Loss painting
      nature hotel alone positive issue task. Role exactly statement activity effort
      since.","auteur":"Jennifer Foster","taal":"bhb","vertrouwelijkheidaanduiding":"write","status":"billion","formaat":"mp3","bestandsnaam":"capital.csv","informatieobjecttype":"by","verschijningsvorm":"old","bestandsomvang":800,"link":"https://thompson-cain.info/","creatiedatum":"2026-03-22","begin_registratie":"2026-03-12T14:36:09.488872","last_checked_at":"2012-12-11T00:00:00","next_check_at":"2009-06-20T00:00:00","service_slug":"documenten-api","group_slug":"group-1","zaak_referenties":[{"uuid":"9bf99ade-aec3-41d1-bde3-bee2797cb3de","url":"https://shah.com/","identificatie":"60852d37-9f1b-44ee-a29b-543b24ca1d19","bronorganisatie":"Morrow-Terry","verantwoordelijkeOrganisatie":"Wood
      PLC","omschrijving":"Design modern huge throughout mean.","toelichting":"Think
      life music artist network. Leg though police start message.","status":"without","registratiedatum":"2026-03-31","startdatum":"2026-03-27","zaaktype":"view","object_type":"type","service_slug":"zaken-api"}],"inhoud":"http://localhost/document/c80fcb40-f6af-44a4-90ab-07f75b47e9cb","document_data":[{"document_data":"RG9jdW1lbnQgJ2M4MGZjYjQwLWY2YWYtNDRhNC05MGFiLTA3Zjc1YjQ3ZTljYic="}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/554be64c-e6af-49b5-8af5-80e83155212d?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"554be64c-e6af-49b5-8af5-80e83155212d","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":23,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/554be64c-e6af-49b5-8af5-80e83155212d
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
[...]
