interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"http://www.hill-morales.biz/","identificatie":"28d13ffa-72d4-4aeb-8217-b3b2cdb20ab4","bronorganisatie":"Carter-Beasley","titel":"Town
      medical film mother policy former.","beschrijving":"Main tough approach tonight
      just fight. Significant month play. Under president which them.","auteur":"Misty
      Rodriguez","taal":"wae","vertrouwelijkheidaanduiding":"card","status":"safe","formaat":"docx","bestandsnaam":"provide.wav","informatieobjecttype":"camera","verschijningsvorm":"practice","bestandsomvang":1000000,"link":"http://www.higgins.com/","creatiedatum":"2024-02-11","begin_registratie":"2026-04-04T03:28:43.108701","last_checked_at":"1988-09-02T00:00:00","next_check_at":"1998-05-13T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"5591ada2-5590-4022-b708-9ad76f1e05bb","url":"https://www.robertson.com/","identificatie":"843c3799-4b07-405d-8a26-c5ed46004edd","bronorganisatie":"Clark-Parsons","verantwoordelijkeOrganisatie":"Olsen,
      Horn and Strickland","omschrijving":"Public current word few.","toelichting":"Include
      wall history clearly young. Author grow recently list.","status":"listen","registratiedatum":"2026-04-05","startdatum":"2026-03-29","zaaktype":"middle","object_type":"address"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"https://aguirre.info/","identificatie":"067fb173-ab62-492b-97da-cec157325eee","bronorganisatie":"Gonzalez,
      Parsons and Watkins","titel":"Reveal board enjoy fine whatever unit.","beschrijving":"Last
      carry both direction car soon shake. Deal purpose accept trade.","auteur":"Samantha
      Moore","taal":"ik","vertrouwelijkheidaanduiding":"short","status":"paper","formaat":"gif","bestandsnaam":"people.wav","infor[...]
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://lara.com/","identificatie":"ae54c2fd-e036-4c1f-b45e-caf80756aa12","bronorganisatie":"Weber
      PLC","titel":"Life nothing law real ten owner.","beschrijving":"Kind seem hope
      born. Thank still around mouth sound just myself. Couple fight year eye mouth.
      Anyone space parent else.","auteur":"Whitney French","taal":"gv","vertrouwelijkheidaanduiding":"until","status":"red","formaat":"odp","bestandsnaam":[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11"}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":9,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"service_slug":"test-service","beschrijving":"Kind
        seem hope born. Thank still around mouth sound just myself. Couple fight year
        eye mouth. Anyone space parent else.","verschijningsvorm":"police","begin_registratie":"2026-03-19T00:52:49.049745","identificatie":"ae54c2fd-e036-4c1f-b45e-caf80756aa12","bronorganisatie":"Weber
        PLC","bestandsomvang":1000000,"link":"http://frost.org/","next_check_at":"1976-09-07T00:00:00","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"ht[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"lte":"2022-12-10"}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"valu[...]
[...]
