interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"https://www.daniels.com/","identificatie":"d5ac107d-9e2d-4b0e-aa44-4ff7a76f5862","bronorganisatie":"Meyer,
      Mitchell and Hale","creatiedatum":"2024-02-11","titel":"Role century contain
      day.","auteur":"Connie Perez","taal":"crh","begin_registratie":"2026-02-17T11:08:27.006884","informatieobjecttype":"task","vertrouwelijkheidaanduiding":"teach","status":"strategy","formaat":"docx","bestandsnaam":"myself.txt","link":"https://watkins.biz/","beschrijving":"Take
      contain bank natural compare myself. Score decade near along behind maintain
      join. Quality position vote then visit wall. Type role bar trade left.","ontvangstdatum":"2026-02-19","verzenddatum":"2026-02-26","verschijningsvorm":"far"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"https://www.bright.com/","identificatie":"7c19b104-8e2a-4fb5-9e88-c0cbc22adc42","bronorganisatie":"Aguilar
      Inc","creatiedatum":"2022-12-10","titel":"Word add research note Congress growth.","auteur":"Thomas
      Howe","taal":"ln","begin_registratie":"2026-02-22T16:19:50.310990","informatieobjecttype":"charge","vertrouwelijkheidaanduiding":"it","status":"ten","formaat":"json","bestandsnaam":"must.webm","link":"http[...]
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"http://wade.org/","identificatie":"5aee5ae3-9a56-4fa5-a3fb-17b2d933d4cf","bronorganisatie":"Taylor-Castro","creatiedatum":"2025-01-14","titel":"Now
      throughout couple get plan.","auteur":"Brandon Marshall","taal":"or","begin_registratie":"2026-02-02T18:35:36.668313","informatieobjecttype":"daughter","vertrouwelijkheidaanduiding":"wonder","status":"film","formaat":"mp4","bestandsnaam":"physical.jpeg","link":"https://robertson.com/","beschrijving":"Avoid
      feel of tonight wind continue.","ontvangstdatum":"2026-02-07","verzenddatum":"2026-02-11","verschijningsvorm":"concern"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ef1dead2-e0f8-45be-acf7-3583adc14906?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":4,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ef1dead2-e0f8-45be-acf7-3583adc14906
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11","lte":null}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"begin_registratie":"2026-02-02T18:35:36.668313","beschrijving":"Avoid
        feel of tonight wind continue.","verschijningsvorm":"concern","identificatie":"5aee5ae3-9a56-4fa5-a3fb-17b2d933d4cf","bronorganisatie":"Taylor-Castro","link":"https://robertson.com/","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"http://wade.org/","taal":"or","verzenddatum":"2026-02-11","auteur":"Brandon
        Marshall","formaat":"mp4","titel":"Now throughout couple get plan.","vertrouwelijkheidaanduiding":"w[...]
[...]
