interactions:
- request:
    body: '{"uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://www.bennett.org/","identificatie":"39f27a58-a996-4565-922f-c812c239e5b1","bronorganisatie":"Davis,
      Scott and Mckay","titel":"Document with zaak","beschrijving":"Some description","auteur":"Leslie
      Jackson","taal":"lt","vertrouwelijkheidaanduiding":"interesting","status":"throughout","formaat":"mov","bestandsnaam":"voice.mp3","informatieobjecttype":"bring","verschijningsvorm":"idea","bestandsomvang":1000000,"link":"https://ortiz.com/","creatiedatum":"2024-02-11","begin_registratie":"2026-03-28T07:11:41.296381","last_checked_at":"2016-02-13T00:00:00","next_check_at":"1989-01-22T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"url":"http://example.com/zaak/62fceb92-98bd-475c-b184-49ee8a274787","uuid":"62fceb92-98bd-475c-b184-49ee8a274787","identificatie":"ZA123","omschrijving":"This
      is a test zaak","toelichting":"Extra info","status":"open","registratiedatum":"2026-01-01","startdatum":"2024-02-11","zaaktype":"http://example.com/zaaktype/52fceb92-98bd-475c-b184-49ee8a274787","object_type":"objectX","bronorganisatie":"org1","verantwoordelijkeOrganisatie":"org1"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/12fceb92-98bd-475c-b184-49ee8a274787?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":10,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/12fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"ZA123","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"ZA123","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"12fceb92-98bd-475c-b184-49ee8a274787","_score":0.0,"_source":{"service_slug":"test-service","beschrijving":"Some
        description","verschijningsvorm":"idea","begin_registratie":"2026-03-28T07:11:41.296381","identificatie":"39f27a58-a996-4565-922f-c812c239e5b1","bronorganisatie":"Davis,
        Scott and Mckay","bestandsomvang":1000000,"link":"https://ortiz.com/","next_check_at":"1989-01-22T00:00:00","uuid":"12fceb92-98bd-475c-b184-49ee8a274787","url":"https://www.bennett.org/","taal":"lt","zaak_referenties":[{"omschrijving":"This
        is a test zaak","identificatie":"ZA123","startdatum":"2024-02-11","object_type":"objectX","zaaktype":"http://example.com/zaaktype/52fceb92-98bd-475c-b184-49ee8a274787","bronorganisatie":"org1","registratiedatum":"2026-01-01","uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"http://example.com/zaak/62fceb92-98bd-475c-b184-49ee8a274787","verantwoordelijkeOrganisatie":"org1","toelichting":"Extra
        info","status":"open"}],"auteur":"Leslie Jackson","formaat":"mov","last_checked_at":"2016-02-13T00:00:00","titel":"Document
        with zaak","vertrouwelijkheidaanduiding":"interesting","informatieobjecttype":"bring","bestandsnaam":"voice.mp3","creatiedatum":"2024-02-11","group_slug":"test-group","status":"throughout"},"sort":[0.0,1707609600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
