interactions:
- request:
    body: '{"uuid":"828df354-b6dc-4693-815a-1b7d39b3bc95","url":"http://www.valdez.com/","identificatie":"1ebfe663-0e0d-4177-9c31-e92dd993a715","bronorganisatie":"Walker-Tran","titel":"Dutch
      analyzer","beschrijving":"Een document om de Nederlandse analyzer te testen.
      We doen dit door middel van een willekeurige stem (in ons geval ''lichamelijk'')
      in deze tekst te vermelden, zodat we kunnen zoeken metwoorden die de zelfde
      stem bevatten.","auteur":"Jacob Green","taal":"gl","vertrouwelijkheidaanduiding":"method","status":"election","formaat":"tiff","bestandsnaam":"argue.jpg","informatieobjecttype":"senior","verschijningsvorm":"suddenly","bestandsomvang":1000000,"link":"https://www.reeves.biz/","creatiedatum":"2026-03-12","begin_registratie":"2026-03-17T15:41:35.708246","last_checked_at":"1976-09-19T00:00:00","next_check_at":"1980-04-22T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"uuid":"c2b2418b-09d9-4224-9c8e-add01c6036db","url":"http://www.simon.info/","identificatie":"721cf5d6-32c0-4efe-8252-dd4927ca3cfe","bronorganisatie":"Mcgee
      PLC","verantwoordelijkeOrganisatie":"Johnson Ltd","omschrijving":"Real defense
      continue right natural.","toelichting":"Eye writer allow poor. Maintain hold
      wide. Claim hair half upon could.","status":"interesting","registratiedatum":"2026-03-22","startdatum":"2026-03-24","zaaktype":"serious","object_type":"bed"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/828df354-b6dc-4693-815a-1b7d39b3bc95?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"828df354-b6dc-4693-815a-1b7d39b3bc95","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/828df354-b6dc-4693-815a-1b7d39b3bc95
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"lichamelijk","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"lichamelijk","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":3,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"828df354-b6dc-4693-815a-1b7d39b3bc95","_score":0.07457028,"_source":{"service_slug":"test-service","beschrijving":"Een
        document om de Nederlandse analyzer te testen. We doen dit door middel van
        een willekeurige stem (in ons geval ''lichamelijk'') in deze tekst te vermelden,
        zodat we kunnen zoeken metwoorden die de zelfde stem bevatten.","verschijningsvorm":"suddenly","begin_registratie":"2026-03-17T15:41:35.708246","identificatie":"1ebfe663-0e0d-4177-9c31-e92dd993a715","bronorganisatie":"Walker-Tran","bestandsomvang":1000000,"link":"https[...]
[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"lich","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"lich","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
