interactions:
- request:
    body: '{"uuid":"99999999-aaaa-bbbb-cccc-000000000001","url":"http://www.patel.com/","identificatie":"f6cd2097-b7a0-4531-a7f5-9d0d31bbe061","bronorganisatie":"Bennett-Martinez","titel":"Document
      with nested zaak","beschrijving":"Contains zaak info","auteur":"Gregory Burns","taal":"ur","vertrouwelijkheidaanduiding":"his","status":"set","formaat":"avi","bestandsnaam":"sense.txt","informatieobjecttype":"agree","verschijningsvorm":"through","bestandsomvang":1000000,"link":"https://www.bell-jordan.net/","creatiedatum":"2026-04-06","begin_registratie":"2026-03-18T03:44:20.571144","last_checked_at":"1979-10-18T00:00:00","next_check_at":"2020-09-25T00:00:00","service_slug":"test-service","group_slug":"test-group","zaak_referenties":[{"url":"http://example.com/zaak/62fceb92-98bd-475c-b184-49ee8a274787","uuid":"11111111-2222-3333-4444-555555555555","identificatie":"ZA-BOOST-1","omschrijving":"Important
      nested zaak","toelichting":"Extra nested info","status":"open","registratiedatum":"2026-01-01","startdatum":"2024-01-01","zaaktype":"http://example.com/zaaktype/boost","object_type":"zaak","bronorganisatie":"org1","verantwoordelijkeOrganisatie":"org1"}]}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/99999999-aaaa-bbbb-cccc-000000000001?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"99999999-aaaa-bbbb-cccc-000000000001","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":8,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/99999999-aaaa-bbbb-cccc-000000000001
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"minimum_should_match":1,"should":[{"simple_query_string":{"query":"ZA-BOOST-1","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},{"nested":{"path":"zaak_referenties","query":{"simple_query_string":{"query":"ZA-BOOST-1","default_operator":"AND","fields":["zaak_referenties.identificatie^3","zaak_referenties.omschrijving^2","zaak_referenties.toelichting^1.5","zaak_referenties.status^1.2"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":4,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"99999999-aaaa-bbbb-cccc-000000000001","_score":4.158883,"_source":{"service_slug":"test-service","beschrijving":"Contains
        zaak info","verschijningsvorm":"through","begin_registratie":"2026-03-18T03:44:20.571144","identificatie":"f6cd2097-b7a0-4531-a7f5-9d0d31bbe061","bronorganisatie":"Bennett-Martinez","bestandsomvang":1000000,"link":"https://www.bell-jordan.net/","next_check_at":"2020-09-25T00:00:00","uuid":"99999999-aaaa-bbbb-cccc-000000000001","url":"http://www.patel.com/","taal":"ur","zaak_referenties":[{"omschrijving":"Important
        nested zaak","identificatie":"ZA-BOOST-1","startdatum":"2024-01-01","object_type":"zaak","zaaktype":"http://example.com/zaaktype/boost","bronorganisatie":"org1","registratiedatum":"2026-01-01","uuid":"11111111-2222-3333-4444-555555555555","url":"http://example.com/zaak/62fceb92-98bd-475c-b184-49ee8a274787","verantwoordelijkeOrganisatie":"org1","toelichting":"Extra
        nested info","status":"open"}],"auteur":"Gregory Burns","formaat":"avi","last_checked_at":"1979-10-18T00:00:00","titel":"Document
        with nested zaak","vertrouwelijkheidaanduiding":"his","informatieobjecttype":"agree","bestandsnaam":"sense.txt","creatiedatum":"2026-04-06","group_slug":"test-group","status":"set"},"sort":[4.158883,1775433600000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
