interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"http://www.edwards.com/","identificatie":"78a39526-9a3d-4907-adab-76753edc4f26","bronorganisatie":"Mccormick
      Inc","creatiedatum":"2024-02-11","titel":"Positive dinner general leg.","auteur":"Andrew
      Sullivan","taal":"lij","begin_registratie":"2026-02-22T22:39:28.801943","informatieobjecttype":"grow","vertrouwelijkheidaanduiding":"usually","status":"often","formaat":"html","bestandsnaam":"trade.odt","link":"https://www.woods.com/","beschrijving":"Food
      mission father in million front. However game stand during between.","verschijningsvorm":"local"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"http://obrien-thomas.com/","identificatie":"dae0b2f9-01e6-4c0a-b763-5b9e0bca6010","bronorganisatie":"Edwards-Harris","creatiedatum":"2022-12-10","titel":"Short
      approach do wall.","auteur":"Daniel Conner","taal":"mni","begin_registratie":"2026-03-10T15:11:34.237617","informatieobjecttype":"check","vertrouwelijkheidaanduiding":"agency","status":"test","formaat":"avi","bestandsnaam":"understand.odp","link":"https://www.davis-hensley.com/","beschrijving":"Health
      week themselves very purpose mention none. Community morning trip kitchen yourself
      million quickly.","verschijningsvorm":"word"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/62fceb92-98bd-475c-b184-49ee8a274787?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"62fceb92-98bd-475c-b184-49ee8a274787","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":3,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/62fceb92-98bd-475c-b184-49ee8a274787
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"http://www.montgomery.net/","identificatie":"1988f6db-f0db-4b77-b2a7-6db98119be3c","bronorganisatie":"Hoover,
      Taylor and Sullivan","creatiedatum":"2025-01-14","titel":"Go concern beyond
      certain stage Congress.","auteur":"Michael Bowen","taal":"gu","begin_registratie":"2026-03-05T05:04:59.930641","informatieobjecttype":"first","vertrouwelijkheidaanduiding":"security","status":"power","formaat":"mov","bestandsn[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"creatiedatum":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11","lte":null}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.12.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"begin_registratie":"2026-03-05T05:04:59.930641","beschrijving":"Guess
        beat range their dream international garden. Lose meeting receive why almost
        range computer.","verschijningsvorm":"out","identificatie":"1988f6db-f0db-4b77-b2a7-6db98119be3c","bronorganisatie":"Hoover,
        Taylor and Sullivan","link":"http://rodriguez.biz/","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"http://www.montgomery.net/","taal":"gu","auteur":"Michael
        Bowen","formaat":"mov","titel":[...]
[...]
