interactions:
- request:
    body: '{"uuid":"828df354-b6dc-4693-815a-1b7d39b3bc95","url":"http://sanchez.com/","identificatie":"87c50a42-357f-462b-9ec7-9a8626fd95f4","bronorganisatie":"Gilbert,
      Melendez and Davis","creatiedatum":"2026-02-19","titel":"Dutch analyzer","auteur":"Valerie
      Miller","taal":"mai","begin_registratie":"2026-02-19T21:28:55.012470","informatieobjecttype":"someone","vertrouwelijkheidaanduiding":"series","status":"generation","formaat":"csv","bestandsnaam":"in.xlsx","link":"http://www.caldwell.info/","beschrijving":"Een
      document om de Nederlandse analyzer te testen. We doen dit door middel van een
      willekeurige stem (in ons geval ''lichamelijk'') in deze tekst te vermelden,
      zodat we kunnen zoeken metwoorden die de zelfde stem bevatten.","ontvangstdatum":"2026-01-27","verzenddatum":"2026-01-31","verschijningsvorm":"this"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/828df354-b6dc-4693-815a-1b7d39b3bc95?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"828df354-b6dc-4693-815a-1b7d39b3bc95","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/828df354-b6dc-4693-815a-1b7d39b3bc95
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"lichamelijk","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":2,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":1,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"828df354-b6dc-4693-815a-1b7d39b3bc95","_score":0.34521848,"_source":{"begin_registratie":"2026-02-19T21:28:55.012470","beschrijving":"Een
        document om de Nederlandse analyzer te testen. We doen dit door middel van
        een willekeurige stem (in ons geval ''lichamelijk'') in deze tekst te vermelden,
        zodat we kunnen zoeken metwoorden die de zelfde stem bevatten.","verschijningsvorm":"this","identificatie":"87c50a42-357f-462b-9ec7-9a8626fd95f4","bronorganisatie":"Gilbert,
        Melendez and Davis","link":"http://www.caldwell.info/","uuid":"828df354-b6dc-4693-815a-1b7d39b3bc95","url":"http://sanchez.com/","taal":"mai","verzenddatum":"2026-01-31","auteur":"Valerie
        Miller","formaat":"csv","titel":"Dutch analyzer","vertrouwelijkheidaanduiding":"series","informatieobjecttype":"someone","bestandsnaam":"in.xlsx","ontvangstdatum":"2026-01-27","creatiedatum":"2026-02-19","status":"generation"},"sort":[0.34521848,1771459200000]}]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"simple_query_string":{"query":"lich","default_operator":"AND","fields":["identificatie^3","titel^2","bestandsnaam^1.5","beschrijving^1.2","document_data.attachment.content"],"flags":"OR|AND|PHRASE|PRECEDENCE|WHITESPACE"}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":0,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":0,"relation":"eq"},"max_score":null,"hits":[]}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
