interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"https://www.brown-tucker.com/","identificatie":"dd8ef3b0-c8b8-4e3d-9e12-76f6f26b3a91","bronorganisatie":"Morales
      Ltd","creatiedatum":"2024-02-11","titel":"Up easy stuff nation land we.","auteur":"Scott
      Wyatt","taal":"ca","begin_registratie":"2026-01-29T19:10:50.290275","informatieobjecttype":"short","vertrouwelijkheidaanduiding":"hand","status":"performance","formaat":"gif","bestandsnaam":"couple.css","link":"http://www.mann-barnes.com/","beschrijving":"Whether
      defense health situation occur person. Stop talk save arrive no easy.","ontvangstdatum":"2026-02-20","verzenddatum":"2026-02-20","verschijningsvorm":"close"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"http://www.fischer-barr.biz/","identificatie":"bed55053-169e-4342-8c4f-ff090bc0c0f7","bronorganisatie":"Pena
      LLC","creatiedatum":"2022-12-10","titel":"Change perform soldier year believe
      guess.","auteur":"Megan Taylor","taal":"wal","begin_registratie":"2026-02-03T20:49:15.041052","informatieobjecttype":"poor","vertrouwelijkheidaanduiding":"experience","status":"maintain","formaat":"mov","bestandsnaam":"check.[...]
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://www.watson.com/","identificatie":"ed81a215-d821-486e-aaa0-8e129ebaaa4a","bronorganisatie":"Miller-Davis","creatiedatum":"2025-01-14","titel":"Can
      whether understand inside player see organization collection.","auteur":"Derek
      Rodriguez","taal":"li","begin_registratie":"2026-02-11T15:07:55.682084","informatieobjecttype":"laugh","vertrouwelijkheidaanduiding":"direction","status":"to","formaat":"jpeg","be[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11","lte":null}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":5,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"begin_registratie":"2026-02-11T15:07:55.682084","beschrijving":"Put
        kind someone over. Especially suggest in where organization somebody. Central
        popular direction result.","verschijningsvorm":"name","identificatie":"ed81a215-d821-486e-aaa0-8e129ebaaa4a","bronorganisatie":"Miller-Davis","link":"https://strickland-parker.com/","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://www.watson.com/","taal":"li","verzenddatum":"2026-02-06","auteur":"Derek
        Rodriguez","[...]
[...]
