interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"http://smith.info/","identificatie":"ffcba079-985e-4f74-a5e5-1e1396c11564","bronorganisatie":"Mitchell-Wright","creatiedatum":"2024-02-11","titel":"Car
      church west move specific pattern.","auteur":"Sandra Johnson","taal":"mai","begin_registratie":"2026-02-19T13:44:05.665432","informatieobjecttype":"may","vertrouwelijkheidaanduiding":"somebody","status":"mind","formaat":"docx","bestandsnaam":"process.tiff","link":"http://cooper-evans.com/","beschrijving":"System
      executive have face open throughout source nice.","ontvangstdatum":"2026-02-14","verzenddatum":"2026-02-13","verschijningsvorm":"conference"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"http://mendoza.info/","identificatie":"83bcc424-4263-4844-889e-48b5ffec4056","bronorganisatie":"Walton,
      Keller and Curtis","creatiedatum":"2022-12-10","titel":"Pay officer low easy
      if.","auteur":"Dana Gomez","taal":"ms","begin_registratie":"2026-01-29T17:31:08.719503","informatieobjecttype":"defense","vertrouwelijkheidaanduiding":"answer","status":"president","formaat":"webm","bestandsnaam":"member.csv","link[...]
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://www.conley-stone.info/","identificatie":"6b37450e-aaab-495b-8f1a-20f96cc87b85","bronorganisatie":"Mills-Henry","creatiedatum":"2025-01-14","titel":"Peace
      life forget Congress community rule think.","auteur":"Courtney Kelly","taal":"nds","begin_registratie":"2026-02-22T20:49:44.193372","informatieobjecttype":"I","vertrouwelijkheidaanduiding":"land","status":"list","formaat":"mp3","bestandsnaam":"easy.webm","link":"http://torres.com/","beschrijving":"Focus
      station avoid.","ontvangstdatum":"2026-02-02","verzenddatum":"2026-02-05","verschijningsvorm":"may"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/ef1dead2-e0f8-45be-acf7-3583adc14906?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/ef1dead2-e0f8-45be-acf7-3583adc14906
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11","lte":null}}}]}},"score_mode":"multiply"}},"aggs":{"ResultType":{"terms":{"field":"_index"}}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"begin_registratie":"2026-02-22T20:49:44.193372","beschrijving":"Focus
        station avoid.","verschijningsvorm":"may","identificatie":"6b37450e-aaab-495b-8f1a-20f96cc87b85","bronorganisatie":"Mills-Henry","link":"http://torres.com/","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://www.conley-stone.info/","taal":"nds","verzenddatum":"2026-02-05","auteur":"Courtney
        Kelly","formaat":"mp3","titel":"Peace life forget Congress community rule
        think.","vertrouwelijkheidaanduiding":"land","informatieobjecttype":"I","bestandsnaam":"easy.webm","ontvangstdatum":"2026-02-02","creatiedatum":"2025-01-14","status":"list"},"sort":[0.0,1736812800000]},{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_score":0.0,"_source":{"begin_registratie":"2026-02-19T13:44:05.665432","beschrijving":"System
        executive have face open throughout source nice.","verschijningsvorm":"conference","identificatie":"ffcba079-985e-4f74-a5e5-1e1396c11564","bronorganisatie":"Mitchell-Wright","link":"http://cooper-evans.com/","uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"http://smith.info/","taal":"mai","verzenddatum":"2026-02-13","auteur":"Sandra
        Johnson","formaat":"docx","titel":"Car church west move specific pattern.","vertrouwelijkheidaanduiding":"somebody","informatieobjecttype":"may","bestandsnaam":"process.tiff","ontvangstdatum":"2026-02-14","creatiedatum":"2024-02-11","status":"mind"},"sort":[0.0,1707609600000]}]},"aggregations":{"ResultType":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[{"key":"document","doc_count":2}]}}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
[...]
