interactions:
- request:
    body: '{"uuid":"6aac4fb2-d532-490b-bd6b-87b0257c0236","url":"http://www.garcia-mason.com/","identificatie":"eeb1e61c-cb6b-40c0-9a31-1c42c02461e4","bronorganisatie":"Hoover
      Group","creatiedatum":"2024-02-11","titel":"Lead within husband cost light mind
      standard.","auteur":"Gail Mejia","taal":"ro","begin_registratie":"2026-02-10T16:20:22.376070","informatieobjecttype":"around","vertrouwelijkheidaanduiding":"tree","status":"city","formaat":"gif","bestandsnaam":"break.flac","link":"http://www.burns.com/","beschrijving":"If
      contain adult. Available learn know should although room.","ontvangstdatum":"2026-01-25","verzenddatum":"2026-02-11","verschijningsvorm":"successful"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"6aac4fb2-d532-490b-bd6b-87b0257c0236","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":2,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/6aac4fb2-d532-490b-bd6b-87b0257c0236
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: '{"uuid":"62fceb92-98bd-475c-b184-49ee8a274787","url":"http://wright-mccullough.biz/","identificatie":"abd5b434-9160-4302-8490-84c31bbaebd4","bronorganisatie":"Mckinney-Jones","creatiedatum":"2022-12-10","titel":"Theory
      over walk anything hear and who describe.","auteur":"Jessica Knight","taal":"byn","begin_registratie":"2026-02-15T12:14:35.531213","informatieobjecttype":"recently","vertrouwelijkheidaanduiding":"understand","status":"child","formaat":"html","bestandsna[...]
- request:
    body: '{"uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://parker.com/","identificatie":"614459e9-01f7-47fc-9df3-9c8490fba460","bronorganisatie":"Aguirre
      and Sons","creatiedatum":"2025-01-14","titel":"Reflect here build understand
      in number ground.","auteur":"Dalton Young","taal":"yi","begin_registratie":"2026-02-09T23:15:56.604275","informatieobjecttype":"bad","vertrouwelijkheidaanduiding":"marriage","status":"despite","formaat":"mov","bestandsnaam":"compare[...]
- request:
    body: '{"query":{"function_score":{"functions":[{"gauss":{"begin_registratie":{"origin":"now","scale":"15d","offset":"7d","decay":0.5}}}],"query":{"bool":{"filter":[{"range":{"creatiedatum":{"gte":"2024-02-11","lte":null}}}]}},"score_mode":"multiply"}},"sort":["_score",{"creatiedatum":{"order":"desc"}}],"from":0,"size":10}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: POST
    uri: http://localhost:9201/document/_search
  response:
    body:
      string: '{"took":1,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":{"value":2,"relation":"eq"},"max_score":null,"hits":[{"_index":"document","_id":"ef1dead2-e0f8-45be-acf7-3583adc14906","_score":0.0,"_source":{"begin_registratie":"2026-02-09T23:15:56.604275","beschrijving":"Generation
        general machine give seem sound. Fish will past issue choice.","verschijningsvorm":"six","identificatie":"614459e9-01f7-47fc-9df3-9c8490fba460","bronorganisatie":"Aguirre
        and Sons","link":"https://kidd-ellis.net/","uuid":"ef1dead2-e0f8-45be-acf7-3583adc14906","url":"https://parker.com/","taal":"yi","verzenddatum":"2026-02-20","auteur":"Dalton
        Young","formaat":"mov","titel":"Reflect here build und[...]
[...]
