interactions:
- request:
    body: '{"uuid":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","url":"https://bauer-graves.com/","identificatie":"cf5908b9-5791-4a45-92bc-f760555ef875","bronorganisatie":"Hill
      and Sons","creatiedatum":"2026-02-03","titel":"While understand claim pretty.","auteur":"Yolanda
      Foster","taal":"mi","begin_registratie":"2026-01-28T18:10:42.944513+00:00","informatieobjecttype":"address","vertrouwelijkheidaanduiding":"simple","status":"create","formaat":"jpeg","bestandsnaam":"and.css","link":"http://solis-pena.org/","beschrijving":"Water
      near future next. Of relate prepare price song word back. Seat rock old.","ontvangstdatum":"2026-01-31","verzenddatum":"2026-01-28","verschijningsvorm":"born"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326
  response:
    body:
      string: '{"_index":"document","_id":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-01-28T18:10:42.944513+00:00","beschrijving":"Water
        near future next. Of relate prepare price song word back. Seat rock old.","verschijningsvorm":"born","identificatie":"cf5908b9-5791-4a45-92bc-f760555ef875","bronorganisatie":"Hill
        and Sons","link":"http://solis-pena.org/","uuid":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","url":"https://bauer-graves.com/","taal":"mi","verzenddatum":"2026-01-28","auteur":"Yolanda
        Foster","formaat":"jpeg","titel":"While understand claim pretty.","vertrouwelijkheidaanduiding":"simple","informatieobjecttype":"address","bestandsnaam":"and.css","ontvangstdatum":"2026-01-31","creatiedatum":"2026-02-03","status":"create"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
