interactions:
- request:
    body: '{"uuid":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","url":"http://edwards.biz/","identificatie":"be48b42a-9ffe-49ef-be79-922b2f5cd689","bronorganisatie":"Burke
      LLC","creatiedatum":"2026-02-15","titel":"Usually month thank understand official
      star.","auteur":"Adam Jimenez","taal":"zu","begin_registratie":"2026-02-11T07:29:30.453276+00:00","informatieobjecttype":"apply","vertrouwelijkheidaanduiding":"standard","status":"maybe","formaat":"tiff","bestandsnaam":"party.bmp","link":"http://erickson.net/","beschrijving":"Able
      account born itself without open church. Stage ground me.","ontvangstdatum":"2026-01-28","verzenddatum":"2026-02-04","verschijningsvorm":"always"}'
    headers:
      content-type:
      - application/vnd.elasticsearch+json; compatible-with=8
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: PUT
    uri: http://localhost:9201/document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326?pipeline=document_attachment&refresh=wait_for
  response:
    body:
      string: '{"_index":"document","_id":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","_version":1,"result":"created","_shards":{"total":2,"successful":1,"failed":0},"_seq_no":0,"_primary_term":1}'
    headers:
      Location:
      - /document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-elastic-client-meta:
      - es=8.19.3,py=3.14.3,t=8.17.1,ur=2.6.3
    method: GET
    uri: http://localhost:9201/document/_doc/0c5730c7-17ed-42a7-bc3b-5ee527ef3326
  response:
    body:
      string: '{"_index":"document","_id":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","_version":1,"_seq_no":0,"_primary_term":1,"found":true,"_source":{"begin_registratie":"2026-02-11T07:29:30.453276+00:00","beschrijving":"Able
        account born itself without open church. Stage ground me.","verschijningsvorm":"always","identificatie":"be48b42a-9ffe-49ef-be79-922b2f5cd689","bronorganisatie":"Burke
        LLC","link":"http://erickson.net/","uuid":"0c5730c7-17ed-42a7-bc3b-5ee527ef3326","url":"http://edwards.biz/","taal":"zu","verzenddatum":"2026-02-04","auteur":"Adam
        Jimenez","formaat":"tiff","titel":"Usually month thank understand official
        star.","vertrouwelijkheidaanduiding":"standard","informatieobjecttype":"apply","bestandsnaam":"party.bmp","ontvangstdatum":"2026-01-28","creatiedatum":"2026-02-15","status":"maybe"}}'
    headers:
      X-elastic-product:
      - Elasticsearch
      content-type:
      - application/vnd.elasticsearch+json;compatible-with=8
    status:
      code: 200
      message: OK
version: 1
